# README.md

###For each pt with an ADT duration, find all T test results within

# Step1, read from spreadsheet, clean up, and get statistics

In [104]:
import numpy as np
import pandas as pd
import sys, getopt
import csv
from datetime import datetime
from datetime import timedelta, date
import itertools

from matplotlib import pyplot
from pylab import *
import matplotlib.pyplot as plt

%matplotlib inline  
import seaborn as sns

In [105]:
#df1=pd.read_excel("bigcohort_bothok_new.xlsx", header=0)
df1.fillna('', inplace=True)
#df1['inital_ADT_end_date'] = pd.to_datetime(df1['inital_ADT_end_date'])

df1=pd.read_csv("bigcohort_bothok_new.csv", header=0)
df1.fillna('', inplace=True)

df2=pd.read_excel("pca_tresults_20210119_BP_fixed.xlsx", header=0)
#df3=pd.read_csv("just_start_empty.csv", header=0)

In [106]:
df1[:5]

,person_id,inital_ADT_start_date,inital_ADT_end_date,Inital_ADT_timewindow,Inital_ADT_time_window_days,index1
0,2,2009-02-26,2017-02-01,2897 days 00:00:00.000000000,2897.0,0
1,13,2010-06-17,2018-05-17,2891 days 00:00:00.000000000,2891.0,2
2,18,2013-11-12,2014-03-13,121 days 00:00:00.000000000,121.0,3
3,22,2010-09-27,2017-04-24,2401 days 00:00:00.000000000,2401.0,4
4,25,2013-11-12,2014-02-18,98 days 00:00:00.000000000,98.0,5

In [107]:
df2[:5]

,person_id,cancer_type_id,year_of_diagnosis,month_of_diagnosis,day_of_diagnosis,dx_date,result_date,loinc_code,source_test_name,test_results
0,2,2,2003,1.0,7.0,2003-01-07,2006-09-05,49041-7,TESTOSTERONE,351.0
1,2,2,2003,1.0,7.0,2003-01-07,2007-01-09,49041-7,TESTOSTERONE,304.0
2,2,2,2003,1.0,7.0,2003-01-07,2007-05-17,49041-7,TESTOSTERONE,259.0
3,2,2,2003,1.0,7.0,2003-01-07,2007-06-12,49041-7,TESTOSTERONE,382.0
4,2,2,2003,1.0,7.0,2003-01-07,2007-06-28,49041-7,TESTOSTERONE,439.0

In [108]:
adt_pt_list=df1["person_id"].to_list()

df_tvalue_grouped=df2.groupby(["person_id"]).size().reset_index(name='counts')
list_pt_test=df_tvalue_grouped["person_id"].to_list()
print("")

overlap_list=[x for x in adt_pt_list if x in  list_pt_test]

print("pt number in the adt table is:")
print(len(adt_pt_list))
print("")
print("pt number in the T value table is:")
print(len(list_pt_test))
print("")
print("pt number overlapping is:")
print(len(overlap_list))

pt number in the adt table is:
940

pt number in the T value table is:
4490

pt number overlapping is:
940

In [151]:
index_list=df1.columns
index_list

Index(['person_id', 'inital_ADT_start_date', 'inital_ADT_end_date',
       'Inital_ADT_timewindow', 'Inital_ADT_time_window_days', 'index1'],
      dtype='object')

In [152]:
index2_list=df2.columns
index2_list

Index(['person_id', 'cancer_type_id', 'year_of_diagnosis',
       'month_of_diagnosis', 'day_of_diagnosis', 'dx_date', 'result_date',
       'loinc_code', 'source_test_name', 'test_results'],
      dtype='object')

In [153]:
y=2

df1_pt=df1[(df1["person_id"] == y)]
df2_pt=df2[(df2["person_id"] == y)]

In [154]:
df1_pt

,person_id,inital_ADT_start_date,inital_ADT_end_date,Inital_ADT_timewindow,Inital_ADT_time_window_days,index1
0,2,2009-02-26,2017-02-01,2897 days 00:00:00.000000000,2897.0,0

In [155]:
df1_pt.inital_ADT_start_date

0   2009-02-26
Name: inital_ADT_start_date, dtype: datetime64[ns]

In [156]:
df2_pt

,person_id,cancer_type_id,year_of_diagnosis,month_of_diagnosis,day_of_diagnosis,dx_date,result_date,loinc_code,source_test_name,test_results
0,2,2,2003,1.0,7.0,2003-01-07,2006-09-05,49041-7,TESTOSTERONE,351.00
1,2,2,2003,1.0,7.0,2003-01-07,2007-01-09,49041-7,TESTOSTERONE,304.00
2,2,2,2003,1.0,7.0,2003-01-07,2007-05-17,49041-7,TESTOSTERONE,259.00
3,2,2,2003,1.0,7.0,2003-01-07,2007-06-12,49041-7,TESTOSTERONE,382.00
4,2,2,2003,1.0,7.0,2003-01-07,2007-06-28,49041-7,TESTOSTERONE,439.00
...,...,...,...,...,...,...,...,...,...,...
77,2,2,2003,1.0,7.0,2003-01-07,2017-02-01,49041-7,TESTOSTERONE,15.64
78,2,2,2003,1.0,7.0,2003-01-07,2017-02-22,49041-7,TESTOSTERONE,7.72
79,2,2,2003,1.0,7.0,2003-01-07,2017-03-18,49041-7,TESTOSTERONE,11.29
80,2,2,2003,1.0,7.0,2003-01-07,2017-03-22,49041-7,TESTOSTERONE,11.14
81,2,2,2003,1.0,7.0,2003-01-07,2017-04-11,49041-7,TESTOSTERONE,4.80

In [157]:
def closest(lst, K): 
      return lst[min(range(len(lst)), key = lambda i: abs(lst[i] - K))]

In [158]:
df2_pt=df2[(df2["person_id"] == 2)]    
each_pt_tdates = df2_pt['result_date'].to_list()
#each_pt_tdates

In [159]:
adt_pt_list

[2,
 13,
 18,
 22,
 25,
 26,
 37,
 38,
 81,
 95,
 119,
 125,
 132,
 137,
 153,
 267,
 275,
 300,
 323,
 341,
 386,
 387,
 776,
 780,
 800,
 870,
 905,
 939,
 955,
 1181,
 1229,
 1231,
 1238,
 1257,
 1280,
 1503,
 1538,
 1583,
 1611,
 1618,
 1657,
 1658,
 1704,
 1881,
 1883,
 1887,
 1910,
 1934,
 1936,
 1964,
 2058,
 2061,
 2063,
 2088,
 2200,
 2237,
 2256,
 2278,
 2507,
 2526,
 2557,
 2561,
 2590,
 2605,
 2623,
 2628,
 2652,
 2655,
 2660,
 2683,
 2713,
 3030,
 3079,
 3084,
 3085,
 3129,
 3131,
 3155,
 3177,
 3181,
 3354,
 3385,
 3396,
 3415,
 3419,
 3574,
 3576,
 3578,
 3618,
 3619,
 3666,
 3667,
 3697,
 3854,
 3874,
 3905,
 3920,
 3951,
 3976,
 3993,
 3995,
 4056,
 4075,
 4208,
 4211,
 4231,
 4235,
 4255,
 4257,
 4275,
 4316,
 4318,
 4319,
 4562,
 4595,
 4626,
 4627,
 4667,
 4670,
 4717,
 4763,
 4793,
 4795,
 4854,
 4855,
 4876,
 4959,
 5014,
 5021,
 5041,
 5042,
 5043,
 5049,
 5052,
 5181,
 5229,
 5496,
 5498,
 5561,
 5630,
 5761,
 5763,
 5771,
 5791,
 5870,
 5872,
 5873,
 5875,
 5900,
 6043,
 6056,
 6060,
 6077,
 6078,
 6104,
 6162,
 6212,
 6237,
 6241,
 6268,
 6405,
 6445,
 6475,
 6542,
 6656,
 6794,
 6841,
 6846,
 6894,
 6933,
 6955,
 6958,
 6963,
 6997,
 7207,
 7236,
 7237,
 7268,
 7295,
 7532,
 7565,
 7611,
 7615,
 7682,
 7798,
 7870,
 7873,
 7900,
 7977,
 8020,
 8024,
 8161,
 8194,
 8224,
 8272,
 8302,
 8303,
 8310,
 8330,
 8360,
 8420,
 8544,
 8566,
 8602,
 8649,
 8717,
 8779,
 8890,
 8990,
 9048,
 9053,
 9054,
 9097,
 9173,
 9232,
 9233,
 9437,
 9477,
 9511,
 9541,
 9577,
 9741,
 9765,
 9888,
 9963,
 9972,
 9975,
 10084,
 10085,
 10114,
 10124,
 10203,
 10226,
 10229,
 10276,
 10471,
 10472,
 10527,
 10578,
 10658,
 10681,
 10853,
 10855,
 10891,
 10903,
 10945,
 10994,
 10995,
 11199,
 11250,
 11276,
 11284,
 11461,
 11482,
 11543,
 11565,
 11595,
 11613,
 11628,
 11649,
 11651,
 11709,
 11797,
 11821,
 11832,
 11861,
 11876,
 11907,
 11930,
 11933,
 12031,
 12116,
 12182,
 12185,
 12187,
 12207,
 12208,
 12275,
 12342,
 12369,
 12374,
 12396,
 12399,
 12561,
 12563,
 12596,
 12598,
 12652,
 12898,
 12947,
 12948,
 13074,
 13078,
 13166,
 13170,
 13189,
 13258,
 13274,
 13452,
 13469,
 13507,
 13554,
 13555,
 13609,
 13613,
 13728,
 13729,
 13765,
 13858,
 13859,
 13907,
 13912,
 14096,
 14126,
 14192,
 14196,
 14217,
 14221,
 14242,
 14250,
 14278,
 14287,
 14471,
 14481,
 14486,
 14488,
 14536,
 14678,
 14750,
 14798,
 14804,
 14854,
 14900,
 14910,
 14990,
 14993,
 15082,
 15122,
 15149,
 15152,
 15172,
 15174,
 15185,
 15202,
 15231,
 15456,
 15612,
 15887,
 15910,
 15962,
 16116,
 16120,
 16121,
 16172,
 16175,
 16177,
 16179,
 16215,
 16229,
 16267,
 16273,
 16457,
 16477,
 16487,
 16546,
 16550,
 16558,
 16581,
 16630,
 16872,
 16873,
 16957,
 17004,
 17033,
 17065,
 17165,
 17178,
 17206,
 17321,
 17341,
 17395,
 17419,
 17558,
 17559,
 17580,
 17638,
 17662,
 17687,
 17709,
 17710,
 17759,
 17782,
 17793,
 17865,
 18010,
 18025,
 18031,
 18071,
 18225,
 18253,
 18303,
 18356,
 18357,
 18362,
 18380,
 18450,
 18471,
 18669,
 18764,
 18771,
 18782,
 18798,
 18801,
 18821,
 19045,
 19068,
 19096,
 19179,
 19342,
 19373,
 19438,
 19461,
 19466,
 19537,
 19539,
 19541,
 19566,
 19567,
 19579,
 19735,
 19917,
 19919,
 19967,
 19995,
 20015,
 20022,
 20046,
 20047,
 20074,
 20270,
 20296,
 20297,
 20328,
 20403,
 20556,
 20581,
 20607,
 20615,
 20639,
 20663,
 20694,
 20697,
 20720,
 20860,
 20864,
 20868,
 20929,
 20930,
 20931,
 20974,
 20983,
 21003,
 21047,
 21071,
 21341,
 21351,
 21389,
 21480,
 21523,
 21536,
 21543,
 21571,
 21606,
 21613,
 21618,
 21655,
 21656,
 21762,
 21764,
 21779,
 21831,
 21832,
 21932,
 21938,
 22100,
 22103,
 22329,
 22330,
 22334,
 22380,
 22384,
 22412,
 22483,
 22495,
 22509,
 22567,
 22676,
 22691,
 22701,
 22754,
 22755,
 22817,
 22830,
 22833,
 22859,
 22860,
 22862,
 22895,
 23256,
 23289,
 23305,
 23306,
 23332,
 23335,
 23672,
 23942,
 23945,
 23979,
 24026,
 24108,
 24112,
 24137,
 24138,
 24143,
 24168,
 24222,
 24225,
 24226,
 24383,
 24474,
 24562,
 24582,
 24636,
 24654,
 24782,
 24813,
 24830,
 24877,
 24885,
 24902,
 24923,
 25010,
 25061,
 25085,
 25332,
 25333,
 25338,
 25365,
 25373,
 25395,
 25396,
 25397,
 25424,
 25425,
 25586,
 25589,
 25679,
 25732,
 25753,
 25809,
 25828,
 25830,
 25837,
 25861,
 25871,
 25882,
 25886,
 26071,
 26082,
 26334,
 26366,
 26367,
 26371,
 26398,
 26610,
 26630,
 26687,
 26716,
 26735,
 26820,
 26854,
 26875,
 26906,
 27161,
 27170,
 27180,
 27184,
 27207,
 27211,
 27252,
 27255,
 27277,
 27282,
 27399,
 27458,
 27466,
 27515,
 27543,
 27563,
 27581,
 27583,
 27611,
 27619,
 27625,
 27656,
 27661,
 27685,
 27710,
 27745,
 27766,
 27769,
 27788,
 27937,
 27944,
 27964,
 27965,
 27966,
 28071,
 28075,
 28077,
 28079,
 28125,
 28155,
 28209,
 28219,
 28250,
 28445,
 28452,
 28474,
 28496,
 28630,
 28634,
 28662,
 28709,
 28710,
 28712,
 28714,
 28716,
 28769,
 28827,
 28829,
 29029,
 29117,
 29120,
 29282,
 29288,
 29307,
 29356,
 29357,
 29359,
 29470,
 29475,
 29507,
 29550,
 29575,
 29600,
 29624,
 29630,
 29700,
 29822,
 29905,
 29956,
 30078,
 30150,
 30211,
 30231,
 30259,
 30277,
 30308,
 30453,
 30455,
 30488,
 30492,
 30526,
 30528,
 30554,
 30575,
 30592,
 30678,
 30680,
 30681,
 30689,
 30781,
 30816,
 30995,
 30996,
 30998,
 31025,
 31026,
 31074,
 31075,
 31131,
 31330,
 31363,
 31385,
 31409,
 31413,
 31430,
 31489,
 31492,
 31635,
 31654,
 31676,
 31677,
 31712,
 31727,
 31744,
 31820,
 31839,
 31894,
 31918,
 31921,
 31927,
 31933,
 32081,
 32113,
 32116,
 32191,
 32230,
 32231,
 32277,
 32280,
 32421,
 32426,
 32660,
 32679,
 32740,
 32774,
 32797,
 32815,
 32877,
 33086,
 33106,
 33133,
 33160,
 33255,
 33270,
 33442,
 33477,
 33478,
 33481,
 33500,
 33510,
 33531,
 33604,
 33871,
 33873,
 33886,
 33977,
 33980,
 33981,
 34001,
 34003,
 34054,
 34207,
 34414,
 34433,
 34462,
 34494,
 34522,
 34524,
 34525,
 34528,
 34546,
 34547,
 34567,
 34570,
 34574,
 34769,
 34799,
 34807,
 34916,
 34967,
 34970,
 34998,
 34999,
 35103,
 35115,
 35131,
 35264,
 35343,
 35344,
 35397,
 35454,
 35484,
 35522,
 35647,
 35664,
 35692,
 35715,
 35723,
 35774,
 35775,
 35799,
 35824,
 35828,
 35847,
 35869,
 35932,
 36062,
 36105,
 36190,
 36238,
 36249,
 36369,
 36403,
 36404,
 36508,
 36535,
 36537,
 36556,
 36584,
 36589,
 44936,
 47879,
 49272,
 77586,
 91078,
 146993,
 165124,
 165621,
 165775,
 166153,
 167118,
 167219,
 167247,
 167358,
 167646,
 167847,
 167982,
 168095,
 168463,
 168598,
 169162,
 169188,
 169308,
 169351,
 169549,
 169808,
 169834,
 170048,
 170120,
 170341,
 170601,
 170686,
 170713,
 171182,
 171226,
 171240,
 171441,
 171442,
 171741,
 171789,
 172448,
 173013,
 173883,
 174044,
 174314,
 174400,
 174453,
 174677,
 175751,
 175984,
 176201,
 176291,
 176393,
 176612,
 177083,
 177207,
 177972,
 178232,
 178373,
 178574,
 178660,
 180346,
 180615,
 180697,
 180780,
 180904,
 181092,
 181236,
 181268,
 181469,
 181616,
 182302,
 182373,
 182400,
 182625,
 183220,
 183255,
 183280,
 183310,
 183348,
 183722,
 184018,
 184057,
 184239,
 184641,
 184804,
 185086,
 185581,
 186570,
 186713,
 186749,
 186766,
 186797,
 187189,
 187363,
 187370,
 187900,
 188261,
 189405,
 190217,
 190287,
 190894,
 191117,
 191166,
 192449,
 193067,
 193515,
 193566,
 194098,
 194272,
 194338,
 194395,
 194665,
 196104,
 196207,
 197236,
 197384,
 197446,
 197664,
 197945,
 198103,
 199348,
 200563,
 201026,
 203209,
 203736,
 205144]

In [160]:
df1['inital_ADT_end_date'] = pd.to_datetime(df1['inital_ADT_end_date'])
df1['inital_ADT_start_date'] = pd.to_datetime(df1['inital_ADT_start_date'])

In [161]:
#pd.to_datetime(df1_pt['inital_ADT_end_date'], utc=False)
a=df1_pt['inital_ADT_start_date'].to_list()[0]
#df.dates.values.astype('M8[D]')
a

Timestamp('2009-02-26 00:00:00')

In [162]:
df1_pt=df1[(df1["person_id"] == 25)]
df1_pt

,person_id,inital_ADT_start_date,inital_ADT_end_date,Inital_ADT_timewindow,Inital_ADT_time_window_days,index1
4,25,2013-11-12,2014-02-18,98 days 00:00:00.000000000,98.0,5

In [163]:
if df1_pt.inital_ADT_end_date.empty:
    print("fine")
if len(df1_pt.inital_ADT_end_date)==0:
    print("fine")

# Match T test date and value just before ADT <a class="anchor" id="second-bullet"></a>

In [165]:
result_before_list=[]

#for y in [12427]:
for y in adt_pt_list: 
    
    df1_pt=df1[(df1["person_id"] == y)]
    
    #if(df1_pt.inital_ADT_end_date.values.any()==""):  
    if len(df1_pt.inital_ADT_end_date)==0:
        a='NaN'
        b='NaN'
        gap='NaN'
        tdate='NaN'
        tvalue='NaN'
        N_t_dates='NaN'
        N_t_dates_afterADT='NaN'
    
    #if(df1_pt.inital_ADT_start_date.values.any()!=""):
    if len(df1_pt.inital_ADT_start_date)!=0:
        a=df1_pt['inital_ADT_start_date'].to_list()[0]
        adt_end=df1_pt['inital_ADT_end_date'].to_list()[0] 
        #pick up initial ADT window 
        gap=df1_pt['Inital_ADT_time_window_days'].to_list()[0] 
    
        df2_pt=df2[(df2["person_id"] == y)]    
        each_pt_tdates = df2_pt['result_date'].to_list()

        ##get rid of nan
        cleaned_a=[]
        cleaned_a= [x for x in each_pt_tdates if str(x) != 'NaN']
        cleaned_aa= [x for x in cleaned_a if str(x) != 'nan']
        cleaned_aaa= [x for x in cleaned_aa if str(x) != 'NaT']
        N_t_dates=len(cleaned_aaa)

        #only keep the ones before ADT start date, including on the day
        cleaned_aaaa= [x for x in cleaned_aaa if x <a]
        
        start_sorted_bin=sorted(cleaned_aaaa)
        N_t_dates_beforeADT=len(cleaned_aaaa)
    
        if(len(start_sorted_bin)==0):
            tdate='NaN' 
            tvalue="NaN"

        if(len(start_sorted_bin)>0):
            #apply the closet function
            #tdate=closest(start_sorted_bin,a_plus_6mons)
            tdate=closest(start_sorted_bin,a)
            #tvalue=df2_pt.loc[df['result_date'] == tdate].test_result
    
            #pick up T-value for T-date
            df2_pt_pick=df2_pt[(df2_pt['result_date']==tdate)]
            tvalue=df2_pt_pick.test_results.values[0]
    
    print(y, a, gap,tdate, tvalue,N_t_dates,N_t_dates_beforeADT)
    result_per_pt=[y, a, adt_end, gap, tdate, tvalue,N_t_dates,N_t_dates_beforeADT]
    result_before_list.append(result_per_pt)

2 2009-02-26 00:00:00 2897.0 2009-02-09 00:00:00 274.18 82 20
13 2010-06-17 00:00:00 2891.0 2009-09-18 00:00:00 23.72 23 2
18 2013-11-12 00:00:00 121.0 NaN NaN 5 0
22 2010-09-27 00:00:00 2401.0 NaN NaN 3 0
25 2013-11-12 00:00:00 98.0 2013-10-15 00:00:00 31.54 12 1
26 2014-11-26 00:00:00 553.0 NaN NaN 14 0
37 2010-09-29 00:00:00 2165.0 NaN NaN 23 0
38 2015-11-18 00:00:00 243.0 2015-10-28 00:00:00 222.13 20 4
81 2013-09-25 00:00:00 188.0 NaN NaN 12 0
95 2011-01-05 00:00:00 1204.0 NaN NaN 25 0
119 2013-07-02 00:00:00 92.0 2013-06-17 00:00:00 403.1 12 2
125 2016-01-25 00:00:00 1682.0 NaN NaN 18 0
132 2015-04-13 00:00:00 457.0 NaN NaN 1 0
137 2014-02-01 00:00:00 485.0 2013-07-05 00:00:00 276.45 19 1
153 2014-07-02 00:00:00 2051.0 NaN NaN 2 0
267 2015-05-19 00:00:00 359.0 NaN NaN 35 0
275 2019-12-09 00:00:00 281.0 2019-05-23 00:00:00 252.0 12 9
300 2016-09-17 00:00:00 379.0 NaN NaN 14 0
323 2015-09-09 00:00:00 364.0 2015-07-22 00:00:00 26.74 7 1
341 2016-05-18 00:00:00 366.0 2016-04-26 00:00:00 349.32 39 31
386 2016-09-06 00:00:00 148.0 NaN NaN 12 0
387 2018-05-29 00:00:00 84.0 NaN NaN 4 0
776 2018-07-17 00:00:00 76.0 NaN NaN 1 0
780 2010-09-02 00:00:00 28.0 2010-03-18 00:00:00 294.68 3 1
800 2010-07-12 00:00:00 203.0 2010-03-29 00:00:00 41.33 6 3
870 2017-06-14 00:00:00 121.0 NaN NaN 10 0
905 2016-01-29 00:00:00 168.0 2015-11-25 00:00:00 20.95 3 2
939 2017-11-01 00:00:00 426.0 NaN NaN 1 0
955 2018-10-10 00:00:00 462.0 2018-07-10 00:00:00 148.0 1 1
1181 2012-08-30 00:00:00 657.0 2012-06-29 00:00:00 413.53 16 4
1229 2011-01-03 00:00:00 576.0 2010-11-22 00:00:00 10.0 3 2
1231 2014-12-01 00:00:00 1668.0 NaN NaN 19 0
1238 2013-05-09 00:00:00 455.0 2012-10-17 00:00:00 16.27 5 2
1257 2014-10-02 00:00:00 279.0 NaN NaN 14 0
1280 2019-01-08 00:00:00 90.0 2016-08-16 00:00:00 725.97 1 1
1503 2018-05-02 00:00:00 208.0 NaN NaN 6 0
1538 2018-09-12 00:00:00 80.0 NaN NaN 1 0
1583 2012-09-05 00:00:00 371.0 2012-08-22 00:00:00 238.11 6 2
1611 2018-01-01 00:00:00 1008.0 NaN NaN 9 0
1618 2016-12-19 00:00:00 1025.0 NaN NaN 9 0
1657 2011-10-04 00:00:00 3296.0 2011-08-15 00:00:00 183.17 18 1
1658 2015-09-22 00:00:00 244.0 2015-09-21 00:00:00 384.15 8 1
1704 2015-02-17 00:00:00 108.0 NaN NaN 13 0
1881 2013-02-04 00:00:00 665.0 NaN NaN 6 0
1883 2015-02-11 00:00:00 460.0 NaN NaN 6 0
1887 2016-08-09 00:00:00 418.0 2007-07-02 00:00:00 449.0 3 3
1910 2014-01-07 00:00:00 2430.0 NaN NaN 12 0
1934 2014-04-02 00:00:00 1489.0 NaN NaN 5 0
1936 2017-05-03 00:00:00 797.0 2016-04-07 00:00:00 498.57 2 2
1964 2015-02-26 00:00:00 1546.0 NaN NaN 6 0
2058 2017-06-11 00:00:00 365.0 NaN NaN 8 0
2061 2016-08-02 00:00:00 918.0 NaN NaN 7 0
2063 2017-11-15 00:00:00 125.0 2016-12-20 00:00:00 349.75 11 1
2088 2018-12-17 00:00:00 91.0 NaN NaN 1 0
2200 2014-06-16 00:00:00 140.0 2014-05-21 00:00:00 127.98 4 2
2237 2018-05-21 00:00:00 882.0 2018-04-18 00:00:00 4.33 12 5
2256 2011-08-31 00:00:00 287.0 NaN NaN 2 0
2278 2016-08-05 00:00:00 1030.0 2016-08-01 00:00:00 367.75 14 1
2507 2018-01-08 00:00:00 619.0 NaN NaN 7 0
2526 2014-05-21 00:00:00 2247.0 NaN NaN 17 0
2557 2013-01-17 00:00:00 2812.0 NaN NaN 20 0
2561 2011-08-02 00:00:00 463.0 2011-04-20 00:00:00 10.0 4 2
2590 2013-05-22 00:00:00 2703.0 NaN NaN 15 0
2605 2018-08-13 00:00:00 259.0 2018-04-16 00:00:00 15.23 9 3
2623 2017-12-12 00:00:00 660.0 2017-11-28 00:00:00 679.66 15 9
2628 2018-11-09 00:00:00 710.0 NaN NaN 1 0
2652 2019-02-22 00:00:00 99.0 2019-01-25 00:00:00 238.87 6 2
2655 2017-06-08 00:00:00 152.0 2017-05-16 00:00:00 583.37 15 1
2660 2018-07-03 00:00:00 368.0 2018-06-19 00:00:00 540.49 8 2
2683 2015-04-13 00:00:00 681.0 2015-04-06 00:00:00 109.34 30 6
2713 2016-03-17 00:00:00 217.0 NaN NaN 1 0
3030 2015-03-12 00:00:00 2041.0 2015-03-02 00:00:00 181.89 9 2
3079 2017-12-01 00:00:00 1071.0 NaN NaN 6 0
3084 2018-03-04 00:00:00 565.0 NaN NaN 4 0
3085 2018-04-30 00:00:00 247.0 2009-02-19 00:00:00 506.1 1 1
3129 2015-10-20 00:00:00 819.0 2015-10-08 00:00:00 70.36 24 11
3131 2018-05-14 00:00:00 287.0 2018-03-12 00:00:00 4.33 19 4
3155 2014-09-10 00:00:00 691.0 NaN NaN 10 0
3177 2010-06-08 00:00:00 749.0 NaN NaN 9 0
3181 2018-08-24 00:00:00 14.0 NaN NaN 1 0
3354 2013-07-23 00:00:00 1549.0 NaN NaN 14 0
3385 2015-03-06 00:00:00 704.0 NaN NaN 11 0
3396 2011-09-11 00:00:00 1734.0 NaN NaN 1 0
3415 2014-05-01 00:00:00 365.0 NaN NaN 2 0
3419 2014-06-05 00:00:00 130.0 NaN NaN 1 0
3574 2016-05-31 00:00:00 1535.0 NaN NaN 35 0
3576 2018-09-20 00:00:00 440.0 NaN NaN 7 0
3578 2013-02-28 00:00:00 193.0 NaN NaN 4 0
3618 2015-06-18 00:00:00 1716.0 NaN NaN 12 0
3619 2015-09-16 00:00:00 981.0 NaN NaN 19 0
3666 2013-12-16 00:00:00 2487.0 NaN NaN 13 0
3667 2012-01-01 00:00:00 144.0 NaN NaN 1 0
3697 2019-09-12 00:00:00 274.0 2012-03-07 00:00:00 305.12 2 1
3854 2016-03-17 00:00:00 173.0 NaN NaN 2 0
3874 2007-07-10 00:00:00 3480.0 NaN NaN 23 0
3905 2014-10-01 00:00:00 580.0 NaN NaN 7 0
3920 2013-03-01 00:00:00 703.0 2013-01-14 00:00:00 271.22 4 2
3951 2017-01-11 00:00:00 637.0 NaN NaN 11 0
3976 2018-10-29 00:00:00 92.0 2018-10-19 00:00:00 1255.0 1 1
3993 2018-02-01 00:00:00 365.0 2017-12-11 00:00:00 8.46 8 2
3995 2017-10-30 00:00:00 304.0 NaN NaN 8 0
4056 2012-05-31 00:00:00 91.0 2012-04-30 00:00:00 474.12 3 1
4075 2018-10-16 00:00:00 44.0 NaN NaN 1 0
4208 2014-07-08 00:00:00 714.0 2014-06-05 00:00:00 10.0 17 15
4211 2009-11-01 00:00:00 1024.0 NaN NaN 3 0
4231 2016-06-14 00:00:00 1610.0 2016-05-31 00:00:00 457.3 19 1
4235 2011-12-13 00:00:00 112.0 2011-09-19 00:00:00 655.6 3 2
4255 2015-07-01 00:00:00 896.0 NaN NaN 15 0
4257 2013-10-16 00:00:00 2099.0 2011-09-20 00:00:00 193.02 26 2
4275 2019-02-04 00:00:00 58.0 NaN NaN 2 0
4316 2014-10-31 00:00:00 251.0 2014-10-29 00:00:00 8.52 2 1
4318 2019-06-24 00:00:00 483.0 2019-05-13 00:00:00 284.44 17 12
4319 2011-02-03 00:00:00 1613.0 NaN NaN 23 0
4562 2017-07-11 00:00:00 1199.0 NaN NaN 2 0
4595 2014-11-26 00:00:00 279.0 2014-09-19 00:00:00 37.48 11 1
4626 2019-07-23 00:00:00 380.0 2019-07-16 00:00:00 287.0 3 1
4627 2016-11-30 00:00:00 954.0 NaN NaN 2 0
4667 2013-06-20 00:00:00 105.0 NaN NaN 8 0
4670 2018-07-10 00:00:00 857.0 NaN NaN 1 0
4717 2010-11-12 00:00:00 3660.0 2008-07-15 00:00:00 25.58 38 1
4763 2017-02-21 00:00:00 1298.0 2015-04-03 00:00:00 308.92 2 2
4793 2010-05-17 00:00:00 37.0 2010-05-03 00:00:00 10.0 5 2
4795 2015-09-01 00:00:00 374.0 NaN NaN 3 0
4854 2014-10-13 00:00:00 819.0 2012-11-07 00:00:00 15.62 35 1
4855 2015-05-20 00:00:00 168.0 NaN NaN 3 0
4876 2016-09-01 00:00:00 349.0 NaN NaN 13 0
4959 2011-04-18 00:00:00 618.0 2011-03-30 00:00:00 104.76 1 1
5014 2015-03-01 00:00:00 792.0 2011-11-09 00:00:00 750.16 8 2
5021 2013-12-05 00:00:00 2456.0 2013-11-04 00:00:00 217.91 17 1
5041 2011-04-11 00:00:00 189.0 NaN NaN 12 0
5042 2012-03-21 00:00:00 103.0 2012-02-28 00:00:00 10.0 2 2
5043 2018-03-20 00:00:00 529.0 2018-03-14 00:00:00 443.6 6 1
5049 2018-03-06 00:00:00 91.0 NaN NaN 1 0
5052 2015-08-20 00:00:00 1854.0 2015-08-17 00:00:00 63.53 5 1
5181 2018-10-23 00:00:00 398.0 NaN NaN 3 0
5229 2010-12-09 00:00:00 88.0 2010-12-02 00:00:00 5.94 1 1
5496 2020-03-02 00:00:00 199.0 NaN NaN 1 0
5498 2016-06-13 00:00:00 86.0 2016-05-23 00:00:00 345.37 4 1
5561 2018-04-13 00:00:00 434.0 2018-03-30 00:00:00 408.0 4 1
5630 2016-12-16 00:00:00 1334.0 2016-11-18 00:00:00 431.67 21 1
5761 2017-05-18 00:00:00 1238.0 2017-05-08 00:00:00 591.62 23 1
5763 2014-02-11 00:00:00 1546.0 2013-12-20 00:00:00 539.76 12 1
5771 2015-03-09 00:00:00 86.0 2014-07-30 00:00:00 217.06 1 1
5791 2019-03-06 00:00:00 270.0 2019-02-25 00:00:00 502.86 7 2
5870 2017-08-11 00:00:00 1169.0 2017-04-26 00:00:00 290.63 14 1
5872 2016-10-18 00:00:00 1224.0 NaN NaN 9 0
5873 2010-08-05 00:00:00 95.0 2010-04-19 00:00:00 240.84 5 1
5875 2017-09-01 00:00:00 311.0 2012-07-19 00:00:00 193.92 4 1
5900 2016-12-08 00:00:00 272.0 NaN NaN 1 0
6043 2013-08-27 00:00:00 38.0 NaN NaN 2 0
6056 2013-10-23 00:00:00 86.0 2013-08-02 00:00:00 10.0 1 1
6060 2016-11-23 00:00:00 1413.0 NaN NaN 10 0
6077 2017-11-06 00:00:00 1106.0 NaN NaN 18 0
6078 2015-11-18 00:00:00 1167.0 2015-11-11 00:00:00 129.82 20 1
6104 2011-05-09 00:00:00 98.0 2011-02-17 00:00:00 191.53 10 1
6162 2015-01-30 00:00:00 126.0 NaN NaN 9 0
6212 2013-07-17 00:00:00 182.0 NaN NaN 1 0
6237 2017-10-10 00:00:00 1130.0 2017-05-08 00:00:00 592.7 1 1
6241 2011-04-21 00:00:00 222.0 NaN NaN 5 0
6268 2019-10-23 00:00:00 84.0 2019-09-27 00:00:00 480.14 5 2
6405 2017-03-30 00:00:00 273.0 2017-03-23 00:00:00 504.45 2 1
6445 2015-12-03 00:00:00 334.0 NaN NaN 18 0
6475 2013-10-29 00:00:00 1242.0 NaN NaN 18 0
6542 2010-05-26 00:00:00 324.0 NaN NaN 1 0

6656 2016-06-20 00:00:00 192.0 NaN NaN 14 0
6794 2019-04-04 00:00:00 58.0 2019-02-25 00:00:00 342.96 3 1
6841 2011-10-03 00:00:00 3248.0 NaN NaN 6 0
6846 2015-03-03 00:00:00 1407.0 NaN NaN 14 0
6894 2004-04-02 00:00:00 3848.0 NaN NaN 10 0
6933 2016-02-01 00:00:00 1260.0 NaN NaN 1 0
6955 2015-06-15 00:00:00 366.0 NaN NaN 22 0
6958 2015-02-26 00:00:00 861.0 NaN NaN 8 0
6963 2019-06-07 00:00:00 455.0 2015-04-16 00:00:00 171.54 1 1
6997 2019-01-18 00:00:00 669.0 2014-10-10 00:00:00 146.9 1 1
7207 2016-11-04 00:00:00 649.0 NaN NaN 5 0
7236 2016-08-19 00:00:00 286.0 2016-08-03 00:00:00 698.89 24 1
7237 2018-07-17 00:00:00 815.0 NaN NaN 1 0
7268 2018-06-25 00:00:00 672.0 2018-06-18 00:00:00 269.03 8 1
7295 2014-03-31 00:00:00 701.0 2011-12-07 00:00:00 504.2 2 2
7532 2017-08-01 00:00:00 1123.0 2017-04-21 00:00:00 355.87 5 3
7565 2019-08-19 00:00:00 256.0 NaN NaN 3 0
7611 2015-02-17 00:00:00 1303.0 2015-01-28 00:00:00 212.29 34 5
7615 2011-07-18 00:00:00 1004.0 2011-06-09 00:00:00 466.3 12 4
7682 2018-11-14 00:00:00 291.0 2018-10-12 00:00:00 221.0 3 1
7798 2014-11-18 00:00:00 2177.0 2014-10-10 00:00:00 258.07 45 1
7870 2015-10-01 00:00:00 92.0 2013-07-11 00:00:00 360.41 5 1
7873 2016-01-01 00:00:00 1595.0 NaN NaN 26 0
7900 2014-03-28 00:00:00 887.0 NaN NaN 4 0
7977 2014-07-09 00:00:00 491.0 2014-07-02 00:00:00 379.43 6 1
8020 2018-05-23 00:00:00 557.0 2018-04-23 00:00:00 96.74 20 1
8024 2017-10-30 00:00:00 91.0 NaN NaN 5 0
8161 2013-10-01 00:00:00 1028.0 NaN NaN 13 0
8194 2012-01-09 00:00:00 700.0 2011-01-31 00:00:00 302.86 14 7
8224 2014-11-25 00:00:00 812.0 NaN NaN 6 0
8272 2016-08-05 00:00:00 70.0 2016-06-27 00:00:00 352.41 18 1
8302 2013-04-03 00:00:00 432.0 2013-03-20 00:00:00 492.45 22 1
8303 2010-11-03 00:00:00 504.0 NaN NaN 3 0
8310 2020-03-23 00:00:00 142.0 2020-01-27 00:00:00 260.34 5 1
8330 2011-02-04 00:00:00 167.0 NaN NaN 15 0
8360 2017-01-09 00:00:00 780.0 NaN NaN 9 0
8420 2018-08-29 00:00:00 338.0 NaN NaN 9 0
8544 2018-02-07 00:00:00 177.0 NaN NaN 4 0
8566 2015-03-31 00:00:00 91.0 NaN NaN 2 0
8602 2013-09-10 00:00:00 659.0 NaN NaN 18 0
8649 2010-06-07 00:00:00 3656.0 NaN NaN 1 0
8717 2017-04-21 00:00:00 307.0 2017-04-17 00:00:00 1101.67 30 6
8779 2016-08-25 00:00:00 973.0 NaN NaN 8 0
8890 2019-03-01 00:00:00 98.0 2017-01-26 00:00:00 515.44 1 1
8990 2008-01-01 00:00:00 1478.0 2004-03-25 00:00:00 37.0 1 1
9048 2016-03-15 00:00:00 188.0 NaN NaN 11 0
9053 2014-03-31 00:00:00 630.0 NaN NaN 1 0
9054 2018-07-26 00:00:00 144.0 NaN NaN 3 0
9097 2015-09-01 00:00:00 1893.0 NaN NaN 7 0
9173 2015-05-19 00:00:00 344.0 NaN NaN 1 0
9232 2016-05-16 00:00:00 122.0 2016-04-25 00:00:00 401.43 19 3
9233 2015-01-30 00:00:00 675.0 2015-01-16 00:00:00 157.83 10 1
9437 2017-07-31 00:00:00 175.0 NaN NaN 4 0
9477 2017-02-10 00:00:00 994.0 NaN NaN 17 0
9511 2014-04-25 00:00:00 737.0 NaN NaN 14 0
9541 2015-10-12 00:00:00 165.0 2015-09-22 00:00:00 287.33 4 1
9577 2011-08-01 00:00:00 3136.0 NaN NaN 1 0
9741 2014-04-01 00:00:00 1883.0 NaN NaN 36 0
9765 2015-04-01 00:00:00 1141.0 NaN NaN 8 0
9888 2017-09-14 00:00:00 1063.0 2017-09-11 00:00:00 15.09 7 2
9963 2020-08-19 00:00:00 82.0 NaN NaN 1 0
9972 2017-03-30 00:00:00 204.0 2017-02-10 00:00:00 350.47 9 7
9975 2017-10-09 00:00:00 162.0 2017-09-11 00:00:00 1072.51 13 2
10084 2018-06-05 00:00:00 178.0 NaN NaN 1 0
10085 2017-03-27 00:00:00 283.0 NaN NaN 1 0
10114 2019-11-18 00:00:00 269.0 2017-06-16 00:00:00 73.0 6 1
10124 2014-05-08 00:00:00 119.0 2011-11-22 00:00:00 318.56 5 4
10203 2018-07-25 00:00:00 203.0 NaN NaN 2 0
10226 2014-05-27 00:00:00 118.0 NaN NaN 9 0
10229 2017-08-04 00:00:00 1043.0 2017-05-24 00:00:00 508.1 3 3
10276 2018-11-01 00:00:00 741.0 NaN NaN 19 0
10471 2015-06-12 00:00:00 462.0 NaN NaN 11 0
10472 2011-06-29 00:00:00 887.0 2009-07-29 00:00:00 0.79 3 3
10527 2011-12-01 00:00:00 2254.0 NaN NaN 24 0
10578 2016-08-31 00:00:00 1218.0 NaN NaN 9 0
10658 2016-01-05 00:00:00 678.0 NaN NaN 10 0
10681 2015-03-01 00:00:00 822.0 NaN NaN 14 0
10853 2012-01-26 00:00:00 1811.0 NaN NaN 1 0
10855 2016-06-01 00:00:00 901.0 NaN NaN 32 0
10891 2018-02-21 00:00:00 29.0 NaN NaN 2 0
10903 2018-02-27 00:00:00 959.0 2017-12-14 00:00:00 703.95 4 2
10945 2018-04-17 00:00:00 688.0 2018-03-22 00:00:00 185.67 14 5
10994 2011-08-02 00:00:00 553.0 NaN NaN 3 0
10995 2016-02-12 00:00:00 68.0 NaN NaN 10 0
11199 2016-12-28 00:00:00 748.0 2014-05-09 00:00:00 21.37 14 2
11250 2018-01-31 00:00:00 936.0 NaN NaN 19 0
11276 2011-03-14 00:00:00 553.0 2011-02-14 00:00:00 160.66 2 1
11284 2017-01-03 00:00:00 1389.0 NaN NaN 1 0
11461 2012-01-01 00:00:00 731.0 NaN NaN 2 0
11482 2016-02-08 00:00:00 1536.0 2013-05-30 00:00:00 632.59 33 1
11543 2016-02-10 00:00:00 265.0 2016-02-04 00:00:00 554.08 8 2
11565 2017-03-17 00:00:00 1340.0 NaN NaN 18 0
11595 2016-06-29 00:00:00 483.0 2016-06-22 00:00:00 451.95 6 1
11613 2016-08-17 00:00:00 868.0 NaN NaN 5 0
11628 2018-08-13 00:00:00 791.0 NaN NaN 6 0
11649 2017-02-27 00:00:00 287.0 NaN NaN 7 0
11651 2018-06-13 00:00:00 877.0 NaN NaN 4 0
11709 2018-01-29 00:00:00 184.0 NaN NaN 1 0
11797 2017-05-05 00:00:00 179.0 NaN NaN 1 0
11821 2011-08-29 00:00:00 252.0 2011-05-05 00:00:00 522.7 11 7
11832 2016-04-18 00:00:00 1331.0 2016-03-21 00:00:00 589.62 10 3
11861 2018-04-06 00:00:00 920.0 2017-08-25 00:00:00 618.0 3 1
11876 2016-11-30 00:00:00 1395.0 NaN NaN 29 0
11907 2018-08-17 00:00:00 471.0 2018-07-16 00:00:00 44.31 2 1
11930 2013-11-18 00:00:00 254.0 2013-11-06 00:00:00 301.13 5 1
11933 2017-09-18 00:00:00 102.0 2016-03-28 00:00:00 417.62 3 3
12031 2013-05-03 00:00:00 1189.0 NaN NaN 9 0
12116 2015-01-13 00:00:00 1058.0 NaN NaN 17 0
12182 2015-04-01 00:00:00 353.0 NaN NaN 1 0
12185 2016-05-27 00:00:00 1050.0 NaN NaN 2 0
12187 2015-11-05 00:00:00 111.0 2015-07-13 00:00:00 269.74 5 1
12207 2017-07-17 00:00:00 93.0 NaN NaN 1 0
12208 2016-01-24 00:00:00 604.0 2012-05-22 00:00:00 314.97 3 1
12275 2013-10-22 00:00:00 1164.0 NaN NaN 9 0
12342 2018-08-01 00:00:00 828.0 2018-06-29 00:00:00 458.0 11 1
12369 2011-10-27 00:00:00 189.0 NaN NaN 1 0
12374 2017-10-02 00:00:00 1075.0 NaN NaN 7 0
12396 2014-03-14 00:00:00 2401.0 NaN NaN 8 0
12399 2008-01-04 00:00:00 64.0 NaN NaN 1 0
12561 2012-11-01 00:00:00 1707.0 NaN NaN 6 0
12563 2017-01-19 00:00:00 1355.0 NaN NaN 15 0
12596 2015-07-16 00:00:00 907.0 NaN NaN 9 0
12598 2018-09-17 00:00:00 361.0 NaN NaN 11 0
12652 2014-05-15 00:00:00 218.0 NaN NaN 10 0
12898 2016-06-01 00:00:00 1360.0 NaN NaN 1 0
12947 2017-05-04 00:00:00 1229.0 NaN NaN 8 0
12948 2012-07-25 00:00:00 453.0 NaN NaN 2 0
13074 2014-03-27 00:00:00 405.0 NaN NaN 12 0
13078 2013-09-10 00:00:00 63.0 NaN NaN 2 0
13166 2014-11-11 00:00:00 210.0 NaN NaN 2 0
13170 2017-04-18 00:00:00 140.0 NaN NaN 8 0
13189 2017-09-20 00:00:00 726.0 NaN NaN 1 0
13258 2017-08-07 00:00:00 462.0 2014-09-08 00:00:00 480.84 21 13
13274 2018-04-03 00:00:00 147.0 2018-04-02 00:00:00 251.0 8 1
13452 2010-10-07 00:00:00 876.0 NaN NaN 3 0
13469 2018-04-13 00:00:00 171.0 NaN NaN 1 0
13507 2019-01-25 00:00:00 603.0 2018-12-14 00:00:00 274.0 6 1
13554 2019-08-16 00:00:00 452.0 2018-12-11 00:00:00 381.0 14 5
13555 2014-01-01 00:00:00 730.0 NaN NaN 2 0
13609 2016-08-31 00:00:00 578.0 2010-04-06 00:00:00 357.95 7 1
13613 2019-06-25 00:00:00 91.0 2018-12-21 00:00:00 373.0 6 4
13728 2017-02-24 00:00:00 185.0 NaN NaN 4 0
13729 2014-07-09 00:00:00 467.0 2014-06-25 00:00:00 43.83 19 17
13765 2015-04-11 00:00:00 782.0 NaN NaN 13 0
13858 2017-06-20 00:00:00 1013.0 2017-06-16 00:00:00 3.0 5 1
13859 2017-06-03 00:00:00 120.0 2017-05-10 00:00:00 752.62 27 4
13907 2016-11-07 00:00:00 966.0 NaN NaN 15 0
13912 2019-07-03 00:00:00 503.0 NaN NaN 1 0
14096 2016-03-21 00:00:00 45.0 2016-02-09 00:00:00 545.68 16 7
14126 2019-02-11 00:00:00 91.0 NaN NaN 1 0
14192 2015-03-01 00:00:00 2026.0 NaN NaN 25 0
14196 2014-02-27 00:00:00 480.0 2014-01-27 00:00:00 227.7 13 1
14217 2016-12-12 00:00:00 171.0 2016-12-05 00:00:00 635.48 19 3
14221 2019-03-19 00:00:00 84.0 2013-12-13 00:00:00 525.6 2 1
14242 2015-05-18 00:00:00 1946.0 NaN NaN 19 0
14250 2014-06-01 00:00:00 962.0 NaN NaN 21 0
14278 2018-04-02 00:00:00 938.0 2018-03-19 00:00:00 262.08 15 3
14287 2019-04-15 00:00:00 546.0 2019-04-01 00:00:00 282.69 7 2
14471 2019-07-26 00:00:00 474.0 2019-07-19 00:00:00 233.96 25 10
14481 2017-09-11 00:00:00 402.0 NaN NaN 7 0
14486 2017-09-18 00:00:00 877.0 2016-03-18 00:00:00 590.68 13 2
14488 2014-11-26 00:00:00 70.0 NaN NaN 1 0
14536 2007-02-01 00:00:00 5009.0 NaN NaN 3 0
14678 2020-04-02 00:00:00 196.0 NaN NaN 2 0
14750 2015-07-01 00:00:00 1259.0 NaN NaN 1 0
14798 2010-06-10 00:00:00 1642.0 2009-05-14 00:00:00 230.3 28 3
14804 2020-04-01 00:00:00 155.0 2020-03-03 00:00:00 493.3 8 6
14854 2020-01-23 00:00:00 245.0 2019-12-19 00:00:00 185.0 2 1
14900 2014-08-28 00:00:00 1646.0 2014-07-24 00:00:00 206.47 28 1
14910 2013-01-06 00:00:00 738.0 NaN NaN 12 0
14990 2018-08-03 00:00:00 325.0 2017-11-20 00:00:00 507.6 8 1
14993 2016-06-16 00:00:00 199.0 NaN NaN 5 0
15082 2016-04-25 00:00:00 1061.0 NaN NaN 10 0
15122 2014-02-07 00:00:00 318.0 2014-01-31 00:00:00 233.91 4 1
15149 2014-11-21 00:00:00 2114.0 2014-09-10 00:00:00 322.93 5 2
15152 2020-02-07 00:00:00 83.0 2020-01-31 00:00:00 287.82 3 1
15172 2017-02-08 00:00:00 747.0 NaN NaN 15 0
15174 2017-09-01 00:00:00 334.0 2017-08-14 00:00:00 362.35 14 1
15185 2017-03-13 00:00:00 120.0 2017-03-10 00:00:00 139.69 6 2
15202 2013-11-18 00:00:00 1116.0 NaN NaN 5 0
15231 2018-01-17 00:00:00 173.0 NaN NaN 2 0
15456 2013-10-21 00:00:00 28.0 NaN NaN 4 0
15612 2017-06-23 00:00:00 958.0 NaN NaN 21 0
15887 2017-09-08 00:00:00 1130.0 NaN NaN 3 0
15910 2014-08-28 00:00:00 697.0 NaN NaN 14 0
15962 2005-03-01 00:00:00 92.0 NaN NaN 33 0
16116 2016-12-01 00:00:00 265.0 NaN NaN 8 0
16120 2018-03-14 00:00:00 883.0 2016-10-18 00:00:00 23.16 21 1
16121 2018-03-14 00:00:00 883.0 2018-02-26 00:00:00 129.48 11 6
16172 2015-07-15 00:00:00 1913.0 2015-06-17 00:00:00 382.0 34 1
16175 2017-05-23 00:00:00 313.0 2015-10-09 00:00:00 236.75 23 3
16177 2016-12-16 00:00:00 298.0 2008-12-29 00:00:00 336.34 1 1
16179 2018-06-29 00:00:00 48.0 NaN NaN 1 0
16215 2018-07-09 00:00:00 862.0 2018-06-04 00:00:00 235.0 11 1
16229 2015-11-03 00:00:00 1780.0 2015-07-07 00:00:00 128.71 8 1
16267 2013-03-13 00:00:00 96.0 NaN NaN 1 0
16273 2018-03-12 00:00:00 303.0 NaN NaN 5 0
16457 2013-07-18 00:00:00 224.0 NaN NaN 2 0
16477 2019-08-30 00:00:00 402.0 2019-08-26 00:00:00 668.68 12 3
16487 2019-08-30 00:00:00 402.0 NaN NaN 1 0
16546 2018-04-06 00:00:00 936.0 2018-04-02 00:00:00 506.77 17 1
16550 2018-06-20 00:00:00 847.0 2018-05-23 00:00:00 4.33 30 5
16558 2016-04-27 00:00:00 271.0 NaN NaN 9 0
16581 2017-08-31 00:00:00 213.0 NaN NaN 7 0
16630 2012-03-21 00:00:00 1953.0 2003-07-10 00:00:00 556.0 3 1
16872 2013-11-06 00:00:00 2539.0 NaN NaN 15 0
16873 2016-12-01 00:00:00 774.0 NaN NaN 28 0
16957 2018-08-10 00:00:00 63.0 2017-08-30 00:00:00 808.16 1 1
17004 2010-08-12 00:00:00 991.0 2010-05-17 00:00:00 19.1 15 10
17033 2018-05-15 00:00:00 196.0 NaN NaN 1 0
17065 2014-04-08 00:00:00 115.0 NaN NaN 23 0
17165 2010-03-04 00:00:00 2281.0 NaN NaN 16 0
17178 2014-04-11 00:00:00 204.0 2012-03-20 00:00:00 297.56 1 1
17206 2020-05-20 00:00:00 96.0 2020-05-06 00:00:00 379.2 7 5
17321 2011-04-06 00:00:00 2329.0 NaN NaN 2 0
17341 2018-01-02 00:00:00 187.0 2016-01-12 00:00:00 298.27 5 3
17395 2017-05-08 00:00:00 1213.0 NaN NaN 9 0
17419 2016-05-18 00:00:00 98.0 NaN NaN 6 0
17558 2015-10-22 00:00:00 1803.0 2015-10-13 00:00:00 286.27 7 1
17559 2015-07-27 00:00:00 120.0 2015-06-23 00:00:00 286.4 8 3
17580 2017-10-18 00:00:00 845.0 2017-10-03 00:00:00 675.51 7 5

17638 2012-07-03 00:00:00 790.0 2012-04-11 00:00:00 370.65 4 1
17662 2013-12-19 00:00:00 2477.0 2013-12-05 00:00:00 293.88 40 1
17687 2012-11-01 00:00:00 1145.0 NaN NaN 1 0
17709 2013-09-16 00:00:00 28.0 2013-09-05 00:00:00 26.97 25 3
17710 2014-04-01 00:00:00 1191.0 2014-03-25 00:00:00 351.14 49 2
17759 2014-09-05 00:00:00 266.0 2014-08-08 00:00:00 11.71 13 1
17782 2015-07-23 00:00:00 1362.0 2015-07-08 00:00:00 308.29 30 2
17793 2014-08-05 00:00:00 290.0 NaN NaN 16 0
17865 2014-08-01 00:00:00 138.0 NaN NaN 2 0
18010 2018-08-13 00:00:00 80.0 NaN NaN 1 0
18025 2018-01-22 00:00:00 994.0 NaN NaN 10 0
18031 2017-02-01 00:00:00 425.0 NaN NaN 3 0
18071 2017-09-29 00:00:00 1022.0 NaN NaN 9 0
18225 2015-01-01 00:00:00 1540.0 NaN NaN 3 0
18253 2016-07-18 00:00:00 1164.0 2016-05-24 00:00:00 350.22 33 5
18303 2017-02-06 00:00:00 941.0 2017-01-27 00:00:00 249.58 9 1
18356 2015-02-25 00:00:00 2056.0 2014-03-05 00:00:00 25.27 3 2
18357 2014-05-02 00:00:00 307.0 NaN NaN 31 0
18362 2018-05-31 00:00:00 458.0 NaN NaN 5 0
18380 2017-03-13 00:00:00 112.0 NaN NaN 2 0
18450 2018-12-28 00:00:00 118.0 2018-12-06 00:00:00 127.22 7 3
18471 2011-07-25 00:00:00 504.0 2011-06-20 00:00:00 52.13 3 1
18669 2017-11-09 00:00:00 15.0 2017-10-19 00:00:00 4.33 5 5
18764 2015-05-01 00:00:00 637.0 NaN NaN 11 0
18771 2019-12-27 00:00:00 182.0 2019-11-29 00:00:00 235.17 11 3
18782 2013-05-01 00:00:00 432.0 NaN NaN 7 0
18798 2011-09-19 00:00:00 374.0 2011-09-12 00:00:00 272.32 3 1
18801 2012-01-25 00:00:00 3050.0 NaN NaN 13 0
18821 2017-06-05 00:00:00 1262.0 2017-05-08 00:00:00 314.92 15 2
19045 2016-08-01 00:00:00 1542.0 2016-07-27 00:00:00 431.73 9 1
19068 2013-07-19 00:00:00 5.0 2011-09-13 00:00:00 253.82 4 1
19096 2011-10-17 00:00:00 941.0 2011-08-22 00:00:00 236.57 4 1
19179 2013-10-01 00:00:00 0.0 2009-06-25 00:00:00 347.52 3 1
19342 2018-07-13 00:00:00 172.0 NaN NaN 6 0
19373 2018-06-13 00:00:00 824.0 NaN NaN 1 0
19438 2012-06-13 00:00:00 238.0 NaN NaN 2 0
19461 2015-07-13 00:00:00 476.0 2015-06-23 00:00:00 10.0 13 5
19466 2018-11-07 00:00:00 342.0 2018-09-05 00:00:00 14.04 8 5
19537 2013-09-18 00:00:00 119.0 NaN NaN 2 0
19539 2016-02-22 00:00:00 1275.0 2015-12-11 00:00:00 53.37 8 1
19541 2010-08-02 00:00:00 280.0 2010-05-03 00:00:00 4.4 24 2
19566 2017-01-30 00:00:00 1359.0 NaN NaN 33 0
19567 2010-08-16 00:00:00 1766.0 NaN NaN 2 0
19579 2018-08-16 00:00:00 487.0 2018-08-13 00:00:00 108.8 7 1
19735 2017-08-16 00:00:00 708.0 NaN NaN 5 0
19917 2017-11-13 00:00:00 326.0 NaN NaN 6 0
19919 2009-02-13 00:00:00 2826.0 NaN NaN 7 0
19967 2018-09-11 00:00:00 756.0 NaN NaN 1 0
19995 2017-06-19 00:00:00 604.0 2017-06-05 00:00:00 15.81 21 2
20015 2010-10-13 00:00:00 280.0 2010-04-23 00:00:00 191.55 21 1
20022 2014-02-11 00:00:00 46.0 NaN NaN 1 0
20046 2017-11-06 00:00:00 1099.0 NaN NaN 6 0
20047 2010-12-13 00:00:00 119.0 NaN NaN 5 0
20074 2018-10-29 00:00:00 672.0 NaN NaN 7 0
20270 2017-08-21 00:00:00 116.0 2017-06-28 00:00:00 598.0 4 1
20296 2018-07-17 00:00:00 378.0 2015-01-20 00:00:00 3.32 1 1
20297 2011-02-03 00:00:00 1173.0 2009-10-08 00:00:00 14.11 13 2
20328 2012-11-02 00:00:00 762.0 NaN NaN 2 0
20403 2017-04-20 00:00:00 164.0 2017-04-19 00:00:00 321.53 16 2
20556 2018-10-17 00:00:00 86.0 2013-07-15 00:00:00 289.08 5 3
20581 2014-09-30 00:00:00 207.0 NaN NaN 2 0
20607 2017-08-01 00:00:00 878.0 NaN NaN 22 0
20615 2014-10-15 00:00:00 259.0 NaN NaN 21 0
20639 2011-06-01 00:00:00 201.0 NaN NaN 1 0
20663 2015-11-01 00:00:00 396.0 2013-12-05 00:00:00 231.67 20 6
20694 2014-11-01 00:00:00 395.0 NaN NaN 1 0
20697 2012-01-25 00:00:00 89.0 NaN NaN 3 0
20720 2009-05-08 00:00:00 34.0 NaN NaN 1 0
20860 2014-04-01 00:00:00 350.0 NaN NaN 1 0
20864 2017-10-12 00:00:00 286.0 NaN NaN 2 0
20868 2019-10-30 00:00:00 84.0 2019-10-03 00:00:00 16.09 14 7
20929 2016-09-29 00:00:00 151.0 2016-08-19 00:00:00 483.16 14 1
20930 2018-03-27 00:00:00 175.0 2015-11-06 00:00:00 187.28 4 4
20931 2018-09-25 00:00:00 633.0 NaN NaN 3 0
20974 2013-03-12 00:00:00 234.0 NaN NaN 2 0
20983 2015-04-24 00:00:00 455.0 2015-02-20 00:00:00 259.4 1 1
21003 2016-08-31 00:00:00 1531.0 2015-06-02 00:00:00 44.41 8 2
21047 2018-08-13 00:00:00 292.0 2018-08-01 00:00:00 627.44 5 1
21071 2013-10-29 00:00:00 2372.0 NaN NaN 19 0
21341 2019-01-14 00:00:00 84.0 NaN NaN 6 0
21351 2015-02-20 00:00:00 111.0 NaN NaN 2 0
21389 2017-08-04 00:00:00 1084.0 2017-07-11 00:00:00 296.0 30 2
21480 2017-01-11 00:00:00 159.0 NaN NaN 11 0
21523 2019-12-27 00:00:00 92.0 2019-12-09 00:00:00 324.9 4 3
21536 2018-10-12 00:00:00 277.0 NaN NaN 3 0
21543 2013-11-06 00:00:00 180.0 NaN NaN 11 0
21571 2017-05-09 00:00:00 667.0 2017-05-02 00:00:00 815.85 9 2
21606 2018-01-25 00:00:00 1005.0 2018-01-22 00:00:00 457.43 5 1
21613 2016-12-22 00:00:00 294.0 NaN NaN 11 0
21618 2019-09-09 00:00:00 80.0 2019-06-26 00:00:00 908.0 2 2
21655 2016-02-03 00:00:00 118.0 2016-01-26 00:00:00 305.08 11 2
21656 2015-06-18 00:00:00 349.0 NaN NaN 21 0
21762 2017-09-15 00:00:00 677.0 2017-01-25 00:00:00 703.61 11 6
21764 2013-01-31 00:00:00 298.0 NaN NaN 8 0
21779 2017-06-05 00:00:00 1180.0 2017-04-14 00:00:00 364.73 2 2
21831 2017-06-22 00:00:00 991.0 2017-06-05 00:00:00 492.29 16 2
21832 2016-02-09 00:00:00 692.0 2014-07-18 00:00:00 312.57 10 8
21932 2015-09-10 00:00:00 1215.0 2015-08-28 00:00:00 348.46 16 4
21938 2018-04-12 00:00:00 616.0 NaN NaN 8 0
22100 2017-08-09 00:00:00 161.0 2017-06-28 00:00:00 712.18 16 3
22103 2017-10-09 00:00:00 645.0 NaN NaN 4 0
22329 2020-05-04 00:00:00 92.0 2018-11-20 00:00:00 606.0 2 2
22330 2018-06-18 00:00:00 91.0 NaN NaN 2 0
22334 2016-07-01 00:00:00 1182.0 NaN NaN 3 0
22380 2016-08-05 00:00:00 1482.0 2016-07-11 00:00:00 656.17 25 8
22384 2012-03-13 00:00:00 2999.0 NaN NaN 12 0
22412 2014-07-23 00:00:00 838.0 NaN NaN 11 0
22483 2017-12-28 00:00:00 1048.0 2017-12-19 00:00:00 341.56 17 2
22495 2018-11-01 00:00:00 707.0 NaN NaN 2 0
22509 2015-02-18 00:00:00 517.0 NaN NaN 10 0
22567 2018-04-16 00:00:00 282.0 NaN NaN 4 0
22676 2012-06-25 00:00:00 91.0 2008-01-28 00:00:00 479.0 7 1
22691 2017-12-18 00:00:00 1057.0 NaN NaN 1 0
22701 2017-08-14 00:00:00 392.0 2017-07-26 00:00:00 305.0 5 1
22754 2011-09-28 00:00:00 938.0 NaN NaN 5 0
22755 2018-04-18 00:00:00 187.0 NaN NaN 1 0
22817 2019-04-09 00:00:00 91.0 NaN NaN 1 0
22830 2011-08-18 00:00:00 60.0 2011-08-08 00:00:00 132.06 8 6
22833 2018-05-23 00:00:00 254.0 2018-01-31 00:00:00 317.28 10 1
22859 2018-12-14 00:00:00 87.0 NaN NaN 1 0
22860 2017-06-09 00:00:00 130.0 NaN NaN 7 0
22862 2011-07-13 00:00:00 84.0 NaN NaN 3 0
22895 2012-02-24 00:00:00 84.0 NaN NaN 1 0
23256 2014-09-10 00:00:00 1087.0 NaN NaN 30 0
23289 2017-07-13 00:00:00 280.0 NaN NaN 1 0
23305 2015-04-13 00:00:00 68.0 NaN NaN 7 0
23306 2015-01-13 00:00:00 2136.0 NaN NaN 20 0
23332 2017-08-23 00:00:00 1104.0 2017-08-03 00:00:00 263.44 15 1
23335 2012-12-30 00:00:00 1878.0 NaN NaN 7 0
23672 2013-07-18 00:00:00 686.0 2013-07-08 00:00:00 12.4 10 1
23942 2016-02-27 00:00:00 366.0 NaN NaN 46 0
23945 2017-10-31 00:00:00 126.0 2017-09-26 00:00:00 484.0 6 1
23979 2018-08-01 00:00:00 103.0 2013-07-23 00:00:00 216.76 2 1
24026 2015-01-28 00:00:00 594.0 2014-12-31 00:00:00 318.19 1 1
24108 2017-06-26 00:00:00 555.0 2017-06-21 00:00:00 328.68 18 9
24112 2014-09-29 00:00:00 169.0 2014-03-24 00:00:00 238.06 12 8
24137 2017-11-14 00:00:00 1015.0 NaN NaN 4 0
24138 2015-05-04 00:00:00 1960.0 NaN NaN 36 0
24143 2018-05-25 00:00:00 227.0 2018-04-25 00:00:00 198.0 6 2
24168 2019-12-06 00:00:00 315.0 2019-08-15 00:00:00 341.0 2 1
24222 2017-07-10 00:00:00 429.0 2015-06-22 00:00:00 376.17 15 4
24225 2011-05-04 00:00:00 988.0 NaN NaN 6 0
24226 2017-01-18 00:00:00 73.0 2016-12-28 00:00:00 481.41 5 1
24383 2015-06-01 00:00:00 196.0 NaN NaN 5 0
24474 2013-05-15 00:00:00 91.0 2012-12-19 00:00:00 579.56 9 1
24562 2018-06-01 00:00:00 451.0 2018-05-18 00:00:00 306.48 11 1
24582 2017-05-31 00:00:00 853.0 NaN NaN 19 0
24636 2014-01-05 00:00:00 646.0 NaN NaN 1 0
24654 2018-05-24 00:00:00 908.0 2018-03-01 00:00:00 18.65 25 20
24782 2016-11-18 00:00:00 812.0 NaN NaN 7 0
24813 2016-11-18 00:00:00 87.0 NaN NaN 13 0
24830 2015-09-16 00:00:00 1806.0 2015-09-08 00:00:00 199.55 25 1
24877 2011-02-01 00:00:00 755.0 NaN NaN 14 0
24885 2013-01-10 00:00:00 305.0 NaN NaN 2 0
24902 2016-06-01 00:00:00 509.0 NaN NaN 9 0
24923 2014-11-01 00:00:00 1971.0 NaN NaN 1 0
25010 2017-04-13 00:00:00 1014.0 NaN NaN 9 0
25061 2010-05-25 00:00:00 1668.0 2010-04-29 00:00:00 136.51 25 12
25085 2015-04-01 00:00:00 1168.0 NaN NaN 19 0
25332 2014-09-01 00:00:00 1187.0 2014-08-21 00:00:00 306.66 12 1
25333 2014-06-23 00:00:00 1017.0 2014-06-16 00:00:00 204.45 3 1
25338 2018-09-21 00:00:00 728.0 2018-08-10 00:00:00 14.57 1 1
25365 2018-04-17 00:00:00 927.0 2018-04-13 00:00:00 846.57 32 1
25373 2018-03-12 00:00:00 694.0 NaN NaN 2 0
25395 2015-04-03 00:00:00 175.0 NaN NaN 1 0
25396 2016-12-12 00:00:00 385.0 NaN NaN 4 0
25397 2014-09-16 00:00:00 304.0 NaN NaN 4 0
25424 2014-05-01 00:00:00 495.0 NaN NaN 25 0
25425 2016-03-23 00:00:00 434.0 2016-02-10 00:00:00 443.23 6 1
25586 2017-12-22 00:00:00 915.0 NaN NaN 8 0
25589 2017-10-09 00:00:00 207.0 NaN NaN 1 0
25679 2013-09-01 00:00:00 529.0 NaN NaN 1 0
25732 2017-02-07 00:00:00 300.0 NaN NaN 13 0
25753 2013-01-01 00:00:00 464.0 NaN NaN 1 0
25809 2010-11-08 00:00:00 1942.0 2010-11-03 00:00:00 369.49 17 1
25828 2013-03-06 00:00:00 2569.0 NaN NaN 93 0
25830 2018-08-01 00:00:00 679.0 2018-07-09 00:00:00 4.33 25 13
25837 2017-04-24 00:00:00 1254.0 2015-11-12 00:00:00 421.25 1 1
25861 2015-02-27 00:00:00 199.0 NaN NaN 13 0
25871 2018-05-18 00:00:00 101.0 NaN NaN 5 0
25882 2013-06-05 00:00:00 726.0 NaN NaN 8 0
25886 2015-10-23 00:00:00 89.0 2015-10-21 00:00:00 283.46 23 6
26071 2015-01-26 00:00:00 91.0 2015-01-13 00:00:00 286.31 4 1
26082 2018-05-02 00:00:00 280.0 NaN NaN 4 0
26334 2015-03-01 00:00:00 2025.0 NaN NaN 1 0
26366 2017-03-10 00:00:00 1312.0 2017-02-22 00:00:00 924.78 12 1
26367 2018-04-10 00:00:00 100.0 2018-03-08 00:00:00 281.0 2 1
26371 2016-03-09 00:00:00 84.0 2016-02-24 00:00:00 13.96 1 1
26398 2019-09-30 00:00:00 169.0 2018-07-10 00:00:00 101.0 1 1
26610 2013-01-01 00:00:00 2101.0 NaN NaN 3 0
26630 2012-10-08 00:00:00 1033.0 NaN NaN 13 0
26687 2019-07-19 00:00:00 98.0 NaN NaN 4 0
26716 2016-10-01 00:00:00 1368.0 2016-03-01 00:00:00 7.69 9 1
26735 2015-07-27 00:00:00 1605.0 2015-01-14 00:00:00 241.34 20 1
26820 2010-12-16 00:00:00 77.0 NaN NaN 2 0
26854 2018-01-30 00:00:00 584.0 NaN NaN 4 0
26875 2014-11-24 00:00:00 1654.0 2014-11-20 00:00:00 515.32 19 1
26906 2014-02-19 00:00:00 848.0 2014-02-12 00:00:00 10.0 2 2
27161 2014-12-01 00:00:00 450.0 NaN NaN 23 0
27170 2015-09-01 00:00:00 286.0 NaN NaN 2 0
27180 2015-09-23 00:00:00 146.0 2015-05-13 00:00:00 271.76 14 1
27184 2017-09-01 00:00:00 1097.0 NaN NaN 10 0
27207 2015-03-25 00:00:00 162.0 NaN NaN 9 0
27211 2017-01-11 00:00:00 106.0 NaN NaN 3 0
27252 2017-10-04 00:00:00 1071.0 NaN NaN 1 0
27255 2016-08-01 00:00:00 638.0 2016-07-08 00:00:00 365.32 5 1
27277 2018-04-05 00:00:00 95.0 2018-02-26 00:00:00 357.62 15 7
27282 2018-03-05 00:00:00 82.0 2018-02-12 00:00:00 287.53 3 1
27399 2018-08-28 00:00:00 108.0 NaN NaN 1 0
27458 2016-07-15 00:00:00 1571.0 2016-07-08 00:00:00 272.93 9 1
27466 2010-07-13 00:00:00 3594.0 NaN NaN 26 0
27515 2019-07-26 00:00:00 452.0 NaN NaN 2 0
27543 2018-08-22 00:00:00 84.0 NaN NaN 3 0
27563 2011-06-27 00:00:00 1039.0 2011-05-23 00:00:00 13.19 53 31
27581 2012-11-01 00:00:00 1750.0 NaN NaN 3 0
27583 2019-06-03 00:00:00 158.0 2019-02-28 00:00:00 11.69 18 18
27611 2020-03-20 00:00:00 210.0 2014-03-05 00:00:00 279.76 3 1
27619 2018-04-09 00:00:00 602.0 NaN NaN 4 0
27625 2020-04-10 00:00:00 89.0 2020-04-02 00:00:00 286.69 16 15
27656 2010-10-13 00:00:00 341.0 NaN NaN 42 0
27661 2013-04-02 00:00:00 1102.0 NaN NaN 13 0
27685 2013-06-26 00:00:00 2660.0 2013-06-12 00:00:00 211.91 22 12
27710 2017-02-01 00:00:00 212.0 2016-04-18 00:00:00 431.59 14 2
27745 2019-12-06 00:00:00 280.0 2015-10-23 00:00:00 293.76 1 1
27766 2015-12-01 00:00:00 1305.0 2015-11-03 00:00:00 320.99 13 4
27769 2016-12-30 00:00:00 224.0 2016-12-14 00:00:00 5.89 1 1
27788 2015-08-28 00:00:00 1362.0 NaN NaN 18 0
27937 2016-09-27 00:00:00 1382.0 2014-12-10 00:00:00 446.14 2 2
27944 2019-09-09 00:00:00 429.0 NaN NaN 4 0
27964 2014-08-26 00:00:00 14.0 2014-08-11 00:00:00 340.58 30 1
27965 2016-12-16 00:00:00 753.0 NaN NaN 2 0
27966 2016-02-17 00:00:00 791.0 2016-01-27 00:00:00 234.22 23 4
28071 2017-12-19 00:00:00 1037.0 NaN NaN 5 0
28075 2013-11-07 00:00:00 382.0 NaN NaN 1 0
28077 2012-06-12 00:00:00 400.0 NaN NaN 3 0
28079 2017-12-18 00:00:00 249.0 NaN NaN 2 0
28125 2016-04-13 00:00:00 1216.0 2016-04-06 00:00:00 678.17 32 1
28155 2013-07-01 00:00:00 91.0 2013-06-07 00:00:00 546.45 10 9

28209 2010-12-23 00:00:00 207.0 2010-06-28 00:00:00 333.57 32 18
28219 2019-04-01 00:00:00 127.0 NaN NaN 1 0
28250 2018-08-21 00:00:00 773.0 NaN NaN 1 0
28445 2015-04-09 00:00:00 747.0 NaN NaN 14 0
28452 2019-07-30 00:00:00 91.0 NaN NaN 2 0
28474 2014-05-05 00:00:00 637.0 NaN NaN 7 0
28496 2010-05-01 00:00:00 1047.0 NaN NaN 1 0
28630 2017-07-28 00:00:00 931.0 2017-07-18 00:00:00 266.25 23 2
28634 2016-11-17 00:00:00 1394.0 NaN NaN 7 0
28662 2014-03-04 00:00:00 91.0 2014-02-06 00:00:00 23.76 7 2
28709 2014-08-28 00:00:00 407.0 NaN NaN 14 0
28710 2012-07-12 00:00:00 3049.0 NaN NaN 11 0
28712 2018-04-24 00:00:00 91.0 2017-04-21 00:00:00 585.32 1 1
28714 1999-05-01 00:00:00 5442.0 NaN NaN 13 0
28716 2016-06-13 00:00:00 756.0 2016-05-23 00:00:00 141.72 32 17
28769 2014-02-14 00:00:00 630.0 NaN NaN 6 0
28827 2014-03-01 00:00:00 404.0 NaN NaN 7 0
28829 2014-09-23 00:00:00 1182.0 NaN NaN 15 0
29029 2014-09-05 00:00:00 853.0 2014-08-08 00:00:00 20.8 15 1
29117 2015-07-20 00:00:00 748.0 NaN NaN 12 0
29120 2018-08-01 00:00:00 582.0 2018-07-31 00:00:00 469.09 22 1
29282 2017-10-12 00:00:00 1089.0 NaN NaN 2 0
29288 2017-08-14 00:00:00 175.0 2017-08-09 00:00:00 234.32 7 1
29307 2015-09-29 00:00:00 91.0 NaN NaN 13 0
29356 2010-10-22 00:00:00 2536.0 NaN NaN 4 0
29357 2014-10-01 00:00:00 1071.0 NaN NaN 1 0
29359 2017-08-25 00:00:00 160.0 NaN NaN 8 0
29470 2013-08-07 00:00:00 2595.0 2013-07-03 00:00:00 326.24 17 1
29475 2019-04-11 00:00:00 462.0 NaN NaN 3 0
29507 2016-02-01 00:00:00 1565.0 NaN NaN 4 0
29550 2016-08-01 00:00:00 1037.0 NaN NaN 15 0
29575 2019-10-11 00:00:00 276.0 2011-10-21 00:00:00 480.44 1 1
29600 2017-07-06 00:00:00 20.0 2017-06-30 00:00:00 274.94 4 2
29624 2018-10-10 00:00:00 439.0 2018-10-03 00:00:00 146.49 10 2
29630 2020-04-13 00:00:00 204.0 NaN NaN 2 0
29700 2015-01-21 00:00:00 2018.0 NaN NaN 1 0
29822 2016-10-16 00:00:00 167.0 NaN NaN 2 0
29905 2016-08-29 00:00:00 646.0 NaN NaN 28 0
29956 2015-06-01 00:00:00 30.0 NaN NaN 1 0
30078 2015-08-31 00:00:00 1358.0 NaN NaN 6 0
30150 2014-02-21 00:00:00 283.0 NaN NaN 2 0
30211 2015-07-22 00:00:00 1827.0 NaN NaN 14 0
30231 2016-03-08 00:00:00 30.0 NaN NaN 2 0
30259 2015-03-16 00:00:00 1256.0 NaN NaN 8 0
30277 2014-06-01 00:00:00 395.0 NaN NaN 1 0
30308 2020-04-08 00:00:00 212.0 NaN NaN 2 0
30453 2017-09-29 00:00:00 13.0 2017-07-26 00:00:00 711.0 1 1
30455 2015-01-23 00:00:00 1950.0 NaN NaN 5 0
30488 2013-04-26 00:00:00 2161.0 NaN NaN 18 0
30492 2018-06-08 00:00:00 91.0 NaN NaN 3 0
30526 2015-06-18 00:00:00 770.0 NaN NaN 1 0
30528 2016-04-05 00:00:00 105.0 2016-03-08 00:00:00 4.33 11 4
30554 2017-11-17 00:00:00 196.0 2017-11-15 00:00:00 276.46 31 4
30575 2012-12-10 00:00:00 356.0 2012-11-19 00:00:00 300.64 23 6
30592 2019-03-20 00:00:00 201.0 NaN NaN 5 0
30678 2014-08-27 00:00:00 100.0 NaN NaN 4 0
30680 2015-07-28 00:00:00 344.0 NaN NaN 13 0
30681 2015-04-24 00:00:00 1468.0 NaN NaN 22 0
30689 2018-02-21 00:00:00 121.0 2018-02-09 00:00:00 563.0 7 1
30781 2019-12-23 00:00:00 92.0 2019-09-11 00:00:00 494.0 4 2
30816 2018-08-20 00:00:00 640.0 2018-08-03 00:00:00 470.41 11 1
30995 2017-09-21 00:00:00 361.0 NaN NaN 2 0
30996 2013-11-14 00:00:00 263.0 NaN NaN 4 0
30998 2015-12-10 00:00:00 174.0 NaN NaN 9 0
31025 2016-05-01 00:00:00 1135.0 NaN NaN 11 0
31026 2016-07-01 00:00:00 630.0 NaN NaN 1 0
31074 2018-08-03 00:00:00 763.0 2018-07-20 00:00:00 613.89 21 2
31075 2020-06-15 00:00:00 88.0 2018-10-08 00:00:00 252.75 2 2
31131 2017-04-17 00:00:00 203.0 2017-04-03 00:00:00 642.81 20 1
31330 2010-10-04 00:00:00 189.0 NaN NaN 8 0
31363 2016-03-10 00:00:00 22.0 2016-02-25 00:00:00 258.59 2 1
31385 2010-06-21 00:00:00 1176.0 NaN NaN 2 0
31409 2013-10-31 00:00:00 406.0 2013-10-15 00:00:00 505.79 2 1
31413 2018-01-19 00:00:00 316.0 2010-08-30 00:00:00 319.9 17 1
31430 2016-03-04 00:00:00 215.0 NaN NaN 8 0
31489 2011-07-06 00:00:00 803.0 2011-06-21 00:00:00 10.0 4 4
31492 2017-05-26 00:00:00 94.0 2016-12-12 00:00:00 442.75 10 3
31635 2016-02-01 00:00:00 182.0 2016-01-28 00:00:00 51.5 15 4
31654 2014-06-01 00:00:00 800.0 NaN NaN 14 0
31676 2018-04-03 00:00:00 217.0 NaN NaN 4 0
31677 2017-12-14 00:00:00 33.0 NaN NaN 4 0
31712 2013-10-14 00:00:00 121.0 2013-10-07 00:00:00 14.39 1 1
31727 2017-03-27 00:00:00 683.0 NaN NaN 2 0
31744 2017-08-29 00:00:00 139.0 NaN NaN 3 0
31820 2018-02-14 00:00:00 415.0 NaN NaN 3 0
31839 2019-07-30 00:00:00 91.0 2016-09-28 00:00:00 269.53 4 3
31894 2011-09-07 00:00:00 3066.0 NaN NaN 5 0
31918 2014-05-01 00:00:00 214.0 NaN NaN 20 0
31921 2015-12-22 00:00:00 91.0 2015-02-11 00:00:00 213.14 19 7
31927 2016-07-08 00:00:00 89.0 2016-06-30 00:00:00 610.19 2 1
31933 2017-08-14 00:00:00 1142.0 2017-06-29 00:00:00 439.0 1 1
32081 2011-08-11 00:00:00 1678.0 2009-09-23 00:00:00 496.22 23 1
32113 2010-08-02 00:00:00 1472.0 2010-06-23 00:00:00 10.29 10 3
32116 2017-07-31 00:00:00 785.0 NaN NaN 12 0
32191 2013-07-10 00:00:00 1575.0 NaN NaN 1 0
32230 2015-02-07 00:00:00 1596.0 2015-01-26 00:00:00 308.45 16 1
32231 2015-02-07 00:00:00 1596.0 NaN NaN 2 0
32277 2013-08-07 00:00:00 145.0 2013-07-29 00:00:00 319.26 2 1
32280 2015-08-07 00:00:00 203.0 NaN NaN 4 0
32421 2016-08-17 00:00:00 308.0 NaN NaN 7 0
32426 2019-12-30 00:00:00 190.0 NaN NaN 3 0
32660 2015-09-03 00:00:00 1751.0 2015-08-17 00:00:00 372.16 19 10
32679 2007-10-03 00:00:00 4506.0 NaN NaN 1 0
32740 2014-03-01 00:00:00 746.0 NaN NaN 5 0
32774 2018-09-02 00:00:00 509.0 NaN NaN 18 0
32797 2017-06-28 00:00:00 1197.0 NaN NaN 13 0
32815 2011-03-03 00:00:00 211.0 NaN NaN 1 0
32877 2018-01-29 00:00:00 105.0 NaN NaN 1 0
33086 2018-05-23 00:00:00 721.0 2018-05-07 00:00:00 292.48 12 1
33106 2017-02-02 00:00:00 960.0 NaN NaN 2 0
33133 2017-07-14 00:00:00 10.0 NaN NaN 3 0
33160 2013-10-23 00:00:00 800.0 NaN NaN 6 0
33255 2010-08-02 00:00:00 3755.0 NaN NaN 14 0
33270 2018-11-21 00:00:00 142.0 2011-03-24 00:00:00 519.95 2 2
33442 2013-04-08 00:00:00 190.0 NaN NaN 2 0
33477 2015-08-21 00:00:00 175.0 NaN NaN 6 0
33478 2016-12-02 00:00:00 899.0 NaN NaN 1 0
33481 2019-01-24 00:00:00 82.0 NaN NaN 1 0
33500 2016-10-26 00:00:00 245.0 NaN NaN 6 0
33510 2017-05-10 00:00:00 2.0 2016-07-28 00:00:00 255.08 3 2
33531 2018-04-04 00:00:00 691.0 2018-03-26 00:00:00 586.26 11 1
33604 2018-05-11 00:00:00 112.0 2018-02-09 00:00:00 97.0 2 2
33871 2018-08-28 00:00:00 779.0 NaN NaN 3 0
33873 2020-04-16 00:00:00 182.0 2019-09-18 00:00:00 366.0 2 1
33886 2019-01-25 00:00:00 602.0 2018-12-14 00:00:00 501.66 8 1
33977 2015-02-02 00:00:00 826.0 2015-01-13 00:00:00 10.0 31 1
33980 2019-01-23 00:00:00 322.0 2019-01-14 00:00:00 115.58 19 6
33981 2020-03-10 00:00:00 91.0 2018-09-07 00:00:00 594.33 1 1
34001 2015-06-01 00:00:00 1341.0 2015-01-20 00:00:00 439.3 9 2
34003 2013-12-12 00:00:00 1519.0 NaN NaN 53 0
34054 2016-03-21 00:00:00 832.0 2016-03-02 00:00:00 255.2 27 1
34207 2018-02-01 00:00:00 1022.0 NaN NaN 10 0
34414 2014-09-04 00:00:00 1918.0 2014-08-27 00:00:00 351.91 11 7
34433 2015-07-09 00:00:00 480.0 2015-07-02 00:00:00 570.3 17 2
34462 2010-07-19 00:00:00 185.0 2010-04-19 00:00:00 18.97 10 3
34494 2014-05-28 00:00:00 103.0 2013-11-12 00:00:00 315.03 32 1
34522 2013-05-06 00:00:00 84.0 2013-03-26 00:00:00 10.0 1 1
34524 2016-05-24 00:00:00 1605.0 2016-04-12 00:00:00 107.37 21 1
34525 2014-05-01 00:00:00 2386.0 NaN NaN 5 0
34528 2019-09-27 00:00:00 91.0 2018-02-16 00:00:00 283.0 1 1
34546 2012-11-26 00:00:00 421.0 NaN NaN 4 0
34547 2017-12-20 00:00:00 140.0 NaN NaN 14 0
34567 2016-06-13 00:00:00 665.0 NaN NaN 13 0
34570 2017-10-10 00:00:00 196.0 NaN NaN 1 0
34574 2016-12-19 00:00:00 1250.0 2016-10-21 00:00:00 15.69 11 2
34769 2016-11-30 00:00:00 1381.0 2012-03-02 00:00:00 277.8 8 3
34799 2015-04-29 00:00:00 1995.0 NaN NaN 1 0
34807 2015-06-23 00:00:00 119.0 NaN NaN 6 0
34916 2016-02-01 00:00:00 1733.0 NaN NaN 19 0
34967 2016-04-06 00:00:00 643.0 2016-03-24 00:00:00 214.18 1 1
34970 2015-08-19 00:00:00 35.0 NaN NaN 7 0
34998 2015-02-26 00:00:00 1840.0 NaN NaN 10 0
34999 2017-09-06 00:00:00 91.0 NaN NaN 10 0
35103 2019-05-10 00:00:00 153.0 2019-02-27 00:00:00 560.0 9 1
35115 2013-08-07 00:00:00 686.0 2011-12-06 00:00:00 270.63 30 4
35131 2006-01-20 00:00:00 2240.0 NaN NaN 1 0
35264 2014-09-24 00:00:00 328.0 NaN NaN 22 0
35343 2018-09-24 00:00:00 105.0 2012-10-22 00:00:00 381.01 4 2
35344 2016-09-20 00:00:00 674.0 NaN NaN 5 0
35397 2016-03-11 00:00:00 136.0 NaN NaN 4 0
35454 2018-12-18 00:00:00 671.0 2018-12-03 00:00:00 500.48 19 1
35484 2012-04-27 00:00:00 735.0 2012-03-30 00:00:00 7.53 2 1
35522 2017-05-16 00:00:00 1267.0 2011-12-06 00:00:00 627.78 2 2
35647 2018-10-01 00:00:00 771.0 NaN NaN 5 0
35664 2017-06-05 00:00:00 511.0 NaN NaN 2 0
35692 2016-04-01 00:00:00 1224.0 2016-02-12 00:00:00 591.85 27 1
35715 2016-01-04 00:00:00 940.0 NaN NaN 7 0
35723 2011-03-28 00:00:00 101.0 NaN NaN 4 0
35774 2020-06-01 00:00:00 106.0 2020-03-02 00:00:00 231.0 7 6
35775 2018-06-04 00:00:00 725.0 NaN NaN 7 0
35799 2017-10-17 00:00:00 444.0 NaN NaN 10 0
35824 2014-11-19 00:00:00 2156.0 NaN NaN 27 0
35828 2014-11-12 00:00:00 1861.0 NaN NaN 20 0
35847 2015-01-13 00:00:00 1023.0 NaN NaN 12 0
35869 2015-05-11 00:00:00 1941.0 NaN NaN 21 0
35932 2012-07-01 00:00:00 540.0 2009-02-17 00:00:00 456.12 2 1
36062 2014-06-04 00:00:00 734.0 2014-04-23 00:00:00 329.71 21 1
36105 2011-09-06 00:00:00 93.0 2011-08-04 00:00:00 28.18 7 3
36190 2014-05-15 00:00:00 214.0 NaN NaN 1 0
36238 2010-05-01 00:00:00 767.0 NaN NaN 10 0
36249 2018-12-11 00:00:00 52.0 2018-11-28 00:00:00 360.79 6 1
36369 2016-01-07 00:00:00 168.0 NaN NaN 5 0
36403 2012-06-20 00:00:00 3017.0 NaN NaN 28 0
36404 2016-10-10 00:00:00 865.0 2016-09-19 00:00:00 7.99 17 2
36508 2015-08-27 00:00:00 319.0 NaN NaN 18 0
36535 2017-08-09 00:00:00 306.0 NaN NaN 5 0
36537 2010-06-28 00:00:00 618.0 NaN NaN 9 0
36556 2016-11-07 00:00:00 1060.0 2016-11-01 00:00:00 14.31 36 1
36584 2017-08-03 00:00:00 281.0 NaN NaN 1 0
36589 2014-05-07 00:00:00 2311.0 NaN NaN 12 0
44936 2020-02-07 00:00:00 206.0 NaN NaN 2 0
47879 2019-09-06 00:00:00 420.0 NaN NaN 1 0
49272 2020-08-28 00:00:00 28.0 2015-07-31 00:00:00 158.52 1 1
77586 2019-06-03 00:00:00 352.0 NaN NaN 1 0
91078 2019-04-02 00:00:00 315.0 NaN NaN 6 0
146993 2020-01-22 00:00:00 42.0 NaN NaN 2 0
165124 2019-02-11 00:00:00 445.0 NaN NaN 8 0
165621 2017-03-22 00:00:00 1064.0 NaN NaN 14 0
165775 2019-01-02 00:00:00 663.0 NaN NaN 18 0
166153 2019-07-17 00:00:00 453.0 NaN NaN 6 0
167118 2019-05-07 00:00:00 98.0 2019-04-08 00:00:00 387.87 2 1
167219 2019-06-24 00:00:00 259.0 2019-03-06 00:00:00 9.0 1 1
167247 2019-11-13 00:00:00 358.0 2018-12-11 00:00:00 475.0 25 22
167358 2018-11-07 00:00:00 145.0 NaN NaN 8 0
167646 2019-07-19 00:00:00 440.0 2019-07-08 00:00:00 176.4 10 2
167847 2019-07-29 00:00:00 471.0 2019-06-26 00:00:00 6.5 7 2
167982 2019-08-07 00:00:00 264.0 NaN NaN 5 0
168095 2018-10-25 00:00:00 677.0 NaN NaN 8 0
168463 2019-02-08 00:00:00 538.0 NaN NaN 10 0
168598 2019-02-08 00:00:00 102.0 NaN NaN 2 0
169162 2019-04-26 00:00:00 538.0 NaN NaN 1 0
169188 2019-05-29 00:00:00 537.0 2019-05-24 00:00:00 660.18 8 1
169308 2020-01-21 00:00:00 234.0 2019-10-22 00:00:00 33.0 2 2
169351 2019-07-01 00:00:00 336.0 2018-02-13 00:00:00 411.0 1 1
169549 2019-11-06 00:00:00 194.0 2018-03-13 00:00:00 430.0 4 1
169808 2019-04-25 00:00:00 536.0 2019-04-19 00:00:00 426.49 12 1
169834 2018-11-09 00:00:00 560.0 NaN NaN 17 0
170048 2019-06-07 00:00:00 110.0 NaN NaN 4 0
170120 2019-04-02 00:00:00 539.0 2019-03-12 00:00:00 15.7 1 1
170341 2018-10-29 00:00:00 743.0 NaN NaN 21 0
170601 2019-08-30 00:00:00 119.0 NaN NaN 1 0
170686 2020-03-17 00:00:00 196.0 2020-03-02 00:00:00 14.32 4 3
170713 2019-03-11 00:00:00 88.0 NaN NaN 2 0
171182 2018-12-06 00:00:00 239.0 NaN NaN 7 0
171226 2019-02-07 00:00:00 558.0 NaN NaN 1 0
171240 2019-03-04 00:00:00 462.0 2019-02-04 00:00:00 4.33 7 3

171441 2018-09-01 00:00:00 744.0 NaN NaN 18 0
171442 2018-12-03 00:00:00 241.0 NaN NaN 18 0
171741 2019-07-24 00:00:00 448.0 2019-07-19 00:00:00 455.33 9 1
171789 2019-06-03 00:00:00 476.0 NaN NaN 1 0
172448 2019-09-19 00:00:00 196.0 NaN NaN 5 0
173013 2019-11-12 00:00:00 93.0 NaN NaN 2 0
173883 2019-08-09 00:00:00 416.0 2019-07-12 00:00:00 256.47 9 2
174044 2019-01-28 00:00:00 648.0 NaN NaN 2 0
174314 2020-01-22 00:00:00 176.0 NaN NaN 2 0
174400 2019-09-13 00:00:00 362.0 2019-08-05 00:00:00 543.02 8 1
174453 2019-02-12 00:00:00 407.0 2019-02-11 00:00:00 401.69 6 1
174677 2019-07-24 00:00:00 406.0 2019-07-15 00:00:00 318.87 8 1
175751 2019-11-06 00:00:00 271.0 NaN NaN 2 0
175984 2019-12-11 00:00:00 278.0 2019-10-17 00:00:00 88.0 3 1
176201 2019-03-25 00:00:00 527.0 2019-03-11 00:00:00 188.91 9 1
176291 2019-09-30 00:00:00 283.0 2019-06-06 00:00:00 408.0 4 1
176393 2019-06-12 00:00:00 84.0 NaN NaN 3 0
176612 2018-03-19 00:00:00 74.0 NaN NaN 14 0
177083 2020-05-19 00:00:00 94.0 NaN NaN 1 0
177207 2019-10-08 00:00:00 202.0 NaN NaN 3 0
177972 2020-03-05 00:00:00 197.0 NaN NaN 2 0
178232 2019-10-23 00:00:00 100.0 2019-07-10 00:00:00 3.0 4 1
178373 2019-09-27 00:00:00 90.0 NaN NaN 1 0
178574 2018-10-26 00:00:00 747.0 NaN NaN 18 0
178660 2018-10-01 00:00:00 517.0 NaN NaN 11 0
180346 2019-04-05 00:00:00 240.0 2019-03-20 00:00:00 586.49 3 1
180615 2018-10-01 00:00:00 273.0 NaN NaN 1 0
180697 2019-01-18 00:00:00 466.0 NaN NaN 9 0
180780 2019-10-21 00:00:00 86.0 2019-10-14 00:00:00 452.43 4 1
180904 2020-04-13 00:00:00 156.0 2020-03-11 00:00:00 1040.1 24 17
181092 2019-09-11 00:00:00 425.0 2019-09-09 00:00:00 279.53 7 1
181236 2019-06-12 00:00:00 492.0 NaN NaN 3 0
181268 2019-02-11 00:00:00 448.0 NaN NaN 7 0
181469 2019-05-21 00:00:00 112.0 2019-04-16 00:00:00 260.25 3 1
181616 2019-07-25 00:00:00 81.0 2019-07-18 00:00:00 38.0 1 1
182302 2019-04-15 00:00:00 525.0 2019-04-05 00:00:00 394.86 10 1
182373 2019-02-25 00:00:00 574.0 NaN NaN 8 0
182400 2019-06-14 00:00:00 186.0 NaN NaN 1 0
182625 2019-04-01 00:00:00 575.0 NaN NaN 5 0
183220 2020-02-27 00:00:00 266.0 2020-01-16 00:00:00 764.0 5 4
183255 2019-01-14 00:00:00 634.0 NaN NaN 18 0
183280 2019-11-01 00:00:00 298.0 2019-10-18 00:00:00 117.0 6 1
183310 2019-10-11 00:00:00 340.0 2019-08-25 00:00:00 136.52 1 1
183348 2018-05-07 00:00:00 178.0 NaN NaN 19 0
183722 2019-10-31 00:00:00 180.0 2019-10-17 00:00:00 319.0 4 2
184018 2019-09-12 00:00:00 386.0 2019-09-04 00:00:00 342.94 14 1
184057 2019-07-17 00:00:00 154.0 NaN NaN 1 0
184239 2018-10-15 00:00:00 653.0 NaN NaN 3 0
184641 2020-02-10 00:00:00 189.0 NaN NaN 2 0
184804 2019-03-26 00:00:00 175.0 NaN NaN 1 0
185086 2019-09-10 00:00:00 150.0 2010-03-23 00:00:00 450.5 7 1
185581 2019-10-25 00:00:00 360.0 NaN NaN 1 0
186570 2019-08-16 00:00:00 181.0 2019-07-19 00:00:00 200.0 4 2
186713 2020-03-02 00:00:00 95.0 NaN NaN 1 0
186749 2020-03-30 00:00:00 182.0 NaN NaN 2 0
186766 2019-05-06 00:00:00 555.0 2019-04-22 00:00:00 378.39 10 1
186797 2016-11-01 00:00:00 1478.0 NaN NaN 4 0
187189 2019-09-04 00:00:00 439.0 NaN NaN 11 0
187363 2019-02-01 00:00:00 138.0 2019-01-07 00:00:00 308.44 9 1
187370 2019-11-01 00:00:00 350.0 2019-10-18 00:00:00 496.55 5 1
187900 2019-12-30 00:00:00 35.0 2019-09-23 00:00:00 505.91 6 3
188261 2020-02-10 00:00:00 193.0 2019-08-08 00:00:00 409.0 3 1
189405 2019-05-01 00:00:00 89.0 2019-04-24 00:00:00 488.07 10 2
190217 2020-06-23 00:00:00 34.0 NaN NaN 1 0
190287 2020-02-10 00:00:00 183.0 NaN NaN 3 0
190894 2020-01-30 00:00:00 284.0 NaN NaN 1 0
191117 2020-02-17 00:00:00 177.0 2019-11-25 00:00:00 351.52 4 1
191166 2020-06-10 00:00:00 91.0 2020-05-13 00:00:00 197.0 2 2
192449 2020-01-07 00:00:00 150.0 NaN NaN 3 0
193067 2020-01-31 00:00:00 179.0 2020-01-02 00:00:00 497.0 3 1
193515 2020-02-24 00:00:00 172.0 2019-11-22 00:00:00 782.11 4 2
193566 2019-11-01 00:00:00 366.0 NaN NaN 2 0
194098 2020-01-03 00:00:00 271.0 NaN NaN 3 0
194272 2020-05-11 00:00:00 183.0 NaN NaN 2 0
194338 2020-03-30 00:00:00 168.0 2020-02-11 00:00:00 3.0 5 1
194395 2019-10-31 00:00:00 323.0 NaN NaN 6 0
194665 2018-09-21 00:00:00 718.0 NaN NaN 10 0
196104 2020-04-24 00:00:00 175.0 NaN NaN 1 0
196207 2019-12-24 00:00:00 310.0 NaN NaN 2 0
197236 2020-02-01 00:00:00 244.0 NaN NaN 6 0
197384 2020-01-30 00:00:00 259.0 NaN NaN 1 0
197446 2017-11-01 00:00:00 1076.0 NaN NaN 7 0
197664 2020-02-01 00:00:00 215.0 NaN NaN 2 0
197945 2020-06-02 00:00:00 99.0 NaN NaN 1 0
198103 2020-01-16 00:00:00 249.0 NaN NaN 2 0
199348 2020-04-16 00:00:00 137.0 NaN NaN 3 0
200563 2020-04-08 00:00:00 89.0 NaN NaN 1 0
201026 2020-05-26 00:00:00 128.0 NaN NaN 1 0
203209 2020-06-03 00:00:00 151.0 NaN NaN 2 0
203736 2020-07-07 00:00:00 99.0 2020-07-06 00:00:00 823.0 1 1
205144 2020-07-13 00:00:00 91.0 NaN NaN 1 0

In [166]:
df_results_before_adt=pd.DataFrame(result_before_list)
df_results_before_adt.columns=(['person_id', 'inital_ADT_start_date', 'inital_ADT_end_date', 'Inital_ADT_time_window_days', 'Tdate_justbeforeADT', 'Tvalue_justbeforeADT', "N_T_dates","N_T_dates_beforeADT"])

In [167]:
len(df_results_before_adt)

940

# Match T test date and value Immediately after ADT <a class="anchor" id="third-bullet"></a>

In [168]:
result_after_list=[]

for y in adt_pt_list: 
#for y in [12427]:
#for y in list_pts_adt_table: 
    
    df1_pt=df1[(df1["person_id"] == y)]
    
    if len(df1_pt.inital_ADT_end_date)==0:    
        b='NaN'
        gap='NaN'
        tdate='NaN'
        tvalue='NaN'
        N_t_dates='NaN'
        N_t_dates_afterADT='NaN'

    if len(df1_pt.inital_ADT_end_date)!=0:    
        b=df1_pt['inital_ADT_end_date'].to_list()[0]
        df2_pt=df2[(df2["person_id"] == y)]    
        each_pt_tdates = df2_pt['result_date'].to_list()

        ##get rid of nan
        cleaned_a=[]
        cleaned_a= [x for x in each_pt_tdates if str(x) != 'NaN']
        cleaned_aa= [x for x in cleaned_a if str(x) != 'nan']
        cleaned_aaa= [x for x in cleaned_aa if str(x) != 'NaT']
        N_t_dates=len(cleaned_aaa)

        #only keep the ones after ADT end date including on the day
        cleaned_aaaa= [x for x in cleaned_aaa if x >b]
        start_sorted_bin=sorted(cleaned_aaaa)
        N_t_dates_afterADT=len(cleaned_aaaa)
    
        if(len(start_sorted_bin)==0):
            tdate='NaN' 
            tvalue="NaN"

        if(len(start_sorted_bin)>0):
            #apply the closet function
            #tdate=closest(start_sorted_bin,a_plus_6mons)
            tdate=closest(start_sorted_bin,b)
            #tvalue=df2_pt.loc[df['result_date'] == tdate].test_result
    
            #pick up T-value for T-date
            df2_pt_pick=df2_pt[(df2_pt['result_date']==tdate)]
            tvalue=df2_pt_pick.test_results.values[0]
    
    print(y, b, tdate, tvalue ,N_t_dates,N_t_dates_afterADT)
    result_after_per_pt=[y,b,tdate, tvalue ,N_t_dates,N_t_dates_afterADT]
    result_after_list.append(result_after_per_pt)

2 2017-02-01 00:00:00 2017-02-22 00:00:00 7.72 82 4
13 2018-05-17 00:00:00 NaN NaN 23 0
18 2014-03-13 00:00:00 2014-12-02 00:00:00 31.3 5 5
22 2017-04-24 00:00:00 NaN NaN 3 0
25 2014-02-18 00:00:00 2015-02-18 00:00:00 149.89 12 11
26 2016-06-01 00:00:00 2016-06-15 00:00:00 15.75 14 7
37 2016-09-02 00:00:00 2016-09-27 00:00:00 14.74 23 1
38 2016-07-18 00:00:00 2016-09-26 00:00:00 11.51 20 12
81 2014-04-01 00:00:00 2014-04-10 00:00:00 313.07 12 12
95 2014-04-23 00:00:00 2014-04-28 00:00:00 10.0 25 1
119 2013-10-02 00:00:00 2013-11-15 00:00:00 18.24 12 10
125 2020-09-02 00:00:00 NaN NaN 18 0
132 2016-07-13 00:00:00 2016-10-20 00:00:00 8.41 1 1
137 2015-06-01 00:00:00 2016-04-12 00:00:00 459.52 19 16
153 2020-02-12 00:00:00 NaN NaN 2 0
267 2016-05-12 00:00:00 2016-05-23 00:00:00 7.77 35 28
275 2020-09-15 00:00:00 NaN NaN 12 0
300 2017-10-01 00:00:00 2018-02-21 00:00:00 6.9 14 10
323 2016-09-07 00:00:00 NaN NaN 7 0
341 2017-05-19 00:00:00 NaN NaN 39 0
386 2017-02-01 00:00:00 2017-02-23 00:00:00 11.79 12 9
387 2018-08-21 00:00:00 2018-10-31 00:00:00 3.0 4 4
776 2018-10-01 00:00:00 2019-03-15 00:00:00 8.67 1 1
780 2010-09-30 00:00:00 2010-10-28 00:00:00 15.61 3 2
800 2011-01-31 00:00:00 NaN NaN 6 0
870 2017-10-13 00:00:00 2018-01-09 00:00:00 14.0 10 7
905 2016-07-15 00:00:00 2016-11-21 00:00:00 4.33 3 1
939 2019-01-01 00:00:00 2019-08-19 00:00:00 284.0 1 1
955 2020-01-15 00:00:00 NaN NaN 1 0
1181 2014-06-18 00:00:00 2017-06-14 00:00:00 11.41 16 12
1229 2012-08-01 00:00:00 NaN NaN 3 0
1231 2019-06-26 00:00:00 NaN NaN 19 0
1238 2014-08-07 00:00:00 NaN NaN 5 0
1257 2015-07-08 00:00:00 2016-01-27 00:00:00 203.25 14 13
1280 2019-04-08 00:00:00 NaN NaN 1 0
1503 2018-11-26 00:00:00 2019-02-01 00:00:00 14.64 6 3
1538 2018-12-01 00:00:00 2019-04-29 00:00:00 11.0 1 1
1583 2013-09-11 00:00:00 2013-10-16 00:00:00 10.0 6 1
1611 2020-10-05 00:00:00 NaN NaN 9 0
1618 2019-10-10 00:00:00 2020-04-16 00:00:00 3.0 9 1
1657 2020-10-12 00:00:00 NaN NaN 18 0
1658 2016-05-23 00:00:00 2016-09-12 00:00:00 15.15 8 5
1704 2015-06-05 00:00:00 2015-09-11 00:00:00 10.0 13 12
1881 2014-12-01 00:00:00 2015-09-30 00:00:00 68.61 6 6
1883 2016-05-16 00:00:00 NaN NaN 6 0
1887 2017-10-01 00:00:00 NaN NaN 3 0
1910 2020-09-02 00:00:00 NaN NaN 12 0
1934 2018-04-30 00:00:00 2018-05-14 00:00:00 374.46 5 1
1936 2019-07-09 00:00:00 NaN NaN 2 0
1964 2019-05-22 00:00:00 2019-10-21 00:00:00 16.34 6 2
2058 2018-06-11 00:00:00 2018-07-11 00:00:00 7.0 8 8
2061 2019-02-06 00:00:00 2019-02-27 00:00:00 11.39 7 2
2063 2018-03-20 00:00:00 2018-05-17 00:00:00 75.75 11 10
2088 2019-03-18 00:00:00 2019-08-14 00:00:00 700.14 1 1
2200 2014-11-03 00:00:00 2014-12-03 00:00:00 26.17 4 1
2237 2020-10-19 00:00:00 NaN NaN 12 0
2256 2012-06-13 00:00:00 2012-12-19 00:00:00 10.0 2 1
2278 2019-06-01 00:00:00 2019-06-05 00:00:00 4.33 14 3
2507 2019-09-19 00:00:00 2019-12-18 00:00:00 3.0 7 2
2526 2020-07-15 00:00:00 NaN NaN 17 0
2557 2020-09-29 00:00:00 NaN NaN 20 0
2561 2012-11-07 00:00:00 NaN NaN 4 0
2590 2020-10-15 00:00:00 NaN NaN 15 0
2605 2019-04-29 00:00:00 2019-07-30 00:00:00 13.95 9 3
2623 2019-10-03 00:00:00 2020-05-28 00:00:00 177.1 15 1
2628 2020-10-19 00:00:00 NaN NaN 1 0
2652 2019-06-01 00:00:00 2019-12-16 00:00:00 379.41 6 3
2655 2017-11-07 00:00:00 2017-12-08 00:00:00 9.52 15 8
2660 2019-07-06 00:00:00 2019-07-09 00:00:00 633.0 8 3
2683 2017-02-22 00:00:00 NaN NaN 30 0
2713 2016-10-20 00:00:00 NaN NaN 1 0
3030 2020-10-12 00:00:00 NaN NaN 9 0
3079 2020-11-06 00:00:00 NaN NaN 6 0
3084 2019-09-20 00:00:00 NaN NaN 4 0
3085 2019-01-02 00:00:00 NaN NaN 1 0
3129 2018-01-16 00:00:00 2018-09-12 00:00:00 3.0 24 5
3131 2019-02-25 00:00:00 2019-03-04 00:00:00 10.22 19 1
3155 2016-08-01 00:00:00 2018-03-06 00:00:00 5.3 10 1
3177 2012-06-26 00:00:00 2012-09-18 00:00:00 10.0 9 5
3181 2018-09-07 00:00:00 2018-11-08 00:00:00 3.0 1 1
3354 2017-10-19 00:00:00 NaN NaN 14 0
3385 2017-02-07 00:00:00 2017-05-23 00:00:00 3.0 11 5
3396 2016-06-10 00:00:00 NaN NaN 1 0
3415 2015-05-01 00:00:00 2015-12-16 00:00:00 315.51 2 1
3419 2014-10-13 00:00:00 2015-01-22 00:00:00 21.43 1 1
3574 2020-08-13 00:00:00 NaN NaN 35 0
3576 2019-12-04 00:00:00 2020-07-08 00:00:00 205.4 7 1
3578 2013-09-09 00:00:00 2014-06-03 00:00:00 17.55 4 4
3618 2020-02-28 00:00:00 NaN NaN 12 0
3619 2018-05-24 00:00:00 NaN NaN 19 0
3666 2020-10-07 00:00:00 NaN NaN 13 0
3667 2012-05-24 00:00:00 NaN NaN 1 0
3697 2020-06-12 00:00:00 NaN NaN 2 0
3854 2016-09-06 00:00:00 NaN NaN 2 0
3874 2017-01-18 00:00:00 NaN NaN 23 0
3905 2016-05-03 00:00:00 2016-12-08 00:00:00 15.06 7 1
3920 2015-02-02 00:00:00 NaN NaN 4 0
3951 2018-10-10 00:00:00 2019-01-16 00:00:00 7.73 11 5
3976 2019-01-29 00:00:00 NaN NaN 1 0
3993 2019-02-01 00:00:00 2019-10-11 00:00:00 8.0 8 4
3995 2018-08-30 00:00:00 2018-11-15 00:00:00 3.0 8 5
4056 2012-08-30 00:00:00 2013-02-28 00:00:00 13.61 3 1
4075 2018-11-29 00:00:00 NaN NaN 1 0
4208 2016-06-21 00:00:00 NaN NaN 17 0
4211 2012-08-21 00:00:00 NaN NaN 3 0
4231 2020-11-10 00:00:00 NaN NaN 19 0
4235 2012-04-03 00:00:00 2012-08-08 00:00:00 10.0 3 1
4255 2017-12-13 00:00:00 2018-01-10 00:00:00 15.12 15 2
4257 2019-07-16 00:00:00 2020-01-16 00:00:00 7.0 26 1
4275 2019-04-03 00:00:00 2019-05-10 00:00:00 8.59 2 2
4316 2015-07-09 00:00:00 NaN NaN 2 0
4318 2020-10-19 00:00:00 NaN NaN 17 0
4319 2015-07-05 00:00:00 2015-10-29 00:00:00 23.35 23 14
4562 2020-10-22 00:00:00 NaN NaN 2 0
4595 2015-09-01 00:00:00 2015-09-29 00:00:00 51.75 11 7
4626 2020-08-06 00:00:00 NaN NaN 3 0
4627 2019-07-12 00:00:00 NaN NaN 2 0
4667 2013-10-03 00:00:00 2014-04-28 00:00:00 33.35 8 7
4670 2020-11-13 00:00:00 NaN NaN 1 0
4717 2020-11-19 00:00:00 NaN NaN 38 0
4763 2020-09-11 00:00:00 NaN NaN 2 0
4793 2010-06-23 00:00:00 2010-07-19 00:00:00 4.7 5 1
4795 2016-09-09 00:00:00 NaN NaN 3 0
4854 2017-01-09 00:00:00 2017-04-17 00:00:00 25.65 35 18
4855 2015-11-04 00:00:00 2016-03-04 00:00:00 11.43 3 3
4876 2017-08-16 00:00:00 2017-08-29 00:00:00 9.61 13 1
4959 2012-12-26 00:00:00 NaN NaN 1 0
5014 2017-05-01 00:00:00 NaN NaN 8 0
5021 2020-08-26 00:00:00 2020-08-30 00:00:00 4.33 17 1
5041 2011-10-17 00:00:00 2012-02-06 00:00:00 15.7 12 11
5042 2012-07-02 00:00:00 NaN NaN 2 0
5043 2019-08-31 00:00:00 2019-10-16 00:00:00 6.3 6 2
5049 2018-06-05 00:00:00 2019-05-10 00:00:00 4.33 1 1
5052 2020-09-16 00:00:00 NaN NaN 5 0
5181 2019-11-25 00:00:00 NaN NaN 3 0
5229 2011-03-07 00:00:00 NaN NaN 1 0
5496 2020-09-17 00:00:00 NaN NaN 1 0
5498 2016-09-07 00:00:00 NaN NaN 4 0
5561 2019-06-21 00:00:00 NaN NaN 4 0
5630 2020-08-11 00:00:00 NaN NaN 21 0
5761 2020-10-07 00:00:00 NaN NaN 23 0
5763 2018-05-07 00:00:00 NaN NaN 12 0
5771 2015-06-03 00:00:00 NaN NaN 1 0
5791 2019-12-01 00:00:00 2019-12-04 00:00:00 14.27 7 2
5870 2020-10-23 00:00:00 NaN NaN 14 0
5872 2020-02-24 00:00:00 2020-05-29 00:00:00 3.0 9 1
5873 2010-11-08 00:00:00 2011-01-19 00:00:00 10.0 5 4
5875 2018-07-09 00:00:00 NaN NaN 4 0
5900 2017-09-06 00:00:00 NaN NaN 1 0
6043 2013-10-04 00:00:00 2013-10-29 00:00:00 22.04 2 2
6056 2014-01-17 00:00:00 NaN NaN 1 0
6060 2020-10-06 00:00:00 NaN NaN 10 0
6077 2020-11-16 00:00:00 NaN NaN 18 0
6078 2019-01-28 00:00:00 NaN NaN 20 0
6104 2011-08-15 00:00:00 2012-01-19 00:00:00 2.64 10 9
6162 2015-06-05 00:00:00 2015-12-16 00:00:00 10.31 9 9
6212 2014-01-15 00:00:00 NaN NaN 1 0
6237 2020-11-13 00:00:00 NaN NaN 1 0
6241 2011-11-29 00:00:00 2012-01-23 00:00:00 9.96 5 5
6268 2020-01-15 00:00:00 2020-06-24 00:00:00 3.0 5 1
6405 2017-12-28 00:00:00 NaN NaN 2 0
6445 2016-11-01 00:00:00 2016-11-09 00:00:00 11.26 18 13
6475 2017-03-24 00:00:00 2017-03-29 00:00:00 54.06 18 16
6542 2011-04-15 00:00:00 2012-11-09 00:00:00 260.46 1 1
6656 2016-12-29 00:00:00 2017-04-25 00:00:00 22.04 14 8
6794 2019-06-01 00:00:00 2019-06-27 00:00:00 13.6 3 2
6841 2020-08-24 00:00:00 NaN NaN 6 0
6846 2019-01-08 00:00:00 2019-02-21 00:00:00 4.87 14 1
6894 2014-10-15 00:00:00 2014-11-17 00:00:00 14.11 10 10
6933 2019-07-15 00:00:00 NaN NaN 1 0
6955 2016-06-15 00:00:00 2016-09-19 00:00:00 318.77 22 12
6958 2017-07-06 00:00:00 NaN NaN 8 0
6963 2020-09-04 00:00:00 NaN NaN 1 0
6997 2020-11-17 00:00:00 NaN NaN 1 0
7207 2018-08-15 00:00:00 NaN NaN 5 0
7236 2017-06-01 00:00:00 2017-06-22 00:00:00 23.1 24 22
7237 2020-10-09 00:00:00 NaN NaN 1 0
7268 2020-04-27 00:00:00 2020-06-08 00:00:00 17.94 8 1
7295 2016-03-01 00:00:00 NaN NaN 2 0
7532 2020-08-28 00:00:00 NaN NaN 5 0
7565 2020-05-01 00:00:00 NaN NaN 3 0
7611 2018-09-12 00:00:00 2019-01-14 00:00:00 8.31 34 18
7615 2014-04-17 00:00:00 NaN NaN 12 0
7682 2019-09-01 00:00:00 NaN NaN 3 0
7798 2020-11-03 00:00:00 NaN NaN 45 0
7870 2016-01-01 00:00:00 2016-03-24 00:00:00 11.27 5 4
7873 2020-05-14 00:00:00 2020-06-05 00:00:00 9.85 26 1
7900 2016-08-31 00:00:00 2016-11-07 00:00:00 16.46 4 1
7977 2015-11-12 00:00:00 NaN NaN 6 0
8020 2019-12-01 00:00:00 2019-12-18 00:00:00 4.33 20 4
8024 2018-01-29 00:00:00 2018-04-30 00:00:00 9.48 5 5
8161 2016-07-25 00:00:00 2016-10-03 00:00:00 13.3 13 9
8194 2013-12-09 00:00:00 2014-02-24 00:00:00 10.0 14 3
8224 2017-02-14 00:00:00 NaN NaN 6 0
8272 2016-10-14 00:00:00 2016-10-24 00:00:00 12.19 18 17
8302 2014-06-09 00:00:00 2014-09-15 00:00:00 19.93 22 16
8303 2012-03-21 00:00:00 2014-07-16 00:00:00 276.83 3 2
8310 2020-08-12 00:00:00 NaN NaN 5 0
8330 2011-07-21 00:00:00 2014-03-17 00:00:00 263.81 15 15
8360 2019-02-28 00:00:00 NaN NaN 9 0
8420 2019-08-02 00:00:00 2019-08-21 00:00:00 220.48 9 6
8544 2018-08-03 00:00:00 2018-08-06 00:00:00 3.0 4 2
8566 2015-06-30 00:00:00 NaN NaN 2 0
8602 2015-07-01 00:00:00 2015-07-07 00:00:00 10.0 18 13
8649 2020-06-10 00:00:00 NaN NaN 1 0
8717 2018-02-22 00:00:00 2018-02-28 00:00:00 93.51 30 20
8779 2019-04-25 00:00:00 2019-05-09 00:00:00 11.88 8 2
8890 2019-06-07 00:00:00 NaN NaN 1 0
8990 2012-01-18 00:00:00 NaN NaN 1 0
9048 2016-09-19 00:00:00 2017-01-13 00:00:00 14.53 11 8
9053 2015-12-21 00:00:00 NaN NaN 1 0
9054 2018-12-17 00:00:00 2019-02-15 00:00:00 16.7 3 3
9097 2020-11-06 00:00:00 NaN NaN 7 0
9173 2016-04-27 00:00:00 NaN NaN 1 0
9232 2016-09-15 00:00:00 2016-09-26 00:00:00 5.41 19 15
9233 2016-12-05 00:00:00 2017-04-14 00:00:00 10.28 10 2
9437 2018-01-22 00:00:00 2018-03-30 00:00:00 33.04 4 4
9477 2019-11-01 00:00:00 2020-01-07 00:00:00 13.62 17 4
9511 2016-05-01 00:00:00 2016-06-20 00:00:00 12.0 14 9
9541 2016-03-25 00:00:00 2016-11-03 00:00:00 148.62 4 1
9577 2020-03-02 00:00:00 NaN NaN 1 0
9741 2019-05-28 00:00:00 2019-06-10 00:00:00 4.72 36 3
9765 2018-05-16 00:00:00 2018-10-15 00:00:00 4.33 8 1
9888 2020-08-12 00:00:00 NaN NaN 7 0
9963 2020-11-09 00:00:00 NaN NaN 1 0
9972 2017-10-20 00:00:00 2017-11-13 00:00:00 27.96 9 1
9975 2018-03-20 00:00:00 2018-10-03 00:00:00 228.66 13 5
10084 2018-11-30 00:00:00 NaN NaN 1 0
10085 2018-01-04 00:00:00 NaN NaN 1 0
10114 2020-08-13 00:00:00 NaN NaN 6 0
10124 2014-09-04 00:00:00 2016-01-07 00:00:00 84.79 5 1
10203 2019-02-13 00:00:00 2020-02-26 00:00:00 202.0 2 1
10226 2014-09-22 00:00:00 2015-07-27 00:00:00 19.48 9 9
10229 2020-06-12 00:00:00 NaN NaN 3 0
10276 2020-11-11 00:00:00 NaN NaN 19 0
10471 2016-09-16 00:00:00 2016-09-22 00:00:00 21.11 11 1
10472 2013-12-02 00:00:00 NaN NaN 3 0
10527 2018-02-01 00:00:00 2018-04-24 00:00:00 8.0 24 15
10578 2020-01-01 00:00:00 2020-01-27 00:00:00 7.0 9 1
10658 2017-11-13 00:00:00 2018-05-08 00:00:00 17.87 10 5
10681 2017-05-31 00:00:00 NaN NaN 14 0
10853 2017-01-10 00:00:00 NaN NaN 1 0
10855 2018-11-19 00:00:00 2019-01-03 00:00:00 6.95 32 4
10891 2018-03-22 00:00:00 2018-04-09 00:00:00 12.69 2 1
10903 2020-10-13 00:00:00 NaN NaN 4 0
10945 2020-03-05 00:00:00 2020-05-14 00:00:00 15.06 14 1
10994 2013-02-05 00:00:00 2013-03-07 00:00:00 10.0 3 1
10995 2016-04-20 00:00:00 2016-04-27 00:00:00 13.29 10 7
11199 2019-01-15 00:00:00 NaN NaN 14 0

11250 2020-08-24 00:00:00 NaN NaN 19 0
11276 2012-09-17 00:00:00 NaN NaN 2 0
11284 2020-10-23 00:00:00 NaN NaN 1 0
11461 2014-01-01 00:00:00 NaN NaN 2 0
11482 2020-04-23 00:00:00 2020-05-21 00:00:00 5.08 33 1
11543 2016-11-01 00:00:00 2016-11-23 00:00:00 35.9 8 1
11565 2020-11-16 00:00:00 NaN NaN 18 0
11595 2017-10-25 00:00:00 NaN NaN 6 0
11613 2019-01-02 00:00:00 2019-01-03 00:00:00 13.0 5 1
11628 2020-10-12 00:00:00 NaN NaN 6 0
11649 2017-12-11 00:00:00 2018-05-04 00:00:00 14.47 7 5
11651 2020-11-06 00:00:00 NaN NaN 4 0
11709 2018-08-01 00:00:00 2018-11-14 00:00:00 18.3 1 1
11797 2017-10-31 00:00:00 2018-04-30 00:00:00 1083.86 1 1
11821 2012-05-07 00:00:00 2012-09-27 00:00:00 10.0 11 2
11832 2019-12-10 00:00:00 NaN NaN 10 0
11861 2020-10-12 00:00:00 NaN NaN 3 0
11876 2020-09-25 00:00:00 NaN NaN 29 0
11907 2019-12-01 00:00:00 NaN NaN 2 0
11930 2014-07-30 00:00:00 NaN NaN 5 0
11933 2017-12-29 00:00:00 NaN NaN 3 0
12031 2016-08-04 00:00:00 2016-09-27 00:00:00 4.33 9 1
12116 2017-12-06 00:00:00 2018-01-23 00:00:00 48.0 17 8
12182 2016-03-19 00:00:00 2016-07-20 00:00:00 262.75 1 1
12185 2019-04-12 00:00:00 NaN NaN 2 0
12187 2016-02-24 00:00:00 2016-05-13 00:00:00 6.88 5 2
12207 2017-10-18 00:00:00 2019-07-10 00:00:00 474.2 1 1
12208 2017-09-19 00:00:00 2018-05-16 00:00:00 341.45 3 1
12275 2016-12-29 00:00:00 NaN NaN 9 0
12342 2020-11-06 00:00:00 NaN NaN 11 0
12369 2012-05-03 00:00:00 2013-04-11 00:00:00 278.18 1 1
12374 2020-09-11 00:00:00 NaN NaN 7 0
12396 2020-10-09 00:00:00 NaN NaN 8 0
12399 2008-03-08 00:00:00 2008-03-10 00:00:00 25.0 1 1
12561 2017-07-05 00:00:00 NaN NaN 6 0
12563 2020-10-05 00:00:00 NaN NaN 15 0
12596 2018-01-08 00:00:00 NaN NaN 9 0
12598 2019-09-13 00:00:00 NaN NaN 11 0
12652 2014-12-19 00:00:00 2015-01-14 00:00:00 10.0 10 8
12898 2020-02-21 00:00:00 NaN NaN 1 0
12947 2020-09-14 00:00:00 NaN NaN 8 0
12948 2013-10-21 00:00:00 NaN NaN 2 0
13074 2015-05-06 00:00:00 NaN NaN 12 0
13078 2013-11-12 00:00:00 2014-10-16 00:00:00 213.29 2 1
13166 2015-06-09 00:00:00 NaN NaN 2 0
13170 2017-09-05 00:00:00 2017-11-07 00:00:00 3.0 8 5
13189 2019-09-16 00:00:00 NaN NaN 1 0
13258 2018-11-12 00:00:00 2018-12-12 00:00:00 4.33 21 1
13274 2018-08-28 00:00:00 2018-11-28 00:00:00 32.22 8 3
13452 2013-03-01 00:00:00 NaN NaN 3 0
13469 2018-10-01 00:00:00 NaN NaN 1 0
13507 2020-09-19 00:00:00 NaN NaN 6 0
13554 2020-11-10 00:00:00 NaN NaN 14 0
13555 2016-01-01 00:00:00 2016-07-25 00:00:00 41.48 2 2
13609 2018-04-01 00:00:00 2018-06-20 00:00:00 12.84 7 5
13613 2019-09-24 00:00:00 2019-10-07 00:00:00 345.0 6 2
13728 2017-08-28 00:00:00 2018-10-31 00:00:00 519.14 4 3
13729 2015-10-19 00:00:00 NaN NaN 19 0
13765 2017-06-01 00:00:00 2017-07-19 00:00:00 3.0 13 8
13858 2020-03-29 00:00:00 NaN NaN 5 0
13859 2017-10-01 00:00:00 2017-10-23 00:00:00 10.25 27 20
13907 2019-07-01 00:00:00 2019-07-22 00:00:00 7.0 15 4
13912 2020-11-17 00:00:00 NaN NaN 1 0
14096 2016-05-05 00:00:00 2017-08-28 00:00:00 405.31 16 7
14126 2019-05-13 00:00:00 2019-08-23 00:00:00 19.07 1 1
14192 2020-09-16 00:00:00 NaN NaN 25 0
14196 2015-06-22 00:00:00 NaN NaN 13 0
14217 2017-06-01 00:00:00 2017-06-05 00:00:00 14.24 19 12
14221 2019-06-11 00:00:00 2019-09-04 00:00:00 11.31 2 1
14242 2020-09-14 00:00:00 NaN NaN 19 0
14250 2017-01-18 00:00:00 2017-03-06 00:00:00 4.33 21 19
14278 2020-10-26 00:00:00 NaN NaN 15 0
14287 2020-10-12 00:00:00 NaN NaN 7 0
14471 2020-11-11 00:00:00 NaN NaN 25 0
14481 2018-10-18 00:00:00 2019-02-04 00:00:00 151.0 7 4
14486 2020-02-12 00:00:00 NaN NaN 13 0
14488 2015-02-04 00:00:00 NaN NaN 1 0
14536 2020-10-19 00:00:00 NaN NaN 3 0
14678 2020-10-15 00:00:00 NaN NaN 2 0
14750 2018-12-11 00:00:00 NaN NaN 1 0
14798 2014-12-08 00:00:00 2015-01-23 00:00:00 15.8 28 12
14804 2020-09-03 00:00:00 NaN NaN 8 0
14854 2020-09-24 00:00:00 NaN NaN 2 0
14900 2019-03-01 00:00:00 2019-03-11 00:00:00 11.79 28 5
14910 2015-01-14 00:00:00 NaN NaN 12 0
14990 2019-06-24 00:00:00 2019-09-10 00:00:00 3.0 8 2
14993 2017-01-01 00:00:00 NaN NaN 5 0
15082 2019-03-22 00:00:00 NaN NaN 10 0
15122 2014-12-22 00:00:00 NaN NaN 4 0
15149 2020-09-04 00:00:00 NaN NaN 5 0
15152 2020-04-30 00:00:00 NaN NaN 3 0
15172 2019-02-25 00:00:00 NaN NaN 15 0
15174 2018-08-01 00:00:00 2018-11-19 00:00:00 73.09 14 9
15185 2017-07-11 00:00:00 2017-07-25 00:00:00 8.14 6 2
15202 2016-12-08 00:00:00 2017-01-06 00:00:00 18.28 5 1
15231 2018-07-09 00:00:00 NaN NaN 2 0
15456 2013-11-18 00:00:00 2013-12-11 00:00:00 10.0 4 2
15612 2020-02-06 00:00:00 NaN NaN 21 0
15887 2020-10-12 00:00:00 NaN NaN 3 0
15910 2016-07-25 00:00:00 2016-07-29 00:00:00 10.0 14 1
15962 2005-06-01 00:00:00 2013-05-20 00:00:00 208.69 33 33
16116 2017-08-23 00:00:00 2018-02-21 00:00:00 15.35 8 5
16120 2020-08-13 00:00:00 NaN NaN 21 0
16121 2020-08-13 00:00:00 NaN NaN 11 0
16172 2020-10-09 00:00:00 NaN NaN 34 0
16175 2018-04-01 00:00:00 2018-04-03 00:00:00 13.99 23 10
16177 2017-10-10 00:00:00 NaN NaN 1 0
16179 2018-08-16 00:00:00 2018-12-19 00:00:00 133.0 1 1
16215 2020-11-17 00:00:00 NaN NaN 11 0
16229 2020-09-17 00:00:00 NaN NaN 8 0
16267 2013-06-17 00:00:00 NaN NaN 1 0
16273 2019-01-09 00:00:00 2019-03-08 00:00:00 11.08 5 3
16457 2014-02-27 00:00:00 2014-05-29 00:00:00 10.0 2 2
16477 2020-10-05 00:00:00 NaN NaN 12 0
16487 2020-10-05 00:00:00 NaN NaN 1 0
16546 2020-10-28 00:00:00 NaN NaN 17 0
16550 2020-10-14 00:00:00 NaN NaN 30 0
16558 2017-01-23 00:00:00 2018-01-31 00:00:00 476.04 9 4
16581 2018-04-01 00:00:00 2018-04-10 00:00:00 22.9 7 5
16630 2017-07-26 00:00:00 2017-09-15 00:00:00 5.0 3 1
16872 2020-10-19 00:00:00 NaN NaN 15 0
16873 2019-01-14 00:00:00 2019-03-06 00:00:00 7.43 28 2
16957 2018-10-12 00:00:00 NaN NaN 1 0
17004 2013-04-29 00:00:00 NaN NaN 15 0
17033 2018-11-27 00:00:00 NaN NaN 1 0
17065 2014-08-01 00:00:00 2015-11-25 00:00:00 102.0 23 23
17165 2016-06-01 00:00:00 2017-04-10 00:00:00 17.9 16 16
17178 2014-11-01 00:00:00 NaN NaN 1 0
17206 2020-08-24 00:00:00 NaN NaN 7 0
17321 2017-08-21 00:00:00 NaN NaN 2 0
17341 2018-07-08 00:00:00 2018-07-13 00:00:00 3.0 5 2
17395 2020-09-02 00:00:00 NaN NaN 9 0
17419 2016-08-24 00:00:00 2017-01-27 00:00:00 13.54 6 5
17558 2020-09-28 00:00:00 NaN NaN 7 0
17559 2015-11-24 00:00:00 2016-03-04 00:00:00 24.06 8 3
17580 2020-02-10 00:00:00 NaN NaN 7 0
17638 2014-09-01 00:00:00 2014-12-09 00:00:00 10.0 4 1
17662 2020-09-30 00:00:00 NaN NaN 40 0
17687 2015-12-21 00:00:00 NaN NaN 1 0
17709 2013-10-14 00:00:00 2013-11-11 00:00:00 10.0 25 21
17710 2017-07-05 00:00:00 2017-08-08 00:00:00 16.42 49 25
17759 2015-05-29 00:00:00 2015-09-18 00:00:00 10.0 13 9
17782 2019-04-15 00:00:00 2019-05-13 00:00:00 5.78 30 2
17793 2015-05-22 00:00:00 2015-08-19 00:00:00 28.15 16 13
17865 2014-12-17 00:00:00 NaN NaN 2 0
18010 2018-11-01 00:00:00 2019-02-22 00:00:00 11.09 1 1
18025 2020-10-12 00:00:00 NaN NaN 10 0
18031 2018-04-02 00:00:00 NaN NaN 3 0
18071 2020-07-17 00:00:00 NaN NaN 9 0
18225 2019-03-21 00:00:00 NaN NaN 3 0
18253 2019-09-25 00:00:00 NaN NaN 33 0
18303 2019-09-05 00:00:00 NaN NaN 9 0
18356 2020-10-12 00:00:00 NaN NaN 3 0
18357 2015-03-05 00:00:00 2015-12-09 00:00:00 16.4 31 31
18362 2019-09-01 00:00:00 2019-09-26 00:00:00 3.0 5 2
18380 2017-07-03 00:00:00 2017-09-29 00:00:00 3.0 2 2
18450 2019-04-25 00:00:00 2019-07-12 00:00:00 17.66 7 2
18471 2012-12-10 00:00:00 NaN NaN 3 0
18669 2017-11-24 00:00:00 NaN NaN 5 0
18764 2017-01-27 00:00:00 NaN NaN 11 0
18771 2020-06-26 00:00:00 NaN NaN 11 0
18782 2014-07-07 00:00:00 NaN NaN 7 0
18798 2012-09-27 00:00:00 NaN NaN 3 0
18801 2020-06-01 00:00:00 NaN NaN 13 0
18821 2020-11-18 00:00:00 NaN NaN 15 0
19045 2020-10-21 00:00:00 NaN NaN 9 0
19068 2013-07-24 00:00:00 2018-01-10 00:00:00 18.0 4 3
19096 2014-05-15 00:00:00 NaN NaN 4 0
19179 2013-10-01 00:00:00 2013-12-11 00:00:00 16.42 3 2
19342 2019-01-01 00:00:00 2019-01-11 00:00:00 14.59 6 5
19373 2020-09-14 00:00:00 NaN NaN 1 0
19438 2013-02-06 00:00:00 2014-09-10 00:00:00 541.46 2 1
19461 2016-10-31 00:00:00 NaN NaN 13 0
19466 2019-10-15 00:00:00 2019-12-04 00:00:00 10.25 8 1
19537 2014-01-15 00:00:00 2015-03-10 00:00:00 198.14 2 1
19539 2019-08-20 00:00:00 NaN NaN 8 0
19541 2011-05-09 00:00:00 2012-02-06 00:00:00 19.69 24 19
19566 2020-10-20 00:00:00 NaN NaN 33 0
19567 2015-06-17 00:00:00 NaN NaN 2 0
19579 2019-12-16 00:00:00 NaN NaN 7 0
19735 2019-07-25 00:00:00 2019-09-26 00:00:00 5.56 5 1
19917 2018-10-05 00:00:00 2019-01-04 00:00:00 180.67 6 1
19919 2016-11-09 00:00:00 NaN NaN 7 0
19967 2020-10-06 00:00:00 NaN NaN 1 0
19995 2019-02-13 00:00:00 NaN NaN 21 0
20015 2011-07-20 00:00:00 2011-08-10 00:00:00 10.0 21 19
20022 2014-03-29 00:00:00 NaN NaN 1 0
20046 2020-11-09 00:00:00 NaN NaN 6 0
20047 2011-04-11 00:00:00 2011-04-14 00:00:00 141.28 5 4
20074 2020-08-31 00:00:00 NaN NaN 7 0
20270 2017-12-15 00:00:00 2018-01-18 00:00:00 11.27 4 3
20296 2019-07-30 00:00:00 NaN NaN 1 0
20297 2014-04-21 00:00:00 NaN NaN 13 0
20328 2014-12-04 00:00:00 NaN NaN 2 0
20403 2017-10-01 00:00:00 2018-02-05 00:00:00 100.38 16 8
20556 2019-01-11 00:00:00 2019-03-25 00:00:00 7.0 5 2
20581 2015-04-25 00:00:00 2017-05-30 00:00:00 26.65 2 2
20607 2019-12-27 00:00:00 NaN NaN 22 0
20615 2015-07-01 00:00:00 2015-11-04 00:00:00 31.26 21 21
20639 2011-12-19 00:00:00 2012-06-18 00:00:00 14.16 1 1
20663 2016-12-01 00:00:00 2017-03-15 00:00:00 28.79 20 10
20694 2015-12-01 00:00:00 NaN NaN 1 0
20697 2012-04-23 00:00:00 2012-10-08 00:00:00 3.44 3 3
20720 2009-06-11 00:00:00 2009-08-20 00:00:00 285.83 1 1
20860 2015-03-17 00:00:00 NaN NaN 1 0
20864 2018-07-25 00:00:00 NaN NaN 2 0
20868 2020-01-22 00:00:00 2020-02-06 00:00:00 13.07 14 4
20929 2017-02-27 00:00:00 2017-04-03 00:00:00 9.57 14 9
20930 2018-09-18 00:00:00 NaN NaN 4 0
20931 2020-06-19 00:00:00 NaN NaN 3 0
20974 2013-11-01 00:00:00 2014-02-10 00:00:00 36.07 2 2
20983 2016-07-22 00:00:00 NaN NaN 1 0
21003 2020-11-09 00:00:00 NaN NaN 8 0
21047 2019-06-01 00:00:00 2019-09-18 00:00:00 40.63 5 2
21071 2020-04-27 00:00:00 NaN NaN 19 0
21341 2019-04-08 00:00:00 2019-07-01 00:00:00 10.3 6 4
21351 2015-06-11 00:00:00 2016-02-03 00:00:00 27.73 2 1
21389 2020-07-23 00:00:00 NaN NaN 30 0
21480 2017-06-19 00:00:00 2017-06-20 00:00:00 15.0 11 7

21523 2020-03-28 00:00:00 NaN NaN 4 0
21536 2019-07-16 00:00:00 2019-10-15 00:00:00 19.0 3 1
21543 2014-05-05 00:00:00 2014-11-03 00:00:00 39.73 11 11
21571 2019-03-07 00:00:00 NaN NaN 9 0
21606 2020-10-26 00:00:00 NaN NaN 5 0
21613 2017-10-12 00:00:00 2018-04-16 00:00:00 31.0 11 3
21618 2019-11-28 00:00:00 NaN NaN 2 0
21655 2016-05-31 00:00:00 2016-06-30 00:00:00 15.64 11 8
21656 2016-06-01 00:00:00 2016-06-22 00:00:00 11.15 21 16
21762 2019-07-24 00:00:00 2019-11-06 00:00:00 519.0 11 2
21764 2013-11-25 00:00:00 2014-08-12 00:00:00 27.58 8 6
21779 2020-08-28 00:00:00 NaN NaN 2 0
21831 2020-03-09 00:00:00 NaN NaN 16 0
21832 2018-01-01 00:00:00 NaN NaN 10 0
21932 2019-01-07 00:00:00 NaN NaN 16 0
21938 2019-12-19 00:00:00 NaN NaN 8 0
22100 2018-01-17 00:00:00 2018-04-18 00:00:00 43.98 16 7
22103 2019-07-16 00:00:00 2020-03-30 00:00:00 86.0 4 1
22329 2020-08-04 00:00:00 NaN NaN 2 0
22330 2018-09-17 00:00:00 2019-04-24 00:00:00 61.41 2 1
22334 2019-09-26 00:00:00 NaN NaN 3 0
22380 2020-08-26 00:00:00 NaN NaN 25 0
22384 2020-05-29 00:00:00 2020-06-26 00:00:00 4.33 12 1
22412 2016-11-07 00:00:00 2016-12-05 00:00:00 18.78 11 1
22483 2020-11-10 00:00:00 NaN NaN 17 0
22495 2020-10-08 00:00:00 NaN NaN 2 0
22509 2016-07-19 00:00:00 2017-05-05 00:00:00 4.0 10 7
22567 2019-01-23 00:00:00 2019-04-24 00:00:00 13.26 4 3
22676 2012-09-24 00:00:00 2012-12-17 00:00:00 6.45 7 6
22691 2020-11-09 00:00:00 NaN NaN 1 0
22701 2018-09-10 00:00:00 NaN NaN 5 0
22754 2014-04-23 00:00:00 2014-05-15 00:00:00 10.0 5 1
22755 2018-10-22 00:00:00 NaN NaN 1 0
22817 2019-07-09 00:00:00 2019-12-06 00:00:00 289.62 1 1
22830 2011-10-17 00:00:00 2012-06-05 00:00:00 28.68 8 2
22833 2019-02-01 00:00:00 2019-02-13 00:00:00 16.73 10 4
22859 2019-03-11 00:00:00 2019-06-19 00:00:00 19.12 1 1
22860 2017-10-17 00:00:00 2018-01-12 00:00:00 13.15 7 5
22862 2011-10-05 00:00:00 NaN NaN 3 0
22895 2012-05-18 00:00:00 2012-10-03 00:00:00 82.93 1 1
23256 2017-09-01 00:00:00 2017-12-14 00:00:00 6.72 30 14
23289 2018-04-19 00:00:00 NaN NaN 1 0
23305 2015-06-20 00:00:00 2015-07-13 00:00:00 19.3 7 7
23306 2020-11-18 00:00:00 NaN NaN 20 0
23332 2020-08-31 00:00:00 2020-10-12 00:00:00 7.98 15 1
23335 2018-02-20 00:00:00 2018-03-20 00:00:00 14.37 7 3
23672 2015-06-04 00:00:00 NaN NaN 10 0
23942 2017-02-27 00:00:00 2017-03-13 00:00:00 15.27 46 42
23945 2018-03-06 00:00:00 2018-07-27 00:00:00 14.81 6 3
23979 2018-11-12 00:00:00 2019-02-08 00:00:00 11.03 2 1
24026 2016-09-13 00:00:00 NaN NaN 1 0
24108 2019-01-02 00:00:00 NaN NaN 18 0
24112 2015-03-17 00:00:00 2016-01-20 00:00:00 33.35 12 1
24137 2020-08-25 00:00:00 NaN NaN 4 0
24138 2020-09-14 00:00:00 NaN NaN 36 0
24143 2019-01-07 00:00:00 2019-02-01 00:00:00 30.4 6 3
24168 2020-10-16 00:00:00 NaN NaN 2 0
24222 2018-09-12 00:00:00 2019-05-08 00:00:00 210.56 15 7
24225 2014-01-16 00:00:00 NaN NaN 6 0
24226 2017-04-01 00:00:00 2017-07-26 00:00:00 12.4 5 3
24383 2015-12-14 00:00:00 2016-03-10 00:00:00 47.88 5 2
24474 2013-08-14 00:00:00 2013-11-18 00:00:00 12.12 9 6
24562 2019-08-26 00:00:00 2019-11-20 00:00:00 8.59 11 4
24582 2019-10-01 00:00:00 2020-01-02 00:00:00 288.2 19 3
24636 2015-10-13 00:00:00 2019-09-16 00:00:00 440.0 1 1
24654 2020-11-17 00:00:00 NaN NaN 25 0
24782 2019-02-08 00:00:00 2019-03-08 00:00:00 10.15 7 5
24813 2017-02-13 00:00:00 2017-05-10 00:00:00 14.88 13 11
24830 2020-08-26 00:00:00 NaN NaN 25 0
24877 2013-02-25 00:00:00 2013-05-20 00:00:00 10.0 14 10
24885 2013-11-11 00:00:00 NaN NaN 2 0
24902 2017-10-23 00:00:00 2018-03-19 00:00:00 7.22 9 9
24923 2020-03-25 00:00:00 NaN NaN 1 0
25010 2020-01-22 00:00:00 2020-03-04 00:00:00 14.05 9 1
25061 2014-12-18 00:00:00 2015-03-11 00:00:00 21.17 25 1
25085 2018-06-12 00:00:00 NaN NaN 19 0
25332 2017-12-01 00:00:00 2017-12-06 00:00:00 14.65 12 5
25333 2017-04-05 00:00:00 NaN NaN 3 0
25338 2020-09-18 00:00:00 NaN NaN 1 0
25365 2020-10-30 00:00:00 NaN NaN 32 0
25373 2020-02-04 00:00:00 2020-03-03 00:00:00 4.33 2 1
25395 2015-09-25 00:00:00 NaN NaN 1 0
25396 2018-01-01 00:00:00 2018-03-30 00:00:00 10.0 4 1
25397 2015-07-17 00:00:00 NaN NaN 4 0
25424 2015-09-08 00:00:00 2015-09-09 00:00:00 2.89 25 12
25425 2017-05-31 00:00:00 2018-03-14 00:00:00 283.48 6 2
25586 2020-06-24 00:00:00 2020-09-01 00:00:00 6.0 8 1
25589 2018-05-04 00:00:00 2019-01-04 00:00:00 234.0 1 1
25679 2015-02-12 00:00:00 NaN NaN 1 0
25732 2017-12-04 00:00:00 2017-12-13 00:00:00 4.33 13 1
25753 2014-04-10 00:00:00 NaN NaN 1 0
25809 2016-03-03 00:00:00 2016-05-19 00:00:00 14.37 17 1
25828 2020-03-18 00:00:00 NaN NaN 93 0
25830 2020-06-10 00:00:00 NaN NaN 25 0
25837 2020-09-29 00:00:00 NaN NaN 1 0
25861 2015-09-14 00:00:00 2016-01-25 00:00:00 10.0 13 10
25871 2018-08-27 00:00:00 2018-10-15 00:00:00 4.33 5 2
25882 2015-06-01 00:00:00 2015-06-09 00:00:00 9.9 8 6
25886 2016-01-20 00:00:00 2016-05-18 00:00:00 20.74 23 15
26071 2015-04-27 00:00:00 2015-09-18 00:00:00 11.95 4 1
26082 2019-02-06 00:00:00 2019-12-11 00:00:00 129.0 4 2
26334 2020-09-15 00:00:00 NaN NaN 1 0
26366 2020-10-12 00:00:00 NaN NaN 12 0
26367 2018-07-19 00:00:00 2019-01-03 00:00:00 250.0 2 1
26371 2016-06-01 00:00:00 NaN NaN 1 0
26398 2020-03-17 00:00:00 NaN NaN 1 0
26610 2018-10-03 00:00:00 NaN NaN 3 0
26630 2015-08-07 00:00:00 NaN NaN 13 0
26687 2019-10-25 00:00:00 2019-12-06 00:00:00 5.31 4 2
26716 2020-06-30 00:00:00 NaN NaN 9 0
26735 2019-12-18 00:00:00 2020-04-09 00:00:00 11.0 20 1
26820 2011-03-03 00:00:00 NaN NaN 2 0
26854 2019-09-06 00:00:00 NaN NaN 4 0
26875 2019-06-05 00:00:00 2020-03-11 00:00:00 131.0 19 1
26906 2016-06-16 00:00:00 NaN NaN 2 0
27161 2016-02-24 00:00:00 2016-05-23 00:00:00 10.05 23 18
27170 2016-06-13 00:00:00 NaN NaN 2 0
27180 2016-02-16 00:00:00 2016-06-13 00:00:00 20.94 14 12
27184 2020-09-02 00:00:00 NaN NaN 10 0
27207 2015-09-03 00:00:00 2016-03-18 00:00:00 24.24 9 7
27211 2017-04-27 00:00:00 NaN NaN 3 0
27252 2020-09-09 00:00:00 NaN NaN 1 0
27255 2018-05-01 00:00:00 2018-11-06 00:00:00 3.0 5 1
27277 2018-07-09 00:00:00 2018-09-05 00:00:00 16.45 15 6
27282 2018-05-26 00:00:00 NaN NaN 3 0
27399 2018-12-14 00:00:00 2019-08-19 00:00:00 144.0 1 1
27458 2020-11-02 00:00:00 NaN NaN 9 0
27466 2020-05-15 00:00:00 NaN NaN 26 0
27515 2020-10-20 00:00:00 NaN NaN 2 0
27543 2018-11-14 00:00:00 2019-03-08 00:00:00 16.08 3 3
27563 2014-05-01 00:00:00 NaN NaN 53 0
27581 2017-08-17 00:00:00 2018-01-12 00:00:00 20.32 3 2
27583 2019-11-08 00:00:00 NaN NaN 18 0
27611 2020-10-16 00:00:00 NaN NaN 3 0
27619 2019-12-02 00:00:00 2019-12-09 00:00:00 7.14 4 2
27625 2020-07-08 00:00:00 NaN NaN 16 0
27656 2011-09-19 00:00:00 2011-12-28 00:00:00 32.54 42 35
27661 2016-04-08 00:00:00 NaN NaN 13 0
27685 2020-10-07 00:00:00 NaN NaN 22 0
27710 2017-09-01 00:00:00 2017-09-14 00:00:00 16.16 14 12
27745 2020-09-11 00:00:00 NaN NaN 1 0
27766 2019-06-28 00:00:00 2019-09-09 00:00:00 5.22 13 2
27769 2017-08-11 00:00:00 NaN NaN 1 0
27788 2019-05-21 00:00:00 NaN NaN 18 0
27937 2020-07-10 00:00:00 NaN NaN 2 0
27944 2020-11-11 00:00:00 NaN NaN 4 0
27964 2014-09-09 00:00:00 2014-10-06 00:00:00 8.52 30 29
27965 2019-01-08 00:00:00 2019-01-28 00:00:00 3.0 2 1
27966 2018-04-18 00:00:00 2018-07-25 00:00:00 16.77 23 6
28071 2020-10-21 00:00:00 NaN NaN 5 0
28075 2014-11-24 00:00:00 NaN NaN 1 0
28077 2013-07-17 00:00:00 NaN NaN 3 0
28079 2018-08-24 00:00:00 2019-07-22 00:00:00 165.0 2 2
28125 2019-08-12 00:00:00 NaN NaN 32 0
28155 2013-09-30 00:00:00 NaN NaN 10 0
28209 2011-07-18 00:00:00 2012-02-15 00:00:00 33.09 32 13
28219 2019-08-06 00:00:00 NaN NaN 1 0
28250 2020-10-02 00:00:00 NaN NaN 1 0
28445 2017-04-25 00:00:00 2017-08-10 00:00:00 209.22 14 6
28452 2019-10-29 00:00:00 2020-01-31 00:00:00 16.5 2 1
28474 2016-02-01 00:00:00 2016-06-02 00:00:00 21.56 7 7
28496 2013-03-13 00:00:00 NaN NaN 1 0
28630 2020-02-14 00:00:00 NaN NaN 23 0
28634 2020-09-11 00:00:00 NaN NaN 7 0
28662 2014-06-03 00:00:00 2014-07-03 00:00:00 49.2 7 1
28709 2015-10-09 00:00:00 2016-01-08 00:00:00 10.58 14 10
28710 2020-11-16 00:00:00 NaN NaN 11 0
28712 2018-07-24 00:00:00 NaN NaN 1 0
28714 2014-03-25 00:00:00 2014-06-06 00:00:00 76.7 13 8
28716 2018-07-09 00:00:00 2018-10-08 00:00:00 7.3 32 7
28769 2015-11-06 00:00:00 NaN NaN 6 0
28827 2015-04-09 00:00:00 2015-07-16 00:00:00 10.0 7 4
28829 2017-12-18 00:00:00 2018-03-19 00:00:00 3.0 15 9
29029 2017-01-05 00:00:00 2017-09-07 00:00:00 8.0 15 11
29117 2017-08-06 00:00:00 2017-10-19 00:00:00 5.0 12 6
29120 2020-03-05 00:00:00 NaN NaN 22 0
29282 2020-10-05 00:00:00 NaN NaN 2 0
29288 2018-02-05 00:00:00 NaN NaN 7 0
29307 2015-12-29 00:00:00 2016-03-29 00:00:00 10.95 13 11
29356 2017-10-01 00:00:00 2018-01-30 00:00:00 3.0 4 4
29357 2017-09-06 00:00:00 NaN NaN 1 0
29359 2018-02-01 00:00:00 2018-03-21 00:00:00 36.13 8 4
29470 2020-09-14 00:00:00 NaN NaN 17 0
29475 2020-07-16 00:00:00 NaN NaN 3 0
29507 2020-05-15 00:00:00 NaN NaN 4 0
29550 2019-06-04 00:00:00 NaN NaN 15 0
29575 2020-07-13 00:00:00 NaN NaN 1 0
29600 2017-07-26 00:00:00 NaN NaN 4 0
29624 2019-12-23 00:00:00 NaN NaN 10 0
29630 2020-11-03 00:00:00 NaN NaN 2 0
29700 2020-07-31 00:00:00 NaN NaN 1 0
29822 2017-04-01 00:00:00 2018-01-10 00:00:00 207.48 2 1
29905 2018-06-06 00:00:00 NaN NaN 28 0
29956 2015-07-01 00:00:00 2015-10-09 00:00:00 366.22 1 1
30078 2019-05-20 00:00:00 NaN NaN 6 0
30150 2014-12-01 00:00:00 NaN NaN 2 0
30211 2020-07-22 00:00:00 NaN NaN 14 0
30231 2016-04-07 00:00:00 NaN NaN 2 0
30259 2018-08-23 00:00:00 NaN NaN 8 0
30277 2015-07-01 00:00:00 2015-09-28 00:00:00 0.0 1 1
30308 2020-11-06 00:00:00 NaN NaN 2 0
30453 2017-10-12 00:00:00 NaN NaN 1 0
30455 2020-05-26 00:00:00 NaN NaN 5 0
30488 2019-03-27 00:00:00 NaN NaN 18 0
30492 2018-09-07 00:00:00 2018-12-14 00:00:00 14.25 3 2
30526 2017-07-27 00:00:00 NaN NaN 1 0
30528 2016-07-19 00:00:00 2016-12-12 00:00:00 7.43 11 4
30554 2018-06-01 00:00:00 2018-06-06 00:00:00 15.39 31 21
30575 2013-12-01 00:00:00 2013-12-09 00:00:00 10.0 23 14
30592 2019-10-07 00:00:00 NaN NaN 5 0
30678 2014-12-05 00:00:00 2017-07-17 00:00:00 348.66 4 4
30680 2016-07-06 00:00:00 2016-10-05 00:00:00 14.29 13 10
30681 2019-05-01 00:00:00 2019-05-15 00:00:00 10.0 22 5
30689 2018-06-22 00:00:00 2018-08-22 00:00:00 26.61 7 5
30781 2020-03-24 00:00:00 NaN NaN 4 0
30816 2020-05-21 00:00:00 2020-08-07 00:00:00 3.0 11 1
30995 2018-09-17 00:00:00 NaN NaN 2 0
30996 2014-08-04 00:00:00 2014-11-13 00:00:00 0.0 4 4
30998 2016-06-01 00:00:00 2016-06-16 00:00:00 11.44 9 7
31025 2019-06-10 00:00:00 NaN NaN 11 0
31026 2018-03-23 00:00:00 NaN NaN 1 0
31074 2020-09-04 00:00:00 NaN NaN 21 0
31075 2020-09-11 00:00:00 NaN NaN 2 0
31131 2017-11-06 00:00:00 2017-12-18 00:00:00 13.98 20 11
31330 2011-04-11 00:00:00 2011-05-09 00:00:00 10.0 8 7
31363 2016-04-01 00:00:00 2016-04-13 00:00:00 15.74 2 1
31385 2013-09-09 00:00:00 NaN NaN 2 0
31409 2014-12-11 00:00:00 NaN NaN 2 0
31413 2018-12-01 00:00:00 2019-06-04 00:00:00 4.0 17 14
31430 2016-10-05 00:00:00 2017-01-03 00:00:00 5.54 8 7
31489 2013-09-16 00:00:00 NaN NaN 4 0
31492 2017-08-28 00:00:00 2017-11-20 00:00:00 18.62 10 7
31635 2016-08-01 00:00:00 2016-08-02 00:00:00 42.08 15 7
31654 2016-08-09 00:00:00 2017-05-18 00:00:00 10.82 14 14
31676 2018-11-06 00:00:00 2019-09-26 00:00:00 51.84 4 2
31677 2018-01-16 00:00:00 2018-07-02 00:00:00 124.0 4 3
31712 2014-02-12 00:00:00 NaN NaN 1 0
31727 2019-02-08 00:00:00 NaN NaN 2 0
31744 2018-01-15 00:00:00 NaN NaN 3 0
31820 2019-04-05 00:00:00 2019-06-20 00:00:00 3.0 3 3
31839 2019-10-29 00:00:00 2020-01-24 00:00:00 14.03 4 1
31894 2020-01-29 00:00:00 NaN NaN 5 0
31918 2014-12-01 00:00:00 2016-03-04 00:00:00 270.1 20 18

31921 2016-03-22 00:00:00 2016-06-24 00:00:00 7.16 19 10
31927 2016-10-05 00:00:00 NaN NaN 2 0
31933 2020-09-29 00:00:00 NaN NaN 1 0
32081 2016-03-15 00:00:00 NaN NaN 23 0
32113 2014-08-13 00:00:00 2014-09-15 00:00:00 12.1 10 1
32116 2019-09-24 00:00:00 2019-12-10 00:00:00 3.0 12 1
32191 2017-11-01 00:00:00 NaN NaN 1 0
32230 2019-06-22 00:00:00 2020-01-13 00:00:00 161.53 16 1
32231 2019-06-22 00:00:00 NaN NaN 2 0
32277 2013-12-30 00:00:00 NaN NaN 2 0
32280 2016-02-26 00:00:00 NaN NaN 4 0
32421 2017-06-21 00:00:00 2018-11-28 00:00:00 322.92 7 2
32426 2020-07-07 00:00:00 NaN NaN 3 0
32660 2020-06-19 00:00:00 NaN NaN 19 0
32679 2020-02-03 00:00:00 2020-06-11 00:00:00 5.0 1 1
32740 2016-03-16 00:00:00 2016-09-14 00:00:00 231.23 5 3
32774 2020-01-24 00:00:00 NaN NaN 18 0
32797 2020-10-07 00:00:00 NaN NaN 13 0
32815 2011-09-30 00:00:00 2012-03-08 00:00:00 29.93 1 1
32877 2018-05-14 00:00:00 2019-01-11 00:00:00 592.0 1 1
33086 2020-05-13 00:00:00 2020-05-18 00:00:00 4.33 12 2
33106 2019-09-20 00:00:00 2019-10-09 00:00:00 23.41 2 1
33133 2017-07-24 00:00:00 2017-09-14 00:00:00 9.65 3 3
33160 2016-01-01 00:00:00 NaN NaN 6 0
33255 2020-11-12 00:00:00 NaN NaN 14 0
33270 2019-04-12 00:00:00 NaN NaN 2 0
33442 2013-10-15 00:00:00 2013-12-05 00:00:00 10.0 2 2
33477 2016-02-12 00:00:00 2016-05-27 00:00:00 9.48 6 4
33478 2019-05-20 00:00:00 NaN NaN 1 0
33481 2019-04-16 00:00:00 2019-12-27 00:00:00 624.0 1 1
33500 2017-06-28 00:00:00 2017-07-25 00:00:00 29.35 6 2
33510 2017-05-12 00:00:00 NaN NaN 3 0
33531 2020-02-24 00:00:00 NaN NaN 11 0
33604 2018-08-31 00:00:00 NaN NaN 2 0
33871 2020-10-15 00:00:00 NaN NaN 3 0
33873 2020-10-15 00:00:00 NaN NaN 2 0
33886 2020-09-18 00:00:00 NaN NaN 8 0
33977 2017-05-08 00:00:00 NaN NaN 31 0
33980 2019-12-11 00:00:00 2020-01-31 00:00:00 7.7 19 1
33981 2020-06-09 00:00:00 NaN NaN 1 0
34001 2019-02-01 00:00:00 NaN NaN 9 0
34003 2018-02-08 00:00:00 2018-03-02 00:00:00 11.0 53 26
34054 2018-07-01 00:00:00 2018-08-27 00:00:00 14.09 27 4
34207 2020-11-19 00:00:00 NaN NaN 10 0
34414 2019-12-05 00:00:00 2020-06-01 00:00:00 13.07 11 1
34433 2016-10-31 00:00:00 2016-11-28 00:00:00 37.32 17 11
34462 2011-01-20 00:00:00 2011-05-19 00:00:00 24.9 10 5
34494 2014-09-08 00:00:00 2016-04-11 00:00:00 422.79 32 29
34522 2013-07-29 00:00:00 NaN NaN 1 0
34524 2020-10-15 00:00:00 NaN NaN 21 0
34525 2020-11-11 00:00:00 NaN NaN 5 0
34528 2019-12-27 00:00:00 NaN NaN 1 0
34546 2014-01-21 00:00:00 NaN NaN 4 0
34547 2018-05-09 00:00:00 2018-07-10 00:00:00 5.0 14 8
34567 2018-04-09 00:00:00 2018-07-09 00:00:00 3.0 13 6
34570 2018-04-24 00:00:00 NaN NaN 1 0
34574 2020-05-22 00:00:00 NaN NaN 11 0
34769 2020-09-11 00:00:00 NaN NaN 8 0
34799 2020-10-14 00:00:00 NaN NaN 1 0
34807 2015-10-20 00:00:00 2015-11-19 00:00:00 10.0 6 6
34916 2020-10-30 00:00:00 NaN NaN 19 0
34967 2018-01-09 00:00:00 NaN NaN 1 0
34970 2015-09-23 00:00:00 2016-03-28 00:00:00 524.42 7 5
34998 2020-03-11 00:00:00 NaN NaN 10 0
34999 2017-12-06 00:00:00 2018-02-01 00:00:00 14.35 10 10
35103 2019-10-10 00:00:00 2020-01-20 00:00:00 11.06 9 1
35115 2015-06-24 00:00:00 2016-07-20 00:00:00 13.13 30 14
35131 2012-03-09 00:00:00 2015-11-23 00:00:00 10.0 1 1
35264 2015-08-18 00:00:00 2015-11-06 00:00:00 274.4 22 20
35343 2019-01-07 00:00:00 2019-07-24 00:00:00 574.43 4 1
35344 2018-07-26 00:00:00 2018-10-10 00:00:00 3.0 5 3
35397 2016-07-25 00:00:00 2016-11-11 00:00:00 24.97 4 2
35454 2020-10-19 00:00:00 NaN NaN 19 0
35484 2014-05-02 00:00:00 NaN NaN 2 0
35522 2020-11-03 00:00:00 NaN NaN 2 0
35647 2020-11-10 00:00:00 NaN NaN 5 0
35664 2018-10-29 00:00:00 NaN NaN 2 0
35692 2019-08-08 00:00:00 2019-08-09 00:00:00 4.33 27 3
35715 2018-08-01 00:00:00 NaN NaN 7 0
35723 2011-07-07 00:00:00 2011-09-15 00:00:00 10.0 4 4
35774 2020-09-15 00:00:00 NaN NaN 7 0
35775 2020-05-29 00:00:00 NaN NaN 7 0
35799 2019-01-04 00:00:00 2019-01-18 00:00:00 14.07 10 1
35824 2020-10-14 00:00:00 NaN NaN 27 0
35828 2019-12-17 00:00:00 2020-03-12 00:00:00 3.0 20 1
35847 2017-11-01 00:00:00 2018-01-29 00:00:00 5.0 12 3
35869 2020-09-02 00:00:00 NaN NaN 21 0
35932 2013-12-23 00:00:00 NaN NaN 2 0
36062 2016-06-07 00:00:00 2016-09-06 00:00:00 11.73 21 18
36105 2011-12-08 00:00:00 NaN NaN 7 0
36190 2014-12-15 00:00:00 NaN NaN 1 0
36238 2012-06-06 00:00:00 NaN NaN 10 0
36249 2019-02-01 00:00:00 2019-05-08 00:00:00 6.85 6 3
36369 2016-06-23 00:00:00 2016-10-20 00:00:00 23.29 5 3
36403 2020-09-23 00:00:00 NaN NaN 28 0
36404 2019-02-22 00:00:00 NaN NaN 17 0
36508 2016-07-11 00:00:00 2016-11-14 00:00:00 9.98 18 14
36535 2018-06-11 00:00:00 2018-10-15 00:00:00 16.0 5 3
36537 2012-03-07 00:00:00 2015-09-03 00:00:00 97.0 9 9
36556 2019-10-03 00:00:00 NaN NaN 36 0
36584 2018-05-11 00:00:00 NaN NaN 1 0
36589 2020-09-03 00:00:00 NaN NaN 12 0
44936 2020-08-31 00:00:00 NaN NaN 2 0
47879 2020-10-30 00:00:00 NaN NaN 1 0
49272 2020-09-25 00:00:00 NaN NaN 1 0
77586 2020-05-20 00:00:00 NaN NaN 1 0
91078 2020-02-11 00:00:00 2020-06-25 00:00:00 257.08 6 1
146993 2020-03-04 00:00:00 NaN NaN 2 0
165124 2020-05-01 00:00:00 2020-05-18 00:00:00 9.04 8 1
165621 2020-02-19 00:00:00 NaN NaN 14 0
165775 2020-10-26 00:00:00 NaN NaN 18 0
166153 2020-10-12 00:00:00 NaN NaN 6 0
167118 2019-08-13 00:00:00 2019-12-27 00:00:00 30.06 2 1
167219 2020-03-09 00:00:00 NaN NaN 1 0
167247 2020-11-05 00:00:00 NaN NaN 25 0
167358 2019-04-01 00:00:00 2019-04-24 00:00:00 16.76 8 5
167646 2020-10-01 00:00:00 NaN NaN 10 0
167847 2020-11-11 00:00:00 NaN NaN 7 0
167982 2020-04-27 00:00:00 NaN NaN 5 0
168095 2020-09-01 00:00:00 NaN NaN 8 0
168463 2020-07-30 00:00:00 NaN NaN 10 0
168598 2019-05-21 00:00:00 2019-08-09 00:00:00 11.26 2 2
169162 2020-10-15 00:00:00 NaN NaN 1 0
169188 2020-11-16 00:00:00 NaN NaN 8 0
169308 2020-09-11 00:00:00 NaN NaN 2 0
169351 2020-06-01 00:00:00 NaN NaN 1 0
169549 2020-05-18 00:00:00 NaN NaN 4 0
169808 2020-10-12 00:00:00 NaN NaN 12 0
169834 2020-05-22 00:00:00 2020-06-10 00:00:00 4.33 17 3
170048 2019-09-25 00:00:00 2019-10-11 00:00:00 14.19 4 1
170120 2020-09-22 00:00:00 NaN NaN 1 0
170341 2020-11-10 00:00:00 NaN NaN 21 0
170601 2019-12-27 00:00:00 2020-03-18 00:00:00 6.0 1 1
170686 2020-09-29 00:00:00 NaN NaN 4 0
170713 2019-06-07 00:00:00 2019-09-13 00:00:00 7.7 2 1
171182 2019-08-02 00:00:00 2019-09-09 00:00:00 20.35 7 1
171226 2020-08-18 00:00:00 NaN NaN 1 0
171240 2020-06-08 00:00:00 NaN NaN 7 0
171441 2020-09-14 00:00:00 NaN NaN 18 0
171442 2019-08-01 00:00:00 2019-08-12 00:00:00 4.33 18 9
171741 2020-10-14 00:00:00 NaN NaN 9 0
171789 2020-09-21 00:00:00 NaN NaN 1 0
172448 2020-04-02 00:00:00 NaN NaN 5 0
173013 2020-02-13 00:00:00 2020-05-14 00:00:00 12.0 2 1
173883 2020-09-28 00:00:00 NaN NaN 9 0
174044 2020-11-06 00:00:00 NaN NaN 2 0
174314 2020-07-16 00:00:00 NaN NaN 2 0
174400 2020-09-09 00:00:00 NaN NaN 8 0
174453 2020-03-25 00:00:00 NaN NaN 6 0
174677 2020-09-02 00:00:00 NaN NaN 8 0
175751 2020-08-03 00:00:00 NaN NaN 2 0
175984 2020-09-14 00:00:00 NaN NaN 3 0
176201 2020-09-02 00:00:00 NaN NaN 9 0
176291 2020-07-09 00:00:00 NaN NaN 4 0
176393 2019-09-04 00:00:00 2019-12-04 00:00:00 16.4 3 2
176612 2018-06-01 00:00:00 2019-02-25 00:00:00 437.17 14 14
177083 2020-08-21 00:00:00 NaN NaN 1 0
177207 2020-04-27 00:00:00 2020-10-12 00:00:00 468.86 3 1
177972 2020-09-18 00:00:00 NaN NaN 2 0
178232 2020-01-31 00:00:00 2020-07-13 00:00:00 35.0 4 1
178373 2019-12-26 00:00:00 2020-02-28 00:00:00 7.21 1 1
178574 2020-11-11 00:00:00 NaN NaN 18 0
178660 2020-03-01 00:00:00 2020-03-11 00:00:00 4.33 11 2
180346 2019-12-01 00:00:00 NaN NaN 3 0
180615 2019-07-01 00:00:00 2019-08-19 00:00:00 10.67 1 1
180697 2020-04-28 00:00:00 NaN NaN 9 0
180780 2020-01-15 00:00:00 2020-05-13 00:00:00 10.46 4 1
180904 2020-09-16 00:00:00 NaN NaN 24 0
181092 2020-11-09 00:00:00 NaN NaN 7 0
181236 2020-10-16 00:00:00 NaN NaN 3 0
181268 2020-05-04 00:00:00 NaN NaN 7 0
181469 2019-09-10 00:00:00 NaN NaN 3 0
181616 2019-10-14 00:00:00 NaN NaN 1 0
182302 2020-09-21 00:00:00 NaN NaN 10 0
182373 2020-09-21 00:00:00 NaN NaN 8 0
182400 2019-12-17 00:00:00 NaN NaN 1 0
182625 2020-10-27 00:00:00 NaN NaN 5 0
183220 2020-11-19 00:00:00 NaN NaN 5 0
183255 2020-10-09 00:00:00 NaN NaN 18 0
183280 2020-08-25 00:00:00 NaN NaN 6 0
183310 2020-09-15 00:00:00 NaN NaN 1 0
183348 2018-11-01 00:00:00 2019-01-08 00:00:00 8.22 19 19
183722 2020-04-28 00:00:00 NaN NaN 4 0
184018 2020-10-02 00:00:00 NaN NaN 14 0
184057 2019-12-18 00:00:00 2020-02-21 00:00:00 6.44 1 1
184239 2020-07-29 00:00:00 NaN NaN 3 0
184641 2020-08-17 00:00:00 NaN NaN 2 0
184804 2019-09-17 00:00:00 NaN NaN 1 0
185086 2020-02-07 00:00:00 2020-03-09 00:00:00 5.52 7 2
185581 2020-10-19 00:00:00 NaN NaN 1 0
186570 2020-02-13 00:00:00 NaN NaN 4 0
186713 2020-06-05 00:00:00 NaN NaN 1 0
186749 2020-09-28 00:00:00 NaN NaN 2 0
186766 2020-11-11 00:00:00 NaN NaN 10 0
186797 2020-11-18 00:00:00 NaN NaN 4 0
187189 2020-11-16 00:00:00 NaN NaN 11 0
187363 2019-06-19 00:00:00 2019-09-09 00:00:00 4.84 9 3
187370 2020-10-16 00:00:00 NaN NaN 5 0
187900 2020-02-03 00:00:00 2020-03-02 00:00:00 13.86 6 1
188261 2020-08-21 00:00:00 NaN NaN 3 0
189405 2019-07-29 00:00:00 2019-08-26 00:00:00 13.51 10 5
190217 2020-07-27 00:00:00 2020-08-12 00:00:00 18.66 1 1
190287 2020-08-11 00:00:00 NaN NaN 3 0
190894 2020-11-09 00:00:00 NaN NaN 1 0
191117 2020-08-12 00:00:00 NaN NaN 4 0
191166 2020-09-09 00:00:00 NaN NaN 2 0
192449 2020-06-05 00:00:00 NaN NaN 3 0
193067 2020-07-28 00:00:00 NaN NaN 3 0
193515 2020-08-14 00:00:00 NaN NaN 4 0
193566 2020-11-01 00:00:00 NaN NaN 2 0
194098 2020-09-30 00:00:00 NaN NaN 3 0
194272 2020-11-10 00:00:00 NaN NaN 2 0
194338 2020-09-14 00:00:00 NaN NaN 5 0
194395 2020-09-18 00:00:00 NaN NaN 6 0
194665 2020-09-08 00:00:00 NaN NaN 10 0
196104 2020-10-16 00:00:00 NaN NaN 1 0
196207 2020-10-29 00:00:00 NaN NaN 2 0
197236 2020-10-02 00:00:00 NaN NaN 6 0
197384 2020-10-15 00:00:00 NaN NaN 1 0
197446 2020-10-12 00:00:00 NaN NaN 7 0
197664 2020-09-03 00:00:00 NaN NaN 2 0
197945 2020-09-09 00:00:00 NaN NaN 1 0
198103 2020-09-21 00:00:00 NaN NaN 2 0
199348 2020-08-31 00:00:00 NaN NaN 3 0
200563 2020-07-06 00:00:00 NaN NaN 1 0
201026 2020-10-01 00:00:00 NaN NaN 1 0
203209 2020-11-01 00:00:00 NaN NaN 2 0
203736 2020-10-14 00:00:00 NaN NaN 1 0
205144 2020-10-12 00:00:00 NaN NaN 1 0

In [174]:
df_results_after_adt=pd.DataFrame(result_after_list)
#result_per_pt=[y, a, gap, tdate, tvalue]
#result_per_pt=[y, a, gap, tdate, tvalue,N_t_dates,N_t_dates_afterADT]
df_results_after_adt.columns=(['person_id','inital_ADT_end_date', 'Tdate immediately after ADT', 'Tvalue',"N_T_dates","N_T_dates_afterADT"])

In [175]:
len(df_results_after_adt)

940

In [176]:
df_results_before_adt.to_csv("940pts_ttest_results_before_adt.csv", encoding='utf-8', index=False)
df_results_after_adt.to_csv("940pts_ttest_results_after_adt.csv", encoding='utf-8', index=False)