### README.md
####Step1, get rid of lines with NaN in both start and end dates; detele the lines with "comment" as "deleted"
####Step2, unify Meditable and Notes
####Step3, combine all 5 ADTs and get start and end dates

In [309]:
import numpy as np
import pandas as pd
import sys, getopt
import csv

In [310]:
df1=pd.read_csv("./temp4.csv", header=0, delim_whitespace=False).reset_index()

In [311]:
df1[:12]

,index,person_id,generic_drug_name,source,start_date,end_date,comment
0,0,12.0,Leuprolide,Medtable,5/6/13,Null,reviewed
1,1,12.0,Leuprolide,Notes,Null,8/6/13,added
2,2,18.0,Goserelin,Medtable,12/9/13,3/13/14,reviewed
3,3,18.0,Degarelix,Medtable,11/12/13,11/12/13,reviewed
4,4,25.0,Leuprolide,Medtable,Null,2/18/14,reviewed
5,5,25.0,Leuprolide,Notes,11/18/13,Null,added
6,6,25.0,Leuprolide,Notes,Null,Null,deleted
7,7,25.0,Bicalutamide,Notes,Null,Null,reviewed
8,8,26.0,Bicalutamide,Medtable,Null,10/15/14,reviewed
9,9,26.0,Bicalutamide,Notes,7/15/14,Null,reviewed
10,10,26.0,Leuprolide,Medtable,11/26/14,6/10/15,reviewed
11,11,NaN,NaN,NaN,NaN,NaN,NaN

In [312]:
df1.columns

Index(['index', 'person_id', 'generic_drug_name', 'source', 'start_date',
       'end_date', 'comment'],
      dtype='object')

In [313]:
#remove empty grits and NaNs
df1['comment'].replace('', np.nan, inplace=True)
df1.dropna(subset=['comment'], inplace=True)

In [314]:
print(df1.shape)

(11, 7)

In [315]:
df1['start_date']

0       5/6/13
1         Null
2      12/9/13
3     11/12/13
4         Null
5     11/18/13
6         Null
7         Null
8         Null
9      7/15/14
10    11/26/14
Name: start_date, dtype: object

In [316]:
df1

,index,person_id,generic_drug_name,source,start_date,end_date,comment
0,0,12.0,Leuprolide,Medtable,5/6/13,Null,reviewed
1,1,12.0,Leuprolide,Notes,Null,8/6/13,added
2,2,18.0,Goserelin,Medtable,12/9/13,3/13/14,reviewed
3,3,18.0,Degarelix,Medtable,11/12/13,11/12/13,reviewed
4,4,25.0,Leuprolide,Medtable,Null,2/18/14,reviewed
5,5,25.0,Leuprolide,Notes,11/18/13,Null,added
6,6,25.0,Leuprolide,Notes,Null,Null,deleted
7,7,25.0,Bicalutamide,Notes,Null,Null,reviewed
8,8,26.0,Bicalutamide,Medtable,Null,10/15/14,reviewed
9,9,26.0,Bicalutamide,Notes,7/15/14,Null,reviewed
10,10,26.0,Leuprolide,Medtable,11/26/14,6/10/15,reviewed

In [317]:
df1[df1['comment'].str.contains("deleted")]

   index  person_id generic_drug_name source start_date end_date  comment
6      6       25.0        Leuprolide  Notes       Null     Null  deleted

In [318]:
for ind in df1.index:
    if (df1['comment'][ind]=='deleted'): 
        print('line '+str(ind) +' contains '+ "'" + 'deleted'+"'")
        #df1.drop(index=ind)
        df1.drop(df1.index[ind],inplace=True)

line 6 contains 'deleted'

In [323]:
df2=df1.reset_index()

In [320]:
df2

,level_0,index,person_id,generic_drug_name,source,start_date,end_date,comment
0,0,0,12.0,Leuprolide,Medtable,5/6/13,Null,reviewed
1,1,1,12.0,Leuprolide,Notes,Null,8/6/13,added
2,2,2,18.0,Goserelin,Medtable,12/9/13,3/13/14,reviewed
3,3,3,18.0,Degarelix,Medtable,11/12/13,11/12/13,reviewed
4,4,4,25.0,Leuprolide,Medtable,Null,2/18/14,reviewed
5,5,5,25.0,Leuprolide,Notes,11/18/13,Null,added
6,7,7,25.0,Bicalutamide,Notes,Null,Null,reviewed
7,8,8,26.0,Bicalutamide,Medtable,Null,10/15/14,reviewed
8,9,9,26.0,Bicalutamide,Notes,7/15/14,Null,reviewed
9,10,10,26.0,Leuprolide,Medtable,11/26/14,6/10/15,reviewed

In [321]:
#df1[df1['comment'].str.contains("deleted")]

In [324]:
#clean up dataframe with just ADTs
ADT_lib=["Leuprolide","Degarelix","Goserelin","Triptorelin","Histrelin"]

for ind in df2.index:
    if (df2['generic_drug_name'][ind] not in ADT_lib): 
        print(ind,'n')
        df2.drop(df2.index[ind],inplace=True)

6 n
7 n

KeyError: 8

In [ ]:
for ind in df2.index:
    if (df2['generic_drug_name'][ind] not in ADT_lib): 
        print(ind,'n')
        df2.drop(df2.index[ind],inplace=True)

In [ ]:
df2.drop(df2.index[6],inplace=True)

In [325]:
df2.index

Int64Index([0, 1, 2, 3, 4, 5, 7, 9], dtype='int64')

In [ ]:
ADT_lib=["Leuprolide","Degarelix","Goserelin","Triptorelin","Histrelin"]

In [ ]:
df2['generic_drug_name'][0] in ADT_lib

In [ ]:
#for each pt, each drug, put all 
#step1,

#merge for each pt, each use of drug, medtable and notes records for start and end dates
df2 = pd.DataFrame() 
for ind in df1.index:
    if (df1['source'][ind]=='Medtable' and df1['start_date'][ind] !='Null'): 
        #df1.drop(index=ind)
        startDay= df1['start_date'][ind]
        else

In [ ]:
start

In [ ]:
s1.str.isnumeric()