# README.md

### For each pt with an ADT ending date, find its T date and T value around 6months later
#rules: if has a T test/value within the 6 months (180-210 days), take the closet to 180 days; if not, take one from within 5-6 months (150-180 days), also take the closet to 180 days

## Table of Contents
* [Read data,clean up and get stats](#first-bullet)
* [Get the closest date to 6 months](#second-bullet)
* [Output results](#third-bullet)

# Read data, clean up and get stats <a class="anchor" id="first-bullet"></a>

In [38]:
import numpy as np
import pandas as pd
import sys, getopt
import csv
from datetime import datetime
from datetime import timedelta, date
import itertools

from matplotlib import pyplot
from pylab import *
import matplotlib.pyplot as plt

%matplotlib inline  
import seaborn as sns

In [39]:
df1=pd.read_excel("./data/T_recovery_localized_disease_167pts_cohort.xlsx", header=0)
df1.fillna('', inplace=True)
#df1['inital_ADT_end_date'] = pd.to_datetime(df1['inital_ADT_end_date'])

df2=pd.read_excel("./data/pca_tresults_20210119_BP_fixed.xlsx", header=0)
#df3=pd.read_csv("just_start_empty.csv", header=0)

In [40]:
df1[:3]

,person_id,status_manual_ok,status_tbaseline,status_rec,ADT_start,ADT_end,baseline_tdate,baseline_tvalue,rec_tdate,rec_tvalue,person_id.1,Salvage RT+ADT (Y/N),evidence for E,ADT used as part of localized disease (Y/N)
0,38,Y,Y,Y,2015-11-18,2016-07-18,2015-11-18,288.37,2018-04-16 00:00:00,317.16,38,N,"Given his age and high risk disease, he is not...",Y
1,81,Y,Y,Y,2014-04-15,2016-06-09,2014-04-10,313.07,2017-04-03 00:00:00,309.59,81,Y,,Y
2,119,Y,Y,Y,2013-07-02,2013-10-02,2013-06-17,403.10,2015-09-21 00:00:00,331.74,119,N,,Y

In [4]:
#df3=pd.read_csv("just_start_empty.csv", header=0)
df2.replace(r'', np.NaN)
df2[:3]

,person_id,cancer_type_id,year_of_diagnosis,month_of_diagnosis,day_of_diagnosis,dx_date,result_date,loinc_code,source_test_name,test_results
0,2,2,2003,1.0,7.0,2003-01-07,2006-09-05,49041-7,TESTOSTERONE,351.0
1,2,2,2003,1.0,7.0,2003-01-07,2007-01-09,49041-7,TESTOSTERONE,304.0
2,2,2,2003,1.0,7.0,2003-01-07,2007-05-17,49041-7,TESTOSTERONE,259.0

In [5]:
df2[:1]

,person_id,cancer_type_id,year_of_diagnosis,month_of_diagnosis,day_of_diagnosis,dx_date,result_date,loinc_code,source_test_name,test_results
0,2,2,2003,1.0,7.0,2003-01-07,2006-09-05,49041-7,TESTOSTERONE,351.0

In [6]:
list_pts_adt_table=df1["person_id"].to_list()
list_pts_tvalue_table=df2["person_id"].to_list()

In [7]:
print("pt number in adt table is:")
print(len(list_pts_adt_table))
print("")
print("pt number in t value table is:")
print(len(list_pts_tvalue_table))

pt number in adt table is:
167

pt number in t value table is:
18643

In [8]:
index_list=df2.columns
index_list

Index(['person_id', 'cancer_type_id', 'year_of_diagnosis',
       'month_of_diagnosis', 'day_of_diagnosis', 'dx_date', 'result_date',
       'loinc_code', 'source_test_name', 'test_results'],
      dtype='object')

In [9]:
print(df2.shape)
#delete some useless columns
del_col=['cancer_type_id', 'year_of_diagnosis', 'month_of_diagnosis', 'day_of_diagnosis', 'dx_date','loinc_code', 'source_test_name']

for col in del_col:
    del df2[col]
print(df2.shape)

(18643, 10)
(18643, 3)

In [19]:
y=81

df1_pt=df1[(df1["person_id"] == y)]
df2_pt=df2[(df2["person_id"] == y)]

In [20]:
df1_pt[:2]

,person_id,status_manual_ok,status_tbaseline,status_rec,ADT_start,ADT_end,baseline_tdate,baseline_tvalue,rec_tdate,rec_tvalue,person_id.1,Salvage RT+ADT (Y/N),evidence for E,ADT used as part of localized disease (Y/N)
1,81,Y,Y,Y,2014-04-15,2016-06-09,2014-04-10,313.07,2017-04-03 00:00:00,309.59,81,Y,,Y

In [21]:
df2_pt

     person_id result_date  test_results
274         81  2014-04-10        313.07
275         81  2014-05-15         10.00
276         81  2016-09-27         14.52
277         81  2016-12-29        228.03
278         81  2017-04-03        309.59
279         81  2017-07-05        300.13
280         81  2017-10-16        215.23
281         81  2018-04-16        223.67
282         81  2018-11-29        269.96
283         81  2019-05-06        208.60
284         81  2019-11-04        175.84
285         81  2020-06-08        188.20

In [22]:
tvalue=df2_pt.loc[df2_pt['result_date'] == ('2017-02-01 00:00:00')]

In [23]:
test=df2_pt[:1].test_results.values[0]
test

313.07

In [ ]:
# Get the closest date to 6 months  <a class="anchor" id="second-bullet"></a>

In [24]:
def closest(lst, K): 
      return lst[min(range(len(lst)), key = lambda i: abs(lst[i] - K))]

In [29]:
result_list=[]

for y in list_pts_adt_table:
    
    df1_pt=df1[(df1["person_id"] == y)]
    a=df1_pt['ADT_end'].to_list()[0]
    #add 6 months to the inital ADT end date
    a_plus_5mons=a + timedelta(days=150)
    a_plus_6mons=a + timedelta(days=180)
    a_plus_7mons=a + timedelta(days=210)
    #pick up initial ADT window 
    
    df2_pt=df2[(df2["person_id"] == y)]    
    each_pt_tdates = df2_pt['result_date'].to_list()

    ##get rid of nan
    cleaned_a=[]
    cleaned_a= [x for x in each_pt_tdates if str(x) != 'NaN']
    cleaned_aa= [x for x in cleaned_a if str(x) != 'nan']
    cleaned_aaa= [x for x in cleaned_aa if str(x) != 'NaT']
    cleaned_b1= [x for x in cleaned_aaa if x>=a_plus_6mons and x <=a_plus_7mons]
    cleaned_b2= [x for x in cleaned_aaa if x>=a_plus_5mons and x <=a_plus_6mons]

    start_sorted_bin1=sorted(cleaned_b1)
    start_sorted_bin2=sorted(cleaned_b2)    

    if(len(start_sorted_bin1)>0):
        #apply the closet function
        tdate=closest(start_sorted_bin1,a_plus_6mons)
        #pick up T-value for T-date
        df2_pt_pick=df2_pt[(df2_pt['result_date']==tdate)]
        tvalue=df2_pt_pick.test_results.values[0]
        status='btw 180-210days'
        
    if(len(start_sorted_bin1)==0):
        if(len(start_sorted_bin2)==0):            
            tdate='NaN'
            status='NaN'
            tvalue='NaN'  
            
        if(len(start_sorted_bin2)>0):                          
            #apply the closet function
            tdate=closest(start_sorted_bin2,a_plus_6mons)          
            #pick up T-value for T-date
            df2_pt_pick=df2_pt[(df2_pt['result_date']==tdate)]
            if len(df2_pt_pick.test_results.values)>0:
                tvalue=df2_pt_pick.test_results.values[0]
            if len(df2_pt_pick.test_results.values)==0:
                start_sorted_bin2.remove(tdate)
                tdate=closest(start_sorted_bin2,a_plus_6mons)
                #pick up T-value for T-date
                df2_pt_pick=df2_pt[(df2_pt['result_date']==tdate)]                
            status='btw 150-180days'
            
    print(y, a,  a_plus_6mons, tdate, tvalue,status)
    result_per_pt=[y, a, a_plus_6mons, tdate, tvalue,status]
    result_list.append(result_per_pt)

38 2016-07-18 00:00:00 2017-01-14 00:00:00 2017-01-20 00:00:00 18.85 btw 180-210days
81 2016-06-09 00:00:00 2016-12-06 00:00:00 2016-12-29 00:00:00 228.03 btw 180-210days
119 2013-10-02 00:00:00 2014-03-31 00:00:00 NaN NaN NaN
870 2017-10-13 00:00:00 2018-04-11 00:00:00 2018-04-10 00:00:00 228.0 btw 150-180days
1257 2015-07-08 00:00:00 2016-01-04 00:00:00 2016-01-27 00:00:00 203.25 btw 180-210days
1503 2018-11-26 00:00:00 2019-05-25 00:00:00 NaN NaN NaN
1508 2017-04-16 00:00:00 2017-10-13 00:00:00 2017-10-21 00:00:00 54.0 btw 180-210days
1583 2013-09-11 00:00:00 2014-03-10 00:00:00 NaN NaN NaN
1704 2015-06-05 00:00:00 2015-12-02 00:00:00 2015-12-11 00:00:00 125.0 btw 180-210days
2061 2019-02-06 00:00:00 2019-08-05 00:00:00 NaN NaN NaN
2063 2018-03-20 00:00:00 2018-09-16 00:00:00 2018-09-20 00:00:00 376.65 btw 180-210days
2200 2014-11-03 00:00:00 2015-05-02 00:00:00 NaN NaN NaN
2623 2019-10-03 00:00:00 2020-03-31 00:00:00 NaN NaN NaN
2652 2019-06-01 00:00:00 2019-11-28 00:00:00 2019-12-16 00:00:00 379.41 btw 180-210days
2655 2017-11-07 00:00:00 2018-05-06 00:00:00 2018-05-10 00:00:00 89.58 btw 180-210days
2660 2018-10-09 00:00:00 2019-04-07 00:00:00 2019-04-09 00:00:00 3.0 btw 180-210days
3030 2015-06-05 00:00:00 2015-12-02 00:00:00 2015-12-21 00:00:00 10.0 btw 180-210days
3579 2015-03-25 00:00:00 2015-09-21 00:00:00 NaN NaN NaN
3993 2020-02-06 00:00:00 2020-08-04 00:00:00 NaN NaN NaN
4056 2012-08-30 00:00:00 2013-02-26 00:00:00 2013-02-28 00:00:00 13.61 btw 180-210days
4235 2012-04-03 00:00:00 2012-09-30 00:00:00 NaN NaN NaN
5021 2015-10-01 00:00:00 2016-03-29 00:00:00 NaN NaN NaN
5041 2011-10-17 00:00:00 2012-04-14 00:00:00 NaN NaN NaN
5043 2019-08-31 00:00:00 2020-02-27 00:00:00 NaN NaN NaN
5561 2019-06-21 00:00:00 2019-12-18 00:00:00 NaN NaN NaN
5791 2020-12-01 00:00:00 2021-05-30 00:00:00 NaN NaN NaN
5870 2017-11-13 00:00:00 2018-05-12 00:00:00 2018-05-21 00:00:00 24.0 btw 180-210days
5873 2010-11-08 00:00:00 2011-05-07 00:00:00 NaN NaN NaN
5875 2018-07-23 00:00:00 2019-01-19 00:00:00 NaN NaN NaN
6505 2015-05-27 00:00:00 2015-11-23 00:00:00 NaN NaN NaN
6794 2019-06-27 00:00:00 2019-12-24 00:00:00 NaN NaN NaN
7236 2017-01-04 00:00:00 2017-07-03 00:00:00 2017-06-22 00:00:00 23.1 btw 150-180days
7268 2019-01-19 00:00:00 2019-07-18 00:00:00 2019-08-07 00:00:00 726.27 btw 180-210days
7611 2018-09-12 00:00:00 2019-03-11 00:00:00 2019-03-27 00:00:00 11.32 btw 180-210days
7612 2016-01-20 00:00:00 2016-07-18 00:00:00 2016-07-25 00:00:00 604.81 btw 180-210days
8272 2018-09-07 00:00:00 2019-03-06 00:00:00 2019-04-01 00:00:00 13.51 btw 180-210days
8302 2014-06-09 00:00:00 2014-12-06 00:00:00 NaN NaN NaN
8544 2018-11-21 00:00:00 2019-05-20 00:00:00 NaN NaN NaN
8758 2014-11-04 00:00:00 2015-05-03 00:00:00 NaN NaN NaN
9233 2016-12-05 00:00:00 2017-06-03 00:00:00 NaN NaN NaN
9541 2016-03-25 00:00:00 2016-09-21 00:00:00 NaN NaN NaN
9975 2018-03-05 00:00:00 2018-09-01 00:00:00 NaN NaN NaN
10124 2014-09-04 00:00:00 2015-03-03 00:00:00 NaN NaN NaN
10945 2019-12-12 00:00:00 2020-06-09 00:00:00 2020-05-14 00:00:00 15.06 btw 150-180days
11482 2018-03-01 00:00:00 2018-08-28 00:00:00 NaN NaN NaN
11613 2017-03-17 00:00:00 2017-09-13 00:00:00 2017-09-27 00:00:00 19.38 btw 180-210days
11859 2018-08-08 00:00:00 2019-02-04 00:00:00 2019-01-23 00:00:00 236.52 btw 150-180days
11861 2018-07-06 00:00:00 2019-01-02 00:00:00 NaN NaN NaN
12184 2015-07-29 00:00:00 2016-01-25 00:00:00 2016-01-20 00:00:00 10.24 btw 150-180days
12187 2016-02-24 00:00:00 2016-08-22 00:00:00 NaN NaN NaN
12208 2017-09-19 00:00:00 2018-03-18 00:00:00 NaN NaN NaN
12374 2018-10-22 00:00:00 2019-04-20 00:00:00 2019-04-08 00:00:00 48.0 btw 150-180days
12563 2020-10-05 00:00:00 2021-04-03 00:00:00 NaN NaN NaN
12779 2013-12-12 00:00:00 2014-06-10 00:00:00 NaN NaN NaN
13170 2017-09-05 00:00:00 2018-03-04 00:00:00 2018-02-09 00:00:00 25.0 btw 150-180days
13274 2018-09-01 00:00:00 2019-02-28 00:00:00 2019-02-22 00:00:00 236.0 btw 150-180days
13609 2018-04-23 00:00:00 2018-10-20 00:00:00 2018-11-16 00:00:00 231.0 btw 180-210days
13613 2019-09-24 00:00:00 2020-03-22 00:00:00 NaN NaN NaN
13859 2017-10-23 00:00:00 2018-04-21 00:00:00 2018-04-23 00:00:00 162.71 btw 180-210days
14217 2017-05-01 00:00:00 2017-10-28 00:00:00 NaN NaN NaN
14221 2019-06-11 00:00:00 2019-12-08 00:00:00 NaN NaN NaN
14242 2016-02-15 00:00:00 2016-08-13 00:00:00 2016-08-12 00:00:00 48.0 btw 150-180days
14278 2018-11-26 00:00:00 2019-05-25 00:00:00 NaN NaN NaN
14287 2019-07-15 00:00:00 2020-01-11 00:00:00 NaN NaN NaN
14486 2018-04-12 00:00:00 2018-10-09 00:00:00 2018-10-18 00:00:00 171.0 btw 180-210days
14900 2018-09-01 00:00:00 2019-02-28 00:00:00 2019-03-11 00:00:00 11.79 btw 180-210days
14990 2019-06-24 00:00:00 2019-12-21 00:00:00 2020-01-15 00:00:00 80.94 btw 180-210days
15149 2015-08-14 00:00:00 2016-02-10 00:00:00 NaN NaN NaN
15495 2018-08-15 00:00:00 2019-02-11 00:00:00 NaN NaN NaN
16175 2018-04-03 00:00:00 2018-09-30 00:00:00 NaN NaN NaN
16546 2018-09-12 00:00:00 2019-03-11 00:00:00 2019-03-13 00:00:00 19.03 btw 180-210days
16558 2017-01-23 00:00:00 2017-07-22 00:00:00 NaN NaN NaN
16630 2012-10-01 00:00:00 2013-03-30 00:00:00 NaN NaN NaN
17341 2018-07-08 00:00:00 2019-01-04 00:00:00 NaN NaN NaN
17395 2018-02-07 00:00:00 2018-08-06 00:00:00 NaN NaN NaN
17559 2015-11-24 00:00:00 2016-05-22 00:00:00 2016-06-03 00:00:00 439.17 btw 180-210days
17580 2018-02-26 00:00:00 2018-08-25 00:00:00 NaN NaN NaN
17638 2014-09-09 00:00:00 2015-03-08 00:00:00 NaN NaN NaN
17662 2014-08-15 00:00:00 2015-02-11 00:00:00 2015-02-10 00:00:00 51.09 btw 150-180days
17710 2014-09-10 00:00:00 2015-03-09 00:00:00 2015-03-03 00:00:00 134.4 btw 150-180days
18303 2017-09-12 00:00:00 2018-03-11 00:00:00 NaN NaN NaN
18450 2019-04-25 00:00:00 2019-10-22 00:00:00 NaN NaN NaN
19068 2017-10-01 00:00:00 2018-03-30 00:00:00 NaN NaN NaN
19917 2018-10-05 00:00:00 2019-04-03 00:00:00 NaN NaN NaN
20015 2011-07-20 00:00:00 2012-01-16 00:00:00 2012-02-15 00:00:00 59.79 btw 180-210days
20047 2011-04-11 00:00:00 2011-10-08 00:00:00 NaN NaN NaN
20270 2018-03-12 00:00:00 2018-09-08 00:00:00 NaN NaN NaN
20556 2019-01-11 00:00:00 2019-07-10 00:00:00 NaN NaN NaN
20929 2017-02-27 00:00:00 2017-08-26 00:00:00 2017-08-02 00:00:00 370.63 btw 150-180days
21047 2019-03-01 00:00:00 2019-08-28 00:00:00 2019-09-18 00:00:00 40.63 btw 180-210days
21341 2019-04-08 00:00:00 2019-10-05 00:00:00 2019-10-30 00:00:00 330.26 btw 180-210days
21351 2015-06-11 00:00:00 2015-12-08 00:00:00 NaN NaN NaN
21448 2016-10-08 00:00:00 2017-04-06 00:00:00 NaN NaN NaN
21480 2017-06-19 00:00:00 2017-12-16 00:00:00 2017-12-18 00:00:00 88.0 btw 180-210days
21613 2017-10-12 00:00:00 2018-04-10 00:00:00 2018-04-16 00:00:00 31.0 btw 180-210days
21655 2016-05-31 00:00:00 2016-11-27 00:00:00 2016-11-29 00:00:00 31.95 btw 180-210days
21656 2016-03-23 00:00:00 2016-09-19 00:00:00 2016-09-20 00:00:00 81.83 btw 180-210days
21832 2016-05-26 00:00:00 2016-11-22 00:00:00 2016-11-28 00:00:00 312.15 btw 180-210days
21932 2016-05-27 00:00:00 2016-11-23 00:00:00 NaN NaN NaN
21938 2019-04-25 00:00:00 2019-10-22 00:00:00 NaN NaN NaN
22100 2018-01-17 00:00:00 2018-07-16 00:00:00 2018-08-01 00:00:00 133.16 btw 180-210days
22380 2016-10-03 00:00:00 2017-04-01 00:00:00 2017-03-30 00:00:00 20.54 btw 150-180days
22412 2016-11-07 00:00:00 2017-05-06 00:00:00 NaN NaN NaN
22483 2018-10-18 00:00:00 2019-04-16 00:00:00 2019-05-15 00:00:00 203.0 btw 180-210days
22676 2012-10-03 00:00:00 2013-04-01 00:00:00 NaN NaN NaN
22833 2019-02-13 00:00:00 2019-08-12 00:00:00 NaN NaN NaN
23306 2016-03-28 00:00:00 2016-09-24 00:00:00 2016-10-03 00:00:00 339.56 btw 180-210days
23945 2018-03-06 00:00:00 2018-09-02 00:00:00 NaN NaN NaN
23979 2018-11-12 00:00:00 2019-05-11 00:00:00 NaN NaN NaN
24143 2019-04-15 00:00:00 2019-10-12 00:00:00 NaN NaN NaN
24222 2018-04-18 00:00:00 2018-10-15 00:00:00 NaN NaN NaN
24226 2017-04-12 00:00:00 2017-10-09 00:00:00 2017-11-01 00:00:00 326.99 btw 180-210days
24474 2013-08-14 00:00:00 2014-02-10 00:00:00 NaN NaN NaN
24562 2019-08-26 00:00:00 2020-02-22 00:00:00 2020-02-12 00:00:00 26.01 btw 150-180days
24582 2019-02-27 00:00:00 2019-08-26 00:00:00 NaN NaN NaN
25809 2016-03-03 00:00:00 2016-08-30 00:00:00 NaN NaN NaN
25886 2016-01-20 00:00:00 2016-07-18 00:00:00 2016-08-17 00:00:00 178.42 btw 180-210days
26071 2015-04-27 00:00:00 2015-10-24 00:00:00 NaN NaN NaN
26687 2019-10-25 00:00:00 2020-04-22 00:00:00 NaN NaN NaN
26735 2015-10-19 00:00:00 2016-04-16 00:00:00 2016-04-12 00:00:00 179.86 btw 150-180days
26854 2018-05-15 00:00:00 2018-11-11 00:00:00 NaN NaN NaN
27180 2016-02-16 00:00:00 2016-08-14 00:00:00 NaN NaN NaN
27207 2015-07-31 00:00:00 2016-01-27 00:00:00 NaN NaN NaN
27255 2018-05-16 00:00:00 2018-11-12 00:00:00 2018-11-06 00:00:00 3.0 btw 150-180days
27656 2012-09-18 00:00:00 2013-03-17 00:00:00 2013-03-12 00:00:00 70.05 btw 150-180days
27710 2017-08-07 00:00:00 2018-02-03 00:00:00 2018-02-05 00:00:00 60.65 btw 180-210days
27766 2016-03-28 00:00:00 2016-09-24 00:00:00 2016-08-31 00:00:00 92.39 btw 150-180days
27945 2019-10-15 00:00:00 2020-04-12 00:00:00 NaN NaN NaN
27966 2016-06-16 00:00:00 2016-12-13 00:00:00 2016-12-21 00:00:00 88.44 btw 180-210days
28209 2011-07-18 00:00:00 2012-01-14 00:00:00 NaN NaN NaN
28716 2016-09-19 00:00:00 2017-03-18 00:00:00 2017-04-05 00:00:00 256.77 btw 180-210days
29307 2015-12-29 00:00:00 2016-06-26 00:00:00 2016-06-28 00:00:00 87.81 btw 180-210days
29359 2018-02-01 00:00:00 2018-07-31 00:00:00 2018-07-09 00:00:00 149.73 btw 150-180days
30554 2018-05-09 00:00:00 2018-11-05 00:00:00 2018-11-08 00:00:00 449.12 btw 180-210days
30689 2018-06-22 00:00:00 2018-12-19 00:00:00 2018-12-18 00:00:00 33.0 btw 150-180days
30816 2020-05-21 00:00:00 2020-11-17 00:00:00 NaN NaN NaN
30997 2013-05-15 00:00:00 2013-11-11 00:00:00 NaN NaN NaN
31131 2017-09-06 00:00:00 2018-03-05 00:00:00 2018-02-12 00:00:00 15.67 btw 150-180days
31297 2014-09-03 00:00:00 2015-03-02 00:00:00 2015-02-23 00:00:00 285.68 btw 150-180days
31492 2017-08-28 00:00:00 2018-02-24 00:00:00 2018-02-14 00:00:00 475.77 btw 150-180days
31839 2019-10-29 00:00:00 2020-04-26 00:00:00 NaN NaN NaN
31921 2016-03-22 00:00:00 2016-09-18 00:00:00 NaN NaN NaN
32116 2019-09-24 00:00:00 2020-03-22 00:00:00 NaN NaN NaN
32230 2015-11-04 00:00:00 2016-05-02 00:00:00 2016-05-16 00:00:00 50.12 btw 180-210days
32276 2014-08-18 00:00:00 2015-02-14 00:00:00 2015-02-18 00:00:00 10.0 btw 180-210days
32280 2016-02-26 00:00:00 2016-08-24 00:00:00 NaN NaN NaN
33477 2016-05-27 00:00:00 2016-11-23 00:00:00 2016-12-02 00:00:00 15.98 btw 180-210days
33500 2017-06-28 00:00:00 2017-12-25 00:00:00 2017-12-06 00:00:00 75.87 btw 150-180days
33586 2019-10-08 00:00:00 2020-04-05 00:00:00 NaN NaN NaN
34207 2018-09-27 00:00:00 2019-03-26 00:00:00 2019-03-26 00:00:00 17.0 btw 180-210days
34414 2019-12-05 00:00:00 2020-06-02 00:00:00 2020-06-01 00:00:00 13.07 btw 150-180days
34433 2015-08-10 00:00:00 2016-02-06 00:00:00 2016-02-09 00:00:00 604.14 btw 180-210days
34547 2018-05-09 00:00:00 2018-11-05 00:00:00 2018-10-30 00:00:00 436.0 btw 150-180days
35103 2019-10-10 00:00:00 2020-04-07 00:00:00 NaN NaN NaN
35115 2017-11-01 00:00:00 2018-04-30 00:00:00 2018-05-01 00:00:00 21.31 btw 180-210days
35343 2019-01-07 00:00:00 2019-07-06 00:00:00 2019-07-24 00:00:00 574.43 btw 180-210days
35779 2014-07-16 00:00:00 2015-01-12 00:00:00 NaN NaN NaN
36062 2016-06-07 00:00:00 2016-12-04 00:00:00 2016-12-13 00:00:00 86.93 btw 180-210days
36249 2019-02-28 00:00:00 2019-08-27 00:00:00 NaN NaN NaN
36508 2016-07-11 00:00:00 2017-01-07 00:00:00 NaN NaN NaN
167118 2020-02-19 00:00:00 2020-08-17 00:00:00 NaN NaN NaN
167358 2019-04-24 00:00:00 2019-10-21 00:00:00 2019-10-09 00:00:00 109.11 btw 150-180days
180346 2019-09-18 00:00:00 2020-03-16 00:00:00 NaN NaN NaN
180780 2020-01-15 00:00:00 2020-07-13 00:00:00 NaN NaN NaN
185086 2020-02-07 00:00:00 2020-08-05 00:00:00 NaN NaN NaN
186766 2020-02-03 00:00:00 2020-08-01 00:00:00 NaN NaN NaN
187363 2019-06-19 00:00:00 2019-12-16 00:00:00 2019-11-25 00:00:00 6.07 btw 150-180days

In [32]:
df_results=pd.DataFrame(result_list)
df_results.columns=(['person_id', 'inital_ADT_end_date','6 mons after ADT', 'Tdate closest to 6 mons after ADT', "Tvalue","Tdate_status"])

In [33]:
#create a column for the time gap to screen the ones outside the 5mons to 7 mons window  
df_results['Tvalue_ADT+6mons_gap'] = df_results['Tdate closest to 6 mons after ADT'] - df_results['6 mons after ADT']
#create a column for the inital adt use window as days
df_results['Tvalue_ADT+6mons_gap_days']=df_results['Tvalue_ADT+6mons_gap'].dt.days

In [34]:
df_results

,person_id,inital_ADT_end_date,6 mons after ADT,Tdate closest to 6 mons after ADT,Tvalue,Tdate_status,Tvalue_ADT+6mons_gap,Tvalue_ADT+6mons_gap_days
0,38,2016-07-18,2017-01-14,2017-01-20,18.85,btw 180-210days,6 days,6.0
1,81,2016-06-09,2016-12-06,2016-12-29,228.03,btw 180-210days,23 days,23.0
2,119,2013-10-02,2014-03-31,NaT,NaN,NaN,NaT,NaN
3,870,2017-10-13,2018-04-11,2018-04-10,228,btw 150-180days,-1 days,-1.0
4,1257,2015-07-08,2016-01-04,2016-01-27,203.25,btw 180-210days,23 days,23.0
...,...,...,...,...,...,...,...,...
162,180346,2019-09-18,2020-03-16,NaT,NaN,NaN,NaT,NaN
163,180780,2020-01-15,2020-07-13,NaT,NaN,NaN,NaT,NaN
164,185086,2020-02-07,2020-08-05,NaT,NaN,NaN,NaT,NaN
165,186766,2020-02-03,2020-08-01,NaT,NaN,NaN,NaT,NaN
166,187363,2019-06-19,2019-12-16,2019-11-25,6.07,btw 150-180days,-21 days,-21.0

In [ ]:
# Output results  <a class="anchor" id="third-bullet"></a>

In [36]:
df_results.to_csv("./data/localized_167pts_cohort_Tdate_Tvalue_ADTwindow_closest_to_6mons_after_ADT.csv", encoding='utf-8', index=False)